//
// Font Stacks
//
$sans-serif-regular: "DIN Next W02 Regular", Arial, sans-serif;
$sans-serif-thin: $sans-serif-regular;
$sans-serif-light: $sans-serif-regular;
$sans-serif-semibold: $sans-serif-regular;
$sans-serif-bold: "DIN Next W02 Bold", Arial, sans-serif;

$sans-serif-regular-alt: "DIN Next W02 Medium", Arial, sans-serif;
$sans-serif-bold-alt: "DIN Next W02 Black", Arial, sans-serif;

$serif: Crete Round, Times, serif;
//
// Font Weights
//
$font-wt-thin: normal;
$font-wt-light: normal;
$font-wt-regular: normal;
$font-wt-semibold: normal;
$font-wt-bold: normal;

$sans-serif-regular-weight: normal;
$sans-serif-regular-alt-weight: normal;
$sans-serif-bold-weight: normal;
$sans-serif-bold-alt-weight: normal;

//
// Font Style
//
$font-style-italic: italic;
