.product-tile {
    @include clearfix();
    background: $white;
    color: $body-text-color-lt;
    padding-bottom: 20px;
    position: relative;
    text-align: center;

    img {
        max-width: 100%;
    }

    .product-badge {
        height: 20px;
        width: 36px;
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .branded {
        display: inline-block;
        &.asics,
        &.at,
        &.ot {
            margin-top: 10px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &.asics {
            height: 22px;
            width: 67px;
            background-image: url("../images/icons/logo-asics-gray.svg");
        }

        &.at {
            height: 17px;
            width: 77px;
            background-image: url("../images/icons/logo-asicstiger-grey.svg");
        }

        &.ot {
            height: 27px;
            width: 42px;
            background-image: url("../images/icons/logo-onitsukatiger.svg");
        }
    }
    .product-image {
        height: auto;
        padding: 20px 10px 10px;
        position: relative;

        @include respond(large-up) {
            padding: 40px 10px 10px;
        }

        img {
            width: 100%;

            @include respond($mobile-menu-breakpoint) {
                width: 191px;
            }

            @include respond($max-content-breakpoint) {
                width: 249px;
            }
        }

        .quickview {
            @include font-bold(14px);
            background-color: $quick-view-btn-bg;
            color: #fff;
            display: none;
            width: 55%;
            //For IE
            width: max-content;
            max-width: 75%;
            bottom: 24px;
            left: 50%;
            padding: 0.5em 15%;
            position: absolute;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
        }

        &:hover {
            .quickview {
                display: block;
            }
        }
    }
    .product-name {
        height: auto;
        overflow: auto;
        a {
            @include typo-product-name-small();
            color: $product-tile-name;
        }
    }
    .product-pricing {
        @include typo-product-price-small();
        color: $product-tile-price;
        margin: 0 0 15px;
        .product-standard-price {
            text-decoration: line-through;
            color: $product-tile-standard-price;
        }
    }
    .grid-tile & .product-swatches {
        float: none;
        @include respond(large-up) {
            margin-top: rem(5px);
        }
    }
    .product-swatches-all {
        color: $product-swatch-count;
        cursor: pointer;
        font-size: 0.9em;
        @include respond(large-up) {
            display: none;
        }
    }
    .product-swatches {
        margin: 0 auto;
        position: relative;
        max-width: 208px;
        min-height: 20px;
        ul {
            display: none;
            list-style: none outside none;
            margin: 0;
            padding: 0;
            width: 100%;
            @include respond(large-up) {
                display: block;
            }
            &.swatch-toggle {
                background: none repeat scroll 0 0 $base-bg;
                position: absolute;
            }
            &.slick-slider {
                display: none;
                @include respond(large-up) {
                    display: block;
                    max-width: 215px;
                }
                button {
                    &::before {
                        height: 10px;
                        width: 10px;
                    }
                }
                .slick-prev,
                .slick-next {
                    &::before {
                        top: 1px;
                    }
                }
            }
        }
        li {
            display: inline-block;
        }
        .swatch {
            display: block;
            margin-right: 5px;
            width: 61px;
            img {
                border: 1px solid $base-bg;
                height: auto;
                padding: 1px 1px 3px 1px;
                width: $product-swatch-width;
                box-sizing: border-box;
            }
        }
        .selected:not(.preview) img,
        img:hover {
            border-bottom: $border-search-swatch;
        }
    }
    .swatch-count {
        a {
            @include typo-header-utility-link();
            color: $product-swatch-count;
            text-transform: capitalize;
        }
    }
    .mobile-swatches {
        @include respond(large-up) {
            display: none;
        }
    }
    .product-promo {
        @include typo-product-promo-small();
        color: $alert-color;
        margin: 0.5em 0;
        min-height: 21px;
    }
    .product-compare {
        float: left;
        line-height: 11px;
        label {
            font-weight: $font-wt-regular;
            line-height: 1;
            padding: 0 0 0 .5em;
            width: auto;
        }
        input {
            float: left;
            margin: 0;
        }
    }
    .product-review {
        margin-bottom: 0;
        @include respond(large-up) {
            margin-bottom: 1em;
        }
        .rating-title {
            display: inline-block;
            margin-right: 1em;
        }
        .rating {
            display: inline-block;
        }
    }
    .wide-tiles & {
        .product-image {
            float: left;
            padding-right: 2em;
        }
        .product-name,
        .product-pricing,
        .product-promo,
        .product-swatches,
        .product-review {
            float: left;
            text-align: left;
            width: 65%;
        }
        .product-name {
            color: $search-product-name-color;
            font-size: 1.5em;
            height: auto;
            margin-top: 0;
        }
        .product-pricing {
            font-size: 1.3em;
        }
        .product-swatches {
            margin-bottom: 1em;
        }
        @include respond(medium-down) {
            .product-image {
                width: 41%;
            }
            .product-name,
            .product-pricing,
            .product-promo,
            .pr_stars,
            .product-swatches {
                float: right;
            }
            .product-name h2 {
                margin-top: 0;
            }
        }

        @include respond(medium) {
            .product-name h2 {
                margin-top: 10px;
            }
            .product-image {
                width: 38%;
            }
        }
    }
    @include respond(medium-down) {
        .product-swatches .swatch {
            width: auto;
            img {
                height: 2em;
                width: 2em;
            }
        }
        .product-image {
            height: auto;
        }
    }

    @include respond(medium) {
        .pr_stars {
            left: 40px;
        }
    }
    /* Product Tile Swatch Slider */
    .slick-slider {
        button {
            border: 0;
        }
        .slick-slide {
            @include respond(desktop) {
                &:nth-child(odd) {
                    padding-right: 0;
                }
                &:nth-child(even) {
                    padding-left: 0;
                }
            }
        }
        .slick-next {
            right: -32px;
            &::before {
                top: 10px;
            }
            @include respond(medium-down) {
                right: -20px;
                opacity: 1;
            }
        }
        .slick-prev {
            left: -32px;
            &::before {
                top: 10px;
            }
            .icon {
                transform: rotate(180deg);
            }
            @include respond(medium-down) {
                left: -20px;
                opacity: 1;
            }
        }
        .slick-next,
        .slick-prev {
            top: 30%;
            transform: translateX(-50%);
        }
    }
}

/* Search Specific Product Tiles */
.pt_product-search-result,
.pt_product-search-noresult,
.pt_content-search-result {
    .grid-tile {
        border-bottom: $border;
        border-top: $border;
        border-right: $border;
        margin-top: -1px;
        @include respond(desktop) {
            border-bottom: 0;
        }
    }
    .product-tile {
        @include respond($mobile-menu-breakpoint) {
            height: 100%;
        }

        &.active {
            @include respond($mobile-menu-breakpoint) {
                box-shadow: $shadow-tile;
                left: -8px;
                position: absolute;
                top: -8px;
                bottom: -8px;
                width: calc(100% + 16px);
                z-index: 1;
            }

            .product-promo,
            .product-tile-rating {
                @include respond($mobile-menu-breakpoint) {
                    display: none;
                }
            }
        }

        .product-name,
        .product-pricing,
        .product-promo,
        .product-swatches,
        .product-review {
            padding-left: 10px;
            padding-right: 10px;
            @include respond(large-up) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        .product-swatches {
            display: none;
            margin: 0 auto;
            position: relative;
            max-width: 208px;

            @include respond(large-up) {
                min-height: 63px;
            }

            &.active {
                @include respond($mobile-menu-breakpoint) {
                    display: block;
                }
            }
        }
        .swatch-count {
            &.hidden {
                @include respond($mobile-menu-breakpoint) {
                    display: none;
                }
            }
        }
    }
}

.capture-product-id {
    left: -999em;
    position: absolute;
}

.bv-cv2-cleanslate div[class*=" bv-core-container-"] .bv-inline-rating-container .bv-stars-container dd {
    display: block !important;
    float: right !important;
    padding: 0 !important;
    text-align: center !important;
    width: 100% !important;
}
