/////////////////////////////////////////////
/// Global
/////////////////////////////////////////////
.pt_product-search-result,
.pt_product-search-noresult,
.pt_content-search-result {
    #main {
        //full bleed under 1024px, but keep the max-width constraint
        @include override-content-width-gutters();
        padding: 0;
    }

    /* Search full-width centered 2 column content */
    .search-container {
        @include clearfix();

        @include respond(large-up) {
            @include content-width();
        }

        .primary-content {
            float: left;

            @include respond(large) {
                float: none;
                width: 100%;
                margin-left: 0;
            }
            @include respond(desktop) {
                padding-left: 4%;
            }
        }

        #secondary {
            display: none;

            @include respond(desktop) {
                display: block;
            }
        }
    }

    /* Search full-width centered bread crumbs */
    .search-breadcrumbs {
        @include content-width();
        padding: 0;

        @include respond(large-up) {
            padding: 0 rem(10px);
        }

        .breadcrumb {
            padding-left: 0;
            position: initial;
            transform: none;
            @include respond(medium-down) {
                display: block;
            }
        }
    }

    .slot-grid-header {
        @include content-width();
    }
}

.search-active-refinements {
    margin-bottom: 10px;
    .search-refinements {
        @include content-width();
        @include clearfix();
        margin: 0 auto rem(21px);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .search-refinement-header {
        @include typo-refinement-value();
        color: $page-heading-color;
        float: left;
        margin-right: 20px;
        text-transform: capitalize;
        @include respond(large-up) {
            float: none;
        }
    }
    .search-refinement {
        background: $header-search-background;
        border: $border;
        clear: left;
        float: left;
        margin: 5px 20px 5px 0;
        padding: 0 10px;
        @include respond(large-up) {
            float: none;
        }
    }
    .search-refinement-name {
        @include typo-refinement-value();
    }
    .search-refinement-value {
        @include typo-refinement-value();
        margin-left: 8px;
    }
    .refinement-relax {
        @include breadcrumb-relax();
        .icon.light-close.small {
            fill: $body-text-color;
            height: 12px;
            position: relative;
            top: -2px;
            width: 12px;
        }
    }
}

.pt_product-search-noresult {
    #main {
        padding-top: 24px;
    }
    .primary-content {
        @include content-width();
        padding-left: 0;
    }
    #secondary {
        display: none;
    }
    .section-header {
        clear: both;
    }
    .brand-refinements-top-wrapper {
        clear: both;
        float: left;
        width: 100%;
        @include respond(medium-up) {
            clear: none;
            float: right;
            margin-top: 11px;
            width: auto;
        }
        @include respond(large-up) {
            margin-top: 11px;
        }
    }
}

.pt_product-search-result .primary-content h1.content-header {
    padding-left: rem(15px);
}

.search-result-bookmarks {
    margin: rem(15px);

    .first {
        border-right: $border3;
        padding-right: rem(5px);
    }
}

.search-result-options {
    @include content-width();
    @include clearfix();
    border-bottom: $border;
    padding-bottom: rem(11px);
    position: relative;
    margin: 0 auto rem(21px);

    @include respond(large-up) {
        justify-content: flex-start;
    }
    @include respond(desktop) {
        justify-content: flex-end;
        flex-wrap: wrap;
        display: flex;
    }
    @include respond(large-down) {
        border-bottom: 0;
        margin: 0 auto;
        overflow: visible;

        .sort-by {
            margin: 0;
            margin-left: rem(10px);
        }

        .items-per-page {
            display: none;
        }
    }
    .search-pretty-header {
        @include typo-page-heading-browse();
        line-height: 1em;
        color: $page-heading-color;
        cursor: pointer;
        display: block;
        float: left;
        margin: 0 0 28px;
        padding: 15px 0 0;

        @include respond(desktop) {
            margin: 0;
        }

        @include respond(large-up) {
            margin-right: auto;
        }

        a {
            @include typo-page-heading();
            color: $link-paragraph-color;
            margin: 0 0 28px;
            padding: 15px 0 0;
        }
    }
}

.search-container {
    padding: 0;

    @include respond(large-up) {
        padding: 24px rem(10px) 0;
    }

    .slot-grid-header {
        > div {
            margin-bottom: 10px;
        }
    }
}

.load-more-products {
    @include typo-refinement-value();
    color: $icon-brand-color;
    cursor: pointer;
    text-align: center;

    .icon {
        fill: inherit;
    }
}

/////////////////////////////////////////////
/// Pagination
/////////////////////////////////////////////
.sort-by,
.items-per-page {
    float: right;
    margin: 0;

    fieldset {
        @include select-custom();
        min-width: 4.5em; //makes room for 2 digits in the items-per-page dropdown
    }

    label {
        @include visually-hidden();
    }

    button {
        background: none repeat scroll 0 0 $very-light-gray;
        border: 0 none;
        color: $body-text-color-drk;
        display: none;
        font-size: 0.9em;
        padding: 0.3em;
        width: auto;
    }

    @include respond(desktop) {
        .search-select-style {
            background: $select-bg;
            background-position: right 10px center;
        }
    }
}

.sort-by {
    width: calc(50% - 5px);

    @include respond(desktop) {
        width: auto;
    }
}

.results-hits {
    line-height: normal;
    margin: 0;
    color: $page-heading-color-prod-count;
}

.pagination {
    margin: 40px auto 0;
    width: auto;
    text-align: center;

    .results-hits {
        margin-bottom: 10px;
    }

    ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }

    li {
        display: block;
        float: left;
        height: 25px;
        width: 25px;
        margin: 0 8px;
        border-radius: 50%;
        line-height: 1.8;

        &:hover {
            background-color: $pagination-indicator-bg;

            a {
                color: $pagination-indicator-active-color;
            }
        }

        &.current-page,
        a {
            @include font-size(14px);
            display: block;
            color: $pagination-indicator-color;
        }

        &.current-page {
            color: $pagination-indicator-active-color;
            background-color: $pagination-indicator-active-bg;
        }

        .icon {
            width: 8px;
            height: 11px;
            margin-top: -3px;
            fill: $pagination-indicator-active-color;
        }
    }
}

.pt_content-search-result {
    .pagination {
        text-align: left;
    }
}

.mobile-refinements {
    @include search-select-style();
    clear: left;
    cursor: pointer;
    float: left;
    width: calc(50% - 5px);

    @include respond(desktop) {
        display: none;
    }

    &.active {
        margin-bottom: 5px;
        position: relative;
    }

    .mobile-refinements-header {
        @include select-element();
        height: $input-height - $input-border-width * 2;
        line-height: $input-height - $input-border-width * 2;
        padding: 0 0 0 10px;
        border: none;
        background: $trans;
    }
}

.mobile-refinements-wrapper {
    background: $select-bg2;
    border: $border-refinement-mobile;
    float: left;
    display: none;
    padding: rem(11px);
    width: calc(100% - 24px);

    &.active {
        display: block;
        margin-top: -2px;

        @include respond(desktop) {
            display: none;
        }
    }

    > .refinement-header {
        display: none;
    }
}

.mobile-refinements-close {
    @include typo-product-attr-value();
    padding: 15px 0 5px;
    text-align: center;
    color: $section-heading-color;
    cursor: pointer;
}

.no-results-crossbrand {
    text-align: center;
    color: $product-tile-name;

    p {
        @include typo-sub-heading-3();
        @include respond(large-up) {
            padding: 30px 0 0;
        }
    }
}

/////////////////////////////////////////////
/// Product Grid
/////////////////////////////////////////////
.search-result-content {
    clear: both;
    padding: 0 10px;

    @include respond(large-up) {
        padding: 0;
    }
}

.search-result-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    @include respond(desktop) {
        .new-row {
            clear: both;
        }
    }

    li {
        list-style: none outside none;
    }

    .grid-tile {
        box-sizing: border-box;
        background: none repeat scroll 0 0 $base-bg;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        position: relative;
        width: 50%; //2 tiles per row

        &:nth-child(-n+2) {
            border-top: none;
        }

        @include respond(desktop) {
            padding: 0;
            width: calc(100% / 3); //3 tiles per row

            &:nth-child(-n+3) {
                border-top: none;
                margin-top: 0;
            }

            &:nth-child(n+4) {
                border-bottom: none;
            }

            &:nth-child(3n) {
                border-right: none;
            }
        }

        @include respond(large-down) {
            &:nth-child(2n) {
                border-right: none;
            }

            &:nth-child(n+3) {
                border-bottom: none;
            }
        }
    }

    .invisible {
        display: none;
    }

    .wide-tiles & {
        .grid-tile {
            width: 91%; //1 tile per row
        }

        .product-tile {
            .product-swatches {
                bottom: auto;
                left: auto;
                position: relative;
                right: auto;
                margin-top: rem(5px);

                li {
                    float: left;
                }
            }
        }
    }
}

/////////////////////////////////////////////
/// Bottom Promo (below product grid)
/////////////////////////////////////////////
.search-promo {
    padding: rem(20px) 0;
}

/////////////////////////////////////////////
/// Content Hits (Search Articles)
/////////////////////////////////////////////
#results-content {
    @include typo-article-heading();
    border-bottom: $border-light;
    color: $search-articles-heading-color;
    cursor: pointer;
    font-style: normal;
    padding-bottom: 5px;
    text-align: right;
    span {
        font-size: 0.9em;
    }
    &.active {
        .icon {
            transform: rotate(270deg);
        }
    }
    .icon {
        fill: $search-articles-heading-color;
        transform: rotate(90deg);
    }
}
.search-results-container {
    @include content-width();
}
.search-results-content {
    border-bottom: $border-light;
    display: none;
    &.active {
        display: block;
    }
}
.folder-content-list {
    align-items: stretch;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    @include respond(medium-up) {
        flex-wrap: nowrap;
    }
    &.rows {
        flex-wrap: wrap;
        li {
            border-bottom: $border-light;
            border-right: 0;
            box-sizing: border-box;
            flex-basis: 100%;
            flex-grow: 1;
            flex-shrink: 0;
            list-style: none outside none;
            margin: 1% 0;
            padding: rem(16px) 0;
        }
    }
    li {
        border-bottom: $border-light;
        border-right: 0;
        box-sizing: border-box;
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        list-style: none outside none;
        margin: 1% 0;
        padding: rem(16px) 0;
        @include respond(medium-up) {
            border-bottom: 0;
            border-right: $border-light;
            margin: 1%;
            padding: rem(16px);
            /* for non-flex browsers */
            display: inline-block;
            vertical-align: top;
            width: 33%;
            /* for flex browsers */
            flex-basis: 33%;
            flex-shrink: 1;
        }
        &:first-of-type {
            margin-left: 0;
            padding-left: 0;
        }
        &:last-of-type {
            border-bottom: 0;
            border-right: 0;
            margin-right: 0;
            padding-right: 0;
        }
    }
    .content-title {
        @include typo-sub-heading-2();
        color: $page-heading-color;
        display: block;
        width: 100%;
    }
}
.return-to-search {
    display: block;
    float: left;
    width: 100%;
}
.folders-header {
    margin-top: 0;
}
.folder-refinement {
    h3 {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #category-level-1 {
        padding-left: 0;
        padding-right: 0;
    }
}

/////////////////////////////////////////////
/// Search - No Results
/////////////////////////////////////////////
.no-results {
    padding: rem(20px);
}
.no-hits-search-term,
.no-hits-search-term-suggest {
    color: $error-color;
    @include font-italic();
}
.no-hits-search {
    .input-text {
        width: calc(100% - #{rem(90px)});
    }
    button {
        margin-left: rem(10px);
    }
}
.no-hits-footer {
    border-top: $border-light;
    margin: rem(20px) 0;
    padding: rem(20px) 0;
}
#nohits-search {
    width: 66%;
    @include respond(large-up) {
        width: 75%;
    }
}
.no-hits-header {
    float: left;
    margin-top: 0;
}

/////////////////////////////////////////////
/// Brand Refinements
/////////////////////////////////////////////
.brand-refinements-top-title {
    @include select-element();
    @include line-height(13px);
    cursor: pointer;
    border: 0;
    width: auto;
    background: $trans;

    .mobile-title {
        margin-top: 12px;
        display: block;
    }

    .desktop-title {
        display: none;
    }

    &.search-select-style {
        &.active {
            background: none;
        }
    }

    @include respond(desktop) {
        padding: 0 10px 0 15px;
    }

    @include respond(large-down) {
        padding: 0 10px;
    }
}
.brand-refinements-top-wrapper {
    float: right;
    margin: 10px 10px 0 0;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    @include respond(large-up) {
        margin: 0;
        width: auto;
    }
}
.brand-refinements-top-content {
    float: left;
    width: auto;
    z-index: 1;
}
.brand-refinements-top,
.brand-refinements-inner {
    float: left;
}

.brand-refinements-header {
    @include typo-refinement-title();
    align-self: center;
    color: $page-heading-color;
    padding-bottom: rem(10px);
    width: 100%;
    display: inline-block;
    @include respond(large-up) {
        padding-bottom: 0;
        width: auto;
        padding-top: 7px;
    }
}
.refinement-more-brands {
    position: relative;
    top: -14px;
    padding-right: 15px;
}
.brand-refinements-list {
    display: flex;
    align-items: center;
    float: left;
    list-style: none;
    padding: 0;
    width: auto;
    margin: 0;

    li {
        display: inline-block;
        float: left;
        text-align: center;
        width: auto;
        & + li {
            border-left: $border;
        }
        @include respond(large-up) {
            &:first-of-type {
                border-top: 0;
                padding-top: 0;
            }
            &:hover {
                background: $search-tab-selected-bg;
            }
        }
        a {
            @include font-bold();
            color: $search-tab-color;
            display: block;
            padding: 8px;
            span {
                display: none;
            }
            &:hover {
                text-decoration: none;
                color: $search-tab-selected-color;
                .icon {
                    fill: $search-tab-selected-color;
                }
            }
            .icon {
                fill: $body-text-color;
                max-width: 75px;
                @include respond(large-up) {
                    max-width: initial;
                }
            }
            .logo-onitsukatiger {
                height: 25px;
                width: 39px;
                margin-top: 0;
            }
            .logo-asicstiger,
            .logo-asics {
                height: 25px;
                width: 73px;
            }
        }
    }
}

.refinement-clear-all {
    clear: left;
    display: inline-block;
    float: left;
    @include respond(large-up) {
        float: none;
    }
}

.pt_error {
    #secondary {
        display: none;
    }
    #primary {
        width: 100%;
        padding-left: 0;
        margin-left: 0;
        float: initial;
    }
    .level-2 .sub-nav-content-asset .sub-nav-content-container {
        width: fit-content;
    }
}
