.brands {
    list-style: none;
    padding: 11px 0;
    margin: 0;

    @include respond($mobile-menu-breakpoint) {
        padding: 0;
    }

    @include respond(large-down) {
        display: flex;
        flex-direction: column;
    }

    .stores-flex {
        @include respond(large-down) {
            order: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}

.brand-item {
    position: relative;
    height: 28px;
    text-align: center;

    @include respond($mobile-menu-breakpoint) {
        float: left;
        padding: 0 20px;
        border-bottom: none;
        border-left: $border-brands;
        text-align: left;
    }

    &.brand-text {
        @include typo-brand-text();
        border-bottom: none;
        color: $link-header-utility-desktop-color;
        cursor: pointer;

        @include respond(large-down) {
            height: 14px;
            order: 2;
        }

        @include respond($mobile-menu-breakpoint) {
            padding-left: 0;
            border-left: none;
            cursor: default;
            display: flex;
            align-items: center;
        }

        .icon {
            margin-left: 4px;

            @include respond($mobile-menu-breakpoint) {
                display: none;
            }

            &.minus {
                display: none;
                fill: $icon-brand-text-fill;

                .brands-active & {
                    display: inline-block;
                }
            }

            &.plus {
                fill: $icon-brand-text-fill;
                position: relative;
                top: -2px;

                .brands-active & {
                    display: none;
                }
            }
        }
    }

    &.logo {
        display: none;
        padding: 0 15px;
        margin-bottom: 20px;
        margin-top: 10px;

        .brands-active & {
            display: block;
        }

        @include respond($mobile-menu-breakpoint) {
            display: block;
            padding: 0 20px;
            margin-bottom: 0;
            margin-top: 0;
        }
        @include respond(large-down) {
            border-right: $border-brands;
            &:last-child {
                border-right: 0;
            }
        }
    }

    .icon {
        fill: $icon-brand-fill;
        &:hover {
            fill: $icon-brand-hover-fill;
        }

        &.logo-asics {
            width: 69px;
            height: 23px;
        }

        &.logo-asicstiger {
            width: 83px;
            height: 17px;
        }

        &.logo-onitsukatiger {
            width: 42px;
            height: 27px;
        }
    }

    &.selected {
        @include respond($mobile-menu-breakpoint) {
            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: -1px;
                left: 50%;
                transform: translateX(-50%);
                border: 7px solid $trans;
                border-bottom: 7px solid $border-top-menu-color;
                border-top: none;

                @include respond($mobile-menu-breakpoint) {
                    bottom: -10px;
                }
            }
        }

        .icon {
            fill: $icon-brand-selected-fill;
        }
    }
}

.mobile-brands-menu {
    box-sizing: border-box;
    padding: rem(25px) rem(20px);
    @include respond($mobile-menu-breakpoint) {
        display: none;
    }
    .brands {
        padding: 0;
    }
    .stores-flex {
        order: 2;
        flex-direction: column;
    }
    .brand-item {
        text-align: left;
        &.brand-text {
            order: 1;
            color: $link-main-nav-mobile-color;
            margin-bottom: 20px;
            @include font-semibold(12px);
            cursor: default;
            .icon {
                display: none;
            }
        }
        .icon {
            &:hover {
                fill: $icon-brand-fill;
            }
        }
        &.logo {
            display: block;
            border: 0;
            padding: 0;
            margin: 0 0 20px 0;
        }
        &.selected {
            .icon {
                fill: $icon-brand-fill;
            }
        }
    }
}
