@import "../lib/flag-icon-css/flag-icon";

.country-selector {
    width: 50%;
    text-align: center;

    @include respond($mobile-menu-breakpoint) {
        width: auto;
        float: left;
        line-height: 21px;
        text-align: left;
    }

    .brands-available & {
        float: right;
        padding: 0 12px;
    }

    .selector {
        display: none;
        margin-top: .5rem;
        padding-left: 2rem;

        &.active {
            display: block;
        }

        @include respond(large-up) {
            background-color: $base-bg;
            border-radius: 3px;
            box-shadow: $shadow;
            margin-top: 1rem;
            padding: 1rem;
        }
    }

    .current-country {
        @include typo-header-utility-link();
        @include line-height(24px);
        color: $link-header-utility-mobile-color;
        cursor: pointer;

        @include respond($small-breakpoint, $mobile-menu-breakpoint) {
            @include typo-paragraph();
            line-height: 60px;
        }

        @include respond($mobile-menu-breakpoint) {
            color: $link-header-utility-desktop-color;
        }

        &.selector-active {
            border-bottom: 1px solid lighten($header-nav-mobile-bg, 20%);

            .selector-icon {
                transform: rotate(270deg);
            }
        }

        @include respond(large-up) {
            &.selector-active {
                border-bottom: none;
                padding-bottom: 0;
                // prevent the text from shifting left to accommmodate the selector width
                position: absolute;
                right: 0;
            }
        }

        .selector-icon {
            margin-right: .3rem;

            @include respond(large-up) {
                float: right;
                margin-right: 0;
                margin-left: .3rem;
                // display as angle-down icon for desktop
                transform: rotate(90deg);
            }
        }

        .flag-icon {
            border: none;
        }
    }
    .continent-name {
        margin-top: 0;
        margin-bottom: .5rem;
        @include respond(large-up) {
            color: $alert-color;
        }
    }
    .country {
        margin-bottom: .5rem;
    }
    .locale {
        border-right: $border;
        display: inline-block;
        padding: 0 .3rem;
        vertical-align: middle;
        &:first-of-type {
            padding-left: 0;
        }
        &:last-of-type {
            border-right: none;
            padding-right: 0;
        }
    }
    .flag-icon {
        border: $border;
        margin-right: .3rem;
        top: -1px;
    }
}

.pt_countryselector {
    .primary-content {
        h1 {
            @include typo-page-heading();
            text-align: center;
        }

        .content-asset {

            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            * {
                box-sizing: border-box;
            }
        }
    }
}

.country-column {
    @include respond(large-up) {
        flex-basis: 20%;
        padding-right: 20px;
    }

    &.wide {
        @include respond(large-up) {
            display: flex;
            flex-wrap: wrap;
            flex-basis: 40%;

            h2 {
                flex-basis: 100%;
            }

            .links {
                flex-basis: 50%;
                padding-right: 10px;
            }
        }
    }

    h2 {
        @include typo-secondary-heading();
        padding-bottom: 4px;
        border-bottom: $border-light;
        color: $section-heading-color;
    }

    a {
        @include typo-list();
        display: block;
    }

    .flag-icon {
        margin-right: 6px;
    }
}

.change-country-modal {
    p {
        margin-top: 0;
    }
}
