@import "nav";
@import "menu_utility";
@import "search_suggestion";
@import "country_selector"; //remove this if multiple countries will not be used
@import "minicart";

.skip-nav {
    position: absolute;
    left: -10000px;

    &:focus {
        top: 0;
        left: 0;
        z-index: 10000;
        padding: 0.5em;
        background-color: $skip-nav-focus-bg-color;
    }
}

.top-menu {
    background-color: $top-menu-bg-color;
    border-bottom: $border-top-menu;

    .mini-cart,
    .menu-utility-user,
    .country-selector {
        display: none;

        @include respond($mobile-menu-breakpoint) {
            display: block;
        }
    }
}

.top-menu-inner {
    @include respond($mobile-menu-breakpoint) {
        @include clearfix();
        box-sizing: border-box;
        max-width: $max-content-breakpoint;
        padding: 10px;
        margin: 0 auto;
    }
}

.top-banner-inner {
    @include clearfix();
    box-sizing: border-box;
    max-width: $max-content-breakpoint;
    margin: 0 auto;

    @include respond(large-up) {
        height: $header-desktop-height;
    }

    @include respond($mobile-menu-breakpoint) {
        display: flex;
        padding: 0 10px;
        text-align: left;
    }
}

.primary-logo {
    @include h1();
    @include line-height($header-mobile-height);
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    margin: 0 auto;

    @include respond(large-up) {
        @include line-height($header-desktop-height);
    }

    @include respond($mobile-menu-breakpoint) {
        position: static;
        transform: none;
        margin: 0;
        padding: 0;
    }

    a {
        @include font-size(38px);
        display: flex;
        align-items: center;
    }
}

.header-promotion {
    @include line-height(22px);
    @include font-semibold(12px);
    padding: 9px 10px;
    text-align: center;
    background-color: $header-banner-bg;
    color: $header-banner-color;

    @include respond(large-up) {
        @include font-size(16px);
    }
}

.top-banner-right {
    @include respond($mobile-menu-breakpoint) {
        display: flex;
        margin-left: auto;
        align-items: center;
    }

    .simplified & {
        display: flex;
        padding-right: 15px;
        margin-left: auto;
        align-items: center;

        @include respond($mobile-menu-breakpoint) {
            padding-right: 0;
        }
    }
}

.header-search {
    display: none;
    width: 100%;
    background: $header-search-background;

    @include respond($mobile-menu-breakpoint) {
        display: block;
        position: relative;
        width: 230px;
        height: 33px;
        border: $input-border;
        margin: 0 20px 0 auto;
        background-color: $input-bg;
    }

    &.active {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100000;
    }

    form {
        @include clearfix();
        background-color: $input-bg;

        @include respond(medium-down) {
            background-color: $body-bg;
        }

        @include respond($mobile-menu-breakpoint) {
            box-shadow: none;
        }
    }

    input[type="text"] {
        @include font-size(12px);
        float: left;
        height: 40px;
        padding: 0 120px 0 10px;
        border: none;
        margin: 0;
        background-color: $trans;
        color: $input-search-color;

        @include respond(medium-down) {
            @include font-bold(12px);
        }

        @include respond($mobile-menu-breakpoint) {
            height: 33px;
            padding: 0 45px 0 16px;
        }
    }

    .clear-search-button {
        @include line-height(40px);
        @include font-size(12px);
        display: none;
        position: absolute;
        right: rem(90px);
        height: rem(40px);
        text-decoration: underline;
        color: $icon-alt-fill;
        cursor: pointer;

        &.active {
            display: block;

            @include respond($mobile-menu-breakpoint) {
                display: none;
            }
        }
    }

    .clear-search-input {
        position: absolute;
        right: 40px;
        top: 5px;
        cursor: pointer;
        display: none;

        &.active {
            @include respond($mobile-menu-breakpoint) {
                display: block;
            }
        }

        svg {
            width: 10px;
        }
    }

    .search-button,
    .close-search-button {
        position: absolute;
        top: -1px;
        right: -1px;
        line-height: normal;
        padding: 0 4.5px;
        border-radius: 0;
        cursor: pointer;

        @include respond(large-down) {
            top: 0;
            right: 45px;
            border: none;
            background-color: transparent;

            .icon {
                fill: $icon-alt-fill;
            }
        }

        @include respond($mobile-menu-breakpoint) {
            padding: 0 4.5px;
            height: 34px;

            &:hover {
                .icon {
                    fill: $search-button-hover-icon-fill;
                }
            }

            .icon {
                fill: $btn-color;
            }
        }
    }

    .search-button {
        @include respond(large-down) {
            background-color: $brand-color2;
            border-radius: 50%;
            height: 32px;
            top: 4px;
            width: 32px;
            .icon {
                fill: $search-button-icon-fill;
                height: 17px;
                position: relative;
                top: -1px;
                width: 17px;
            }
        }
    }

    .close-search-button {
        right: 0;
        top: 4px;

        @include respond($mobile-menu-breakpoint) {
            display: none;
        }
        .close-icon {
            background: $search-button-close-icon;
            display: block;
            height: 32px;
            width: 32px;
        }
    }
}

nav {
    .mobile-search-toggle {
        margin-right: 0;
        @include respond(large-up) {
            margin-right: $mobile-search-toggle-margin;
        }
    }
}

.mobile-search-toggle {
    @include line-height($header-mobile-height);
    float: right;
    margin-right: $mobile-search-toggle-margin;
    cursor: pointer;

    @include respond(large-up) {
        @include line-height($header-desktop-height);
    }

    @include respond($mobile-menu-breakpoint) {
        display: none;
    }
}

// modal for showing that pricing was updated header/countrysettings
.pricing-updated-modal {
    display: none;

    &.visible {
        display: block;
    }
}

/////////////////////////////////////////
/// Custom Header Styles
/////////////////////////////////////////
.top-banner {
    position: relative;
    border-bottom: $border-top-banner;
    background-color: $header-bg;
    transition: left 0.2s ease-in;

    .sticky & {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100vw;
        max-width: 100%;

        + .header-banner {
            margin-top: rem($header-mobile-height);

            @include respond(large-up) {
                margin-top: rem($header-desktop-height);
            }
        }
    }

    .menu-active.sticky & {
        left: calc(100% - 45px);

        @include respond(large-up) {
            left: 50%;
        }
    }

    .search-active .sticky & {
        position: static;
    }

    * {
        box-sizing: border-box;
    }

    &.simplified {
        margin-bottom: 30px;

        .top-banner-inner {
            display: flex;
        }
        .shopping-cart {
            fill: $icon-fill;
        }

        .mini-cart {
            display: none;
        }

        .customer-service {
            margin-right: 0;
            padding-left: 30px;
            display: flex;
            @include respond(medium-down) {
                flex-direction: column;
            }

            span {
                @include typo-header-simp-customerservice();
                padding: 0 rem(2px) 0 0;
                margin-right: 5px;
                display: inline-block;
                position: relative;
                color: $ch-customer-service;
                line-height: 1.5em;

                &:last-child {
                    margin-right: 0;
                }

                &.bold {
                    @include typo-header-simp-customerservice-bold();
                    line-height: 1.5em;
                }
                a {
                    @include respond(large-up) {
                        color: $ch-customer-service;
                        pointer-events: none;
                    }
                }
            }
        }

        @include respond(large-down) {
            .top-banner-inner {
                height: 72px;

                .primary-logo {
                    position: relative;
                    left: initial;
                    transform: initial;
                    line-height: rem(70px);
                    padding-left: 15px;
                }
            }

            .customer-service {
                margin: 0;
            }

            .mini-cart {
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        @include respond(small-down) {
            .customer-service {
                span {
                    &:first-child {
                        width: 100%;

                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

#search-suggestions {
    @include respond(large-down) {
        .phrase-suggestions {
            display: none;
        }
        .product-suggestions {
            width: 100%;
        }
    }
}

.mobile-country-selector {
    @include respond($mobile-menu-breakpoint) {
        display: none;
    }
    .country-selector {
        width: 100%;
        text-align: left;
        padding: 25px 20px 0 20px;
        .current-country {
            line-height: 0;
            @include font-semibold(12px);
        }
    }
}
