.menu-utility-user {
    @include clearfix();
    margin: 0;
    padding: 0;
    float: right;

    li {
        @include line-height(24px);
        border-top: $border3;
        list-style: none;
        padding: 0.8em 1rem;

        &:first-child {
            border: none;
        }

        @include respond($mobile-menu-breakpoint) {
            background-color: $trans;
            border-top: none;
            float: left;
            margin: 0;
            padding: 0 rem(12px);
            text-align: center;

            &:first-child {
                border: none;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        a:not(.user-logout) {
            @include typo-header-utility-link();
            color: $link-header-utility-mobile-color;

            &:active {
                color: $link-header-utility-hover-color;
            }

            @include respond($mobile-menu-breakpoint) {
                color: $link-header-utility-desktop-color;
                transition: color .5s ease;
            }
        }
    }
    .user-info {
        @include respond($mobile-menu-breakpoint) {
            position: relative;
            transition: color .5s ease;
            @include typo-header-utility-link();
            color: $link-header-utility-desktop-color;
            &.active {
                .user-login {
                    color: $accent1-color;
                }
                .user-panel {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .user-panel {
            box-sizing: content-box;
            //See https://code.google.com/p/chromium/issues/detail?can=2&q=max-content&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Cr%20Status%20Owner%20Summary%20OS%20Modified&id=522191&thanks=522191&ts=1439925077
            margin-top: .5rem;
            text-align: left;
            transition: all .3s ease;
            width: 10rem;
            //For IE
            width: max-content;

            h3 {
                @include typo-secondary-heading();
                display: none;
                margin: 0;
                padding-bottom: 8px;
                text-align: center;

                @include respond($mobile-menu-breakpoint) {
                    display: block;
                }
            }

            @include respond($mobile-menu-breakpoint) {
                background-color: $base-bg;
                border: $border-light;
                border-radius: 5px;
                box-shadow: $shadow;
                margin-top: 0;
                opacity: 0;
                padding: 1em;
                position: absolute;
                right: -1.5rem;
                visibility: hidden;
                z-index: 20;
            }

            .user-links {
                padding-left: 1.5rem;
                text-align: center;

                @include respond($mobile-menu-breakpoint) {
                    padding-left: 0;
                }
            }

            a:not(.user-logout) {
                color: $link-color;
                display: block;
                padding: .5rem 0;

                @include respond($mobile-menu-breakpoint) {
                    padding: 0;
                    margin-bottom: .5rem;
                }
            }

            .user-logout {
                margin-top: 8px;
            }
        }
    }
}
