.mini-cart {
    @include line-height($header-mobile-height);
    float: right;

    @include respond(large-down) {
        margin-right: rem(15px);
    }

    @include respond(large) {
        @include line-height($header-desktop-height);
    }

    @include respond($mobile-menu-breakpoint) {
        @include line-height(1);
    }

    .sticky & {
        @include respond($mobile-menu-breakpoint) {
            @include line-height($header-desktop-height);
        }
    }

    .shopping-cart {
        fill: $icon-fill;
    }
}

.mini-cart-link {
    &:hover {
        text-decoration: none;
    }
}

.mini-cart-total {
    position: relative;
}

.mini-cart-quantity {
    @include typo-mini-cart-qty();
    display: inline-block;
    width: rem(20px);
    height: rem(20px);
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    background-color: $mini-cart-quantity-bg-color;
    color: $mini-cart-quantity-color;
    position: absolute;
    top: -10px;
    right: -12px;
    @include respond(large-down) {
        top: 18px;
        right: -10px;
    }
    .sticky & {
        top: 18px;
    }
}

.mini-cart-empty {
    color: $icon-header-fill;
    transition: color 500ms ease;

    &:hover {
        color: $icon-header-hover-fill;
        text-decoration: none;
    }

    .minicart-quantity {
        background-color: $header-bg;
        border: $border;
        color: $body-text-color-lt;
    }
}
