nav[role="navigation"] {
    @include clearfix();
    position: fixed;
    top: 0;
    left: calc(-100% + 45px);
    z-index: 10;
    transition: left 0.2s ease-in;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: calc(100% - 45px);
    height: 100%;
    margin-top: 0;
    background-color: $header-nav-mobile-bg;
    color: $inverted-text-color;

    .menu-active & {
        left: 0;
        box-shadow: $shadow-mobile-nav;
    }

    .menu-closed & {
        display: none;
    }

    @include respond(large-up) {
        left: -50%;
        width: 50%;

        .menu-active & {
            left: 0;
        }
    }

    @include respond($mobile-menu-breakpoint) {
        position: static;
        left: auto;
        width: auto;
        overflow-y: visible;
        margin-left: rem(28px);
        background-color: $header-bg;
        color: $body-text-color;
    }
}

.menu-toggle {
    @include line-height($header-mobile-height);
    float: left;
    padding: 0 rem(10px);
    border: none;
    background-color: $trans;
    transition: none;

    @include respond(large-up) {
        @include line-height($header-desktop-height);
    }

    @include respond($mobile-menu-breakpoint) {
        display: none;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: $trans;
        border-color: $trans;
    }

    .menu-icon {
        font-size: 2em;
    }
}

.store-locator-link {
    @include line-height($header-mobile-height);
    float: left;
    margin-left: $mobile-store-locator-margin;

    @include respond(large-up) {
        @include line-height($header-desktop-height);
    }

    @include respond($mobile-menu-breakpoint) {
        display: none;
    }
}

.mobile-menu-header {
    @include clearfix();
    display: flex;
    border-bottom: $border-mobile-account-link;
    background: $mobile-menu-header-bg;

    @include respond($mobile-menu-breakpoint) {
        display: none;
    }

    .mobile-search-toggle {
        @include typo-paragraph();
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 50%;
        line-height: 60px;
        border-left: $border-mobile-account-link;
        text-align: center;
        color: $link-main-nav-mobile-header-color;
        .icon {
            fill: $link-main-nav-mobile-header-color;
            margin-right: 10px;
        }

        &:hover {
            color: $link-main-nav-mobile-header-color;
            >div {
                text-decoration: underline;
            }
        }
    }
}

.mobile-account-link {
    @include typo-paragraph();
    display: block;
    width: 50%;
    line-height: 60px;
    border-left: $border-mobile-account-link;
    text-align: center;
    color: $link-main-nav-mobile-header-color;

    &:hover {
        color: $link-main-nav-mobile-header-color;
    }
}

.back-link,
.see-all-link {
    @include typo-main-navigation-header-link();
    display: block;

    @include respond($mobile-menu-breakpoint) {
        display: none !important;
    }
}

.back-link {
    padding-left: 40px !important;
    text-align: center;
}

.mobile-help-links,
.mobile-social-links {
    display: block;
    padding: 17px 20px 25px 20px;
    color: $link-mobile-nav-color;

    @include respond($mobile-menu-breakpoint) {
        display: none;
    }

    a {
        color: $link-mobile-nav-color;
    }
}

.mobile-help-links {
    border-bottom: $border-mobile-menu-link;

    a {
        display: block;
        margin-bottom: 15px;
        @include font-semibold(12px);

        &:last-child {
            margin: 0;
        }
    }
}

.mobile-social-links {
    h3 {
        @include typo-mobile-nav-text();
        margin: 0;
    }

    .icon {
        width: 26px;
        height: 26px;
        fill: $link-mobile-nav-color;

        &:hover {
            fill: rgba($link-mobile-nav-color, 0.6);
        }
    }

    .social-links {
        margin-top: 10px;

        li {
            padding-right: 20px;
        }
    }
}

.menu-tile {
    width: 25%;
    padding: 0 20px 25px;
    border-right: $border-light;
    text-align: center;

    @include respond($mobile-menu-breakpoint, $max-content-breakpoint) {
        &:nth-child(4n) {
            border: none;
        }

        &:nth-child(n+5) {
            margin-top: 20px;
        }
    }

    @include respond($max-content-breakpoint) {
        width: 20%;

        &:nth-child(5n) {
            border: none;
        }

        &:nth-child(n+6) {
            margin-top: 20px;
        }
    }

    &:last-child {
        border: none;
    }

    .menu-tile-heading {
        @include typo-main-navigation-header-link();
        color: $link-main-nav-header-color;
    }

    a:not(.menu-tile-heading) {
        @include typo-main-navigation-sub-link();
        color: $link-main-nav-sub-color;
    }
}

.menu-category-tiles {
    @include respond($mobile-menu-breakpoint) {
        display: flex;
        flex-wrap: wrap;
        width: 100% !important;
        justify-content: center;
    }
}

.menu-category-tile {
    @include respond($mobile-menu-breakpoint) {
        width: 25%;
        padding: 0 20px 25px;
    }

    @include respond($mobile-menu-breakpoint, $max-content-breakpoint) {
        &:nth-child(n+5) {
            margin-top: 20px;
        }
    }

    @include respond($max-content-breakpoint) {
        width: 20%;

        &:nth-child(n+6) {
            margin-top: 20px;
        }
    }

    img {
        display: none;

        @include respond($mobile-menu-breakpoint) {
            display: block;
            width: 100%;
        }
    }
}

.sub-nav-content-asset {
    display: block;
    &.show-menu-item {
        display: block;
        a {
            display: block;
        }
        .level-3 {
            display: none;
        }
        .sub-nav-content-column {
            &.text-content {
                li {
                    a {
                        display: block;
                    }
                }
            }
        }
    }
    &.large-nav-squares {
        .sub-nav-content-container {
            justify-content: center;
        }
    }
    .sub-nav-content-container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        @include respond($mobile-menu-breakpoint) {
            flex-direction: row;
            padding: 35px 0 50px 0;
        }
    }
    .sub-nav-content-column {
        box-sizing: border-box;
        @include respond($mobile-menu-breakpoint) {
            padding-right: 25px;
        }
    }
    .sub-nav-content-item {
        box-sizing: border-box;
        @include respond($mobile-menu-breakpoint) {
            padding-bottom: 35px;
        }
        img {
            height: 101px;
            width: 101px;
            display: none;
            @include respond($mobile-menu-breakpoint) {
                display: block;
            }
        }
        span {
            display: block;
            @include typo-main-navigation-header-link();
        }
        &.text-content {
            @include respond($mobile-menu-breakpoint) {
                padding-left: 20px;
                border-left: $border;
            }
            li {
                & > a {
                    @include typo-main-navigation-header-link();
                    @include respond($mobile-menu-breakpoint) {
                        &:hover {
                            text-decoration: none;
                            cursor: default;
                        }
                    }
                }
            }
        }
        &.single-item {
            padding-bottom: 0;
            img {
                height: 218px;
                width: 218px;
            }
        }
    }
}

.tap-to-close-mobile-menu {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
