.search-suggestion-wrapper {
    @include clearfix();
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: rem(43px);
    z-index: 801;
    overflow-y: scroll;
    width: 100%;
    background: $base-bg;

    @include respond(large-up) {
        &.full {
            right: 0;

            .phrase-suggestions,
            .product-suggestions {
                width: 50%;
            }
        }
    }

    @include respond($mobile-menu-breakpoint) {
        top: rem(36px);
        width: rem(265px);
        overflow-y: visible;
        box-shadow: $shadow;

        &.full {
            right: rem(-1px);
            width: rem(530px);
        }
    }
}

.hitgroup {
    color: $body-text-color;

    .header {
        @include typo-search-suggestion-heading();
        margin: rem(20px) 0 0 0;
        color: $suggestion-heading-color;
    }

    .hit {
        @include font-size(12px);
        display: block;
        margin-bottom: 8px;
        color: $link-search-suggest-color;

        &:hover {
            text-decoration: underline;
        }
    }

    .parent-category {
        color: $body-text-color-drk;
    }
}

.phrase-suggestions {
    padding: 0 0 rem(20px);
    border-top: $border-light;
    border-right: none;
    margin: 0 rem(10px);

    @include respond(large-up) {
        padding: 0 rem(20px) rem(20px);
        border-top: none;
        border-right: $border;
        margin: 0;
    }
}

.product-suggestions {
    padding: rem(20px) 0;
    margin: 0 10px;

    @include respond(large-up) {
        padding: rem(10px);
        margin: 0;
    }
}

.product-suggestion {
    @include clearfix();
    padding-top: rem(18px);
    $background-color: $base-bg;

    .product-image {
        display: none;
        float: left;
        padding-right: 10px;
        text-align: center;

        @include respond(large-up) {
            display: block;
            width: 25%;
        }

        @include respond($mobile-menu-breakpoint) {
            width: 38%;
        }

        img {
            display: block;
            max-width: 100%;
        }
    }

    .product-details {
        float: right;
        width: 100%;

        @include respond(large-up) {
            width: 75%;
        }

        @include respond($mobile-menu-breakpoint) {
            width: 62%;
        }

        .product-name {
            @include typo-product-name-small();
            color: $product-tile-name;
        }

        .product-price {
            @include line-height(16px);
            @include font-reg-alt(12px);
            color: $price-standard-color;
        }
    }
}

.search-phrase {
    @include line-height(21px);
    @include font-size(14px);
    color: $body-text-color-drk;

    @include respond(large-up) {
        @include line-height(24px);
        margin-top: 9px;
    }

    > a {
        color: $link-search-suggest-color;
    }

    .completed {
        .original {
            text-decoration: underline;
            font-weight: $font-wt-bold;
        }
    }

    .corrected {
        font-weight: $font-wt-bold;
    }
}
