.article-tile-wrap {
    margin: 0 auto;
    max-width: 1250px;
    box-sizing: border-box;
    .article-heading {
        margin: 25px 25px 0;
        border-bottom: 1px solid $content-seperator-color;
        &.center-copy {
            text-align: center;
        }
    }
    .article-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .article-tile {
        padding: 15px 25px;
        width: 50%;
        flex: 0 1 auto;
        box-sizing: border-box;
        cursor: pointer;
        @include respond(medium-down) {
            width: 100%;
        }
        a {
            h3 {
                @include font-bold(14px);
                color: $content-main-color;
                margin-bottom: 10px;
            }
            h4 {
                @include font-bold(12px);
                color: $grey-dark;
                margin: 10px 0;
            }
            p {
                margin-top: 10px;
                @include font-reg(12px);
                color: $grey-dark;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
}
