.contactus-wrap {
    //Content
    .main-page-content-contactus {
        .body-copy {
            border-top: 1px solid $qa-border-color;
            border-bottom: 1px solid $qa-border-color;
            padding: 20px 0;
        }
        .two-col-wrap {
            @include clearfix;
            .block {
                width: 50%;
                float: left;
                padding-right: 100px;
                box-sizing: border-box;
                h4 {
                    color: $customer-service-main-color;
                }
                strong {
                    font-family: $sans-serif-bold;
                }
                a {
                    @include secondary_link;
                }
                @include respond(medium-down) {
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }

    //Form
    .contact-us-form {
        background: $form-background-color;
        h2 {
            font-size: 1.25em;
            font-weight: 400;
            margin: 0;
            padding: 15px 20px;
            color: $customer-service-main-color;
            text-align: center;
        }
        p {
            padding: 0 20px;
            max-width: 500px;
            text-align: center;
            margin: 0 auto;
        }
        .form-row {
            label,
            .field-wrapper {
                float: none;
                width: 100%;
                padding: 0 30px;
                box-sizing: border-box;
            }
        }
        .required-copy {
            float: right;
            padding: 0 30px;
            box-sizing: border-box;
            color: $contact-us-notices;
            font-size: 10px;
        }
        .form-row-button {
            float: none;
            width: 100%;
            padding: 0 30px;
            margin: 0;
            #sendBtn {
                @include primaryButton;
                margin-bottom: 25px;
            }
        }
        textarea {
            height: 150px;
            padding: 5px;
        }
        .confirmation-message {
            padding: 20px;
        }
        .form-caption.error-message {
            color: red;
        }
        .required-indicator {
            margin-left: 0;
        }
        .char-count {
            color: $contact-us-notices !important;
            font-size: 12px !important;
        }
    }
}
