.copy-block {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 25px;
    h1 {
        margin-bottom: 0;
    }
    h3 {
        margin: 0;
        font-size: 1.25em;
    }
    .space {
        width: 100%;
        height: 20px;
    }
    .seperator {
        width: 100%;
        height: 0;
        border-bottom: 1px solid $content-seperator-color;
    }
}
