.main-page-content-customer-service-plain {
    .body-wrap {
        table {
            max-width: 225px;
            font-size: 13px;
            td {
                padding: 0;
            }
        }
    }
}
