.sizing-chart-wrap {
    .size-table-filters {
        padding-top: 25px;
        @include clearfix;
        select {
            width: 49%;
            float: left;
            margin: 1%;
            box-sizing: border-box;
            outline: none;
            -webkit-appearance: none;
            padding: 0 12px;
            -moz-appearance: none;
            appearance: none;
            &#type1-select {
                margin-left: 0;
            }
            &#type2-select {
                margin-right: 0;
            }
        }
    }
}
