.customer-service-wrap {
    h1 {
        border-bottom: 1px solid $qa-border-color;
        padding-bottom: 25px;
        margin: 0;
    }
    #main {
        margin-top: 20px;
    }
    //Left side nav
    #primary {
        border: none;
        .main-page-content {
            margin-bottom: 20px;
        }
    }

    #secondary {
        box-sizing: border-box;
        background: none;
        border: 1px solid $secondary-nav-border-color;
        width: 228px;
        margin-bottom: 20px;
        nav {
            padding: 0;
            .title {
                background: $secondary-nav-background-color;
                font-size: 1em;
                font-weight: 400;
                margin: 0;
                padding: 10px 20px;
                color: $customer-service-main-color;
            }
            ul li {
                padding: 0 0 20px 0;
                a {
                    color: $grey-dark;
                    font-size: 12px;
                    font-family: $sans-serif-regular;
                    @include line-height(20px);

                    &.current {
                        font-family: $sans-serif-bold;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            @include respond(medium-down) {
                display: none;
            }
        }
        .bredcrumbs {
            display: none;
            @include respond(medium-down) {
                display: block;
            }
        }
        @include respond(medium-down) {
            border: none;
        }
    }
}
