.main-page-content-customer-service-question {
    h2 {
        padding-top: 60px;
        padding-bottom: 20px;
        margin: 0;
        color: $customer-service-main-color;
        font-size: 30px;
        line-height: 28px;
        font-family: $sans-serif-regular;
        border-bottom: 1px solid $qa-border-color;
    }
    .body-copy {
        border-top: 1px solid $qa-border-color;
        border-bottom: 1px solid $qa-border-color;
        padding: 20px 0;
    }
    ul.qa {
        list-style: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        li {
            border-bottom: 1px solid $qa-border-color;
            .question-wrap {
                position: relative;
                .question {
                    padding: 20px 0;
                    padding-right: 30px;
                    box-sizing: border-box;
                    font-family: $sans-serif-bold;
                }
                .arrow-wrap {
                    position: absolute;
                    top: 20px;
                    right: 0;
                    .collapse-arrow {
                        display: none;
                    }
                }
            }
            .answer-wrap {
                display: none;
                @include respond(medium-down) {
                    overflow: scroll;
                    img {
                        max-width: none;
                    }
                }
            }
            &.open {
                .question-wrap {
                    .arrow-wrap {
                        .dropdown-arrow {
                            display: none;
                        }
                        .collapse-arrow {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 20px 0 0;
        a {
            @include secondary_link;
        }
        &.qa-section {
            margin: 0;
            li {
                border-bottom: 1px solid $qa-border-color;
                .question-wrap {
                    position: relative;
                    .question {
                        padding: 20px 0;
                        padding-right: 30px;
                        box-sizing: border-box;
                        font-family: $sans-serif-bold;
                    }
                    .arrow-wrap {
                        position: absolute;
                        top: 20px;
                        right: 0;
                        .collapse-arrow {
                            display: none;
                        }
                    }
                }
                .answer-wrap {
                    display: none;
                }
                &.open {
                    .question-wrap {
                        .arrow-wrap {
                            .dropdown-arrow {
                                display: none;
                            }
                            .collapse-arrow {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}
