.donation-minicart-lineitem-wrap {
    display: flex;
    .td-div {
        padding: 1.25rem 0;
        float: left;
        line-height: 1.5em;
        box-sizing: border-box;
    }
    .lineitem-image {
        width: 18%;
        img {
            max-width: 100%;
            min-width: 100%;
        }
        @include respond(large-up) {
            width: 42%;
            padding-top: 20px;
            padding-right: 25px;
        }
    }
    .lineitem-description {
        padding-left: 25px;
        width: 52%;
        .line-title {
            @include typo-cart-th();
            background: none;
            color: $th-color;
        }
        @include respond(large-up) {
            padding: 20px 0 0;
            text-align: left;
            display: block;
            float: right;
            box-sizing: border-box;
            width: 58%;

        }
    }
    .lineitem-cta {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 30%;
        @include respond(large-up) {
            word-wrap: break-word;
            display: block;
            float: right;
            box-sizing: border-box;
            width: 58%;
        }
    }
    @include respond(large-up) {
        display: inline-block;
        flex-wrap: wrap;
    }
}
