.image-block {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 25px;
    img {
        max-width: 100%;
        display: block;
    }
    p {
        text-align: center;
        background: lightgrey;
        padding: 15px;
        margin-top: 0;
    }
}
