.images-tile-wrap {
    margin-bottom: 50px;
    .images-heading {
        text-align: center;
        padding-bottom: 40px;
        max-width: 700px;
        margin: 0 auto;
    }
    .images-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .image-tile {
        flex: 0 1 auto;
        margin: 10px;
        text-align: center;
        max-width: 250px;
        @include respond(medium-down) {
            max-width: 130px;
        }
        .flex-box-cta {
            padding: 0 !important;
            max-width: 250px;
            max-height: 250px;
            box-sizing: border-box;
            @include respond(medium-down) {
                max-width: 130px;
                max-height: 130px;
            }
            &:hover {
                border: 2px solid $content-main-color;
            }
            img {
                max-width: 100%;
            }
            .button {
                right: 0;
                bottom: 0;
            }
        }
        h3 {
            font-size: 16px;
            font-family: $sans-serif-bold;
            color: $content-main-color;
            margin-top: 20px;
            margin-bottom: 0;
        }
        h4 {
            font-size: 16px;
            font-family: $sans-serif-regular;
            color: $content-main-color;
            margin-top: 0;
            margin-bottom: 30px;
        }
    }
}
