.sizing-table {
    color: $tableblock-main-font-color;
    h3 {
        font-size: 16px;
        text-transform: uppercase;
    }
    table {
        border: 2px solid $tableblock-gray-color;
        margin: 25px 0;
        thead {
            background: $tableblock-gray-color;
            tr th {
                border: 1px solid $tableblock-gray-color;
                padding: 1em;
                text-align: center;
                &.active-hover {
                    background: $tableblock-main-color;
                }
            }
        }
        tbody {
            tr {
                background: $white;
                &:nth-child(even) {
                    background: $tableblock-gray-light-color;
                }
                &:hover {
                    background: $tableblock-main-light-color;
                }
                td {
                    text-align: center;
                    border: 1px solid $tableblock-gray-color;
                    cursor: pointer;
                    &.active-hover {
                        background: $tableblock-main-light-color;
                    }
                    &:hover {
                        background: $tableblock-main-color;
                    }
                }
            }
        }
    }
}
