.slide-block {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 25px;
    box-sizing: content-box;
    .slide {
        padding: 0 !important;
        img {
            max-width: 100%;
        }
        p {
            text-align: center;
            background: lightgrey;
            padding: 15px;
            margin-top: 0;
        }
    }
    .slick-prev,
    .slick-next {
        border: none;
        margin-top: -16px;
        top: 50%;
        &::before {
            border-width: 3px 3px 0 0;
            border-color: rgba(255, 255, 255, 0.75);
        }
    }
    .slick-prev {
        left: 25px !important;
    }
    .slick-next {
        right: 25px !important;
    }
}
