.social-icon-wrap {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    h4 {
        font-size: 21px;
    }
    .social-icons {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        margin: 25px 0 40px;
    }
    .socialicon {
        background: $socialicon-background-color;
        height: 50px;
        width: 50px;
        margin: 10px;
        cursor: pointer;
        border-radius: 5px;
        flex: 1;
        fill: white;
        padding: 17%;
        box-sizing: border-box;
    }
}
