// Homepage: Site-Level Styles
// should contain only stylistic rules, i.e. values that will change
// from site to site, such as colors and typography.

/////////////////////////////////////////////
/// Custom Home Page Styles
/////////////////////////////////////////////
.standard-button-cta {
    .hero-sub-header {
        h2 {
            @include respond(large-up) {
                @include font-reg(22px);
            }
        }
    }
    .hero-cta-buttons {
        .button {
            min-width: 180px;
            &.video {
                .cta-play-button {
                    height: 21px;
                    width: 21px;
                }
            }
        }
    }
}

.flex-content-inner {
    .hero-sub-header {
        h2 {
            text-shadow: $text-shadow1;
        }
        p {
            text-shadow: $text-shadow1;
        }
    }
}
.flex-box-square-large,
.flex-box-square-small {
    padding: 2px 0;
    @include respond(large-up) {
        padding: 2px;
    }
}
.flex-box-square-large {
    .flex-content-inner {
        max-width: 250px;
        @include respond(large-up) {
            max-width: 280px;
        }
    }
}
.flex-box-square-small {
    @include respond(large-down) {
        &:nth-child(even) {
            padding-left: 2px;
        }
        &:nth-child(odd) {
            padding-right: 2px;
        }
    }
    .flex-content-inner {
        max-width: 200px;
        @include respond(large-up) {
            max-width: 230px;
        }
    }
}
.flex-carousel-container {
    &::after {
        content: "";
        height: calc(100% - 4px);
        width: calc(100% - 4px);
        background-color: $slick-cta-bg;
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.flexcarousel {
    box-sizing: border-box;
    height: 99%;
    padding: 15px;
    z-index: 1;
    @include respond(large-up) {
        padding: 20px;
        width: 99%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: initial;
    }
    @include respond(desktop) {
        padding: 0 20px;
    }
    button {
        top: 50%;
    }
}
.flex-prod {
    text-align: center;
    @include respond($small-breakpoint, $max-content-breakpoint) {
        .product-image {
            width: 60%;
            margin: 0 auto;
        }
    }
    img {
        @include respond($small-breakpoint, $max-content-breakpoint) {
            height: initial;
            width: initial;
            margin: 0 auto;
        }
    }
    .product-name {
        margin-top: 15px;
        height: auto;
    }
}

.full-width-carousel {
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 0;
    .slick-slider {
        padding: 0 45px;
        margin: 0;
    }
    .slick-track {
        display: flex;
    }
    .slick-slide {
        display: flex;
        height: auto;
    }
    .product-image {
        img {
            margin: 0 auto;
        }
    }
}

.latest-carousel {
    .product-tile {
        .product-badge {
            display: none;
            &.on {
                display: block;
            }
        }
        .product-swatches {
            margin-bottom: 5px;
            margin-top: 15px;
        }
    }
    .slick-active {
        position: relative;
    }
}

.horizontal-carousel {
    .product-tile {
        margin: 0 auto;
    }
}

#QuickViewDialog {
    .add-to-cart,
    .add-to-cart-disabled {
        @include font-size(14px);
        padding: 0;
    }
}

#wrapper {
    .hero-content,
    .flex-content-inner {
        h1,
        p {
            font-family: $sans-serif-bold-alt;
            -webkit-font-smoothing: antialiased;
            text-shadow: $text-shadow-brand-h;
        }
    }
}
