//
// Font Stacks
//
$sans-serif-regular: "Titillium Web", Arial, sans-serif;
$sans-serif-thin: $sans-serif-regular;
$sans-serif-light: $sans-serif-regular;
$sans-serif-semibold: $sans-serif-regular;
$sans-serif-bold: $sans-serif-regular;

$sans-serif-regular-alt: $sans-serif-regular;
$sans-serif-bold-alt: $sans-serif-regular;

//
// Font Weights
//
$font-wt-thin: 100;
$font-wt-light: 300;
$font-wt-regular: 400;
$font-wt-semibold: 600;
$font-wt-bold: 700;

$sans-serif-regular-weight: 400;
$sans-serif-regular-alt-weight: 600;
$sans-serif-bold-weight: 700;
$sans-serif-bold-alt-weight: 900;

//
// Font Style
//
$font-style-italic: italic;
