// Import the styles generated from the SVG icons
@import "../../compiled/svg";

.icon {
    &.logo-asicstiger {
        fill: $icon-logo-fill;

        @include respond(medium-down) {
            width: 119px;
            height: 25px;
        }
    }

    &.bold-close,
    &.light-close {
        fill: $icon-alt-fill;
    }

    &.light-close {
        &.small {
            width: 9.4px;
            height: 9.4px;
        }

        &.smaller {
            width: 8.1px;
            height: 8.1px;
        }
    }
}
