// _typography.scss
// Contains mixins and class definitions for reusable typographies in the site
//

// Heading Mixins
//---------------------------------------

@mixin typo-hero-header {
    @include line-height(30px);
    @include font-semibold(30px);

    @include respond(large-down) {
        line-height: normal;
        font-size: 39px; // Fallback size
        font-size: 5.4vw;
    }

    @include respond(desktop) {
        @include line-height(55px);
        @include font-size(60px);
    }
}

@mixin h1 {
    @include font-bold-alt(28px);
    letter-spacing: 0.025em;

    @include respond(large-up) {
        @include font-size(40px);
    }
}

@mixin h2 {
    @include h1();
}

@mixin h3 {
    @include line-height(26px);
    @include font-bold-alt(20px);
    letter-spacing: 0.025em;

    @include respond(large-up) {
        @include line-height(28px);
        @include font-size(22px);
    }
}

@mixin h4 {
    @include line-height(22px);
    @include font-bold(16px);
    letter-spacing: 0.025em;

    @include respond(large-up) {
        @include font-size(20px);
    }
}

@mixin typo-sub-heading-1 {
    @include font-reg-alt(22px);
    letter-spacing: 0.02em;
}

@mixin typo-sub-heading-2 {
    @include font-size(18px);
    letter-spacing: 0.05em;
}

@mixin typo-sub-heading-3 {
    @include font-bold(18px);
    letter-spacing: 0.05em;
}

@mixin typo-sub-heading-4 {
    @include font-size(16px);
    letter-spacing: 0.025em;

    @include respond(large-up) {
        @include font-size(28px);
    }
}

@mixin typo-page-heading {
    @include line-height(22px);
    @include font-reg-alt(16px);
    letter-spacing: 0.02em;

    @include respond(large-up) {
        @include font-size(26px);
    }
}

@mixin typo-page-heading-browse {
    @include line-height(22px);
    @include font-reg-alt(16px);
    letter-spacing: 0.02em;

    @include respond(large-up) {
        @include font-size(26px);
    }
}

@mixin typo-secondary-heading {
    @include line-height(21px);
    @include font-bold(18px);
    letter-spacing: 0.025em;
}

// Search Article Header
@mixin typo-article-heading {
    @include line-height(22px);
    @include font-reg(16px);
    letter-spacing: 0.025em;
}

// Search: Search Suggestion Section Heading
@mixin typo-search-suggestion-heading {
    @include line-height(24px);
    @include font-bold(16px);
    letter-spacing: 0.025em;
}

//--------------------------------------------
// ASICS Tiger Body Typographies
//--------------------------------------------

// PDP: Product Name
@mixin typo-product-name {
    @include font-bold-alt(25px);
    line-height: normal;
    letter-spacing: 0.05em;

    @include respond(large-up) {
        @include font-size(30px);
    }
}

// PDP: Attribute Title (Color, Size, Qty Labels)
@mixin typo-product-attr-title {
    @include font-size(14px);
    letter-spacing: 0.025em;
}

// PDP: Attribute Selection Value
@mixin typo-product-attr-value {
    @include font-bold(14px);
    letter-spacing: 0.025em;
}

// PDP: Price
@mixin typo-product-price {
    @include font-reg-alt(16px);

    @include respond(large-up) {
        @include font-size(18px);
    }
}

// PDP: Promo Messaging
@mixin typo-product-promo {
    @include font-reg-alt(14px);
}

// PDP: Product Number
@mixin typo-product-number {
    @include font-size(11px);
    letter-spacing: 0.025em;
}

// PDP: Product Info Header
@mixin typo-product-info-header {
    @include font-semibold(24px);
    @include line-height(22px);
}

// PDP: Product Info Section Header
@mixin typo-product-info-section-header {
    @include font-semibold(14px);

    @include respond(large-up) {
        @include font-size(20px);
    }
}

// PDP: Product Feature Header
@mixin typo-product-feature-header {
    @include font-reg(14px);
    @include line-height(24px);
}

// PDP: Product Read More
@mixin typo-product-read-more {
    @include font-semibold(12px);

    &:hover {
        text-decoration: underline;
    }
}

// Product Tile: Small Product Name
@mixin typo-product-name-small {
    @include line-height(20px);
    @include font-reg-alt(16px);
    text-transform: uppercase;
}

// Product Tile: Small Price
@mixin typo-product-price-small {
    @include line-height(20px);
    @include font-reg-alt(14px);
}

// Product Tile: Promo Messaging
@mixin typo-product-promo-small {
    @include font-reg-alt(12px);
}

// Product Tile: Color Quantity
@mixin typo-product-tile-color-qty {
    @include font-reg-alt(11px);

    @include respond(large-up) {
        @include font-size(12px);
    }
}

// Category Browse: Refinement Section Header
@mixin typo-refinement-header {
    @include font-size(22px);
    line-height: normal;

    @include respond(large-up) {
        @include font-size(24px);
    }
}

// Category Browse: Refinement Attribute Title (Color, Size, etc.)
@mixin typo-refinement-title {
    @include line-height(21px);
    @include font-bold(14px);
    letter-spacing: 0.025em;
}

// Category Browse: Refinement Attribute Value (Normal Values)
@mixin typo-refinement-value {
    @include line-height(30px);
    @include font-size(14px);
    letter-spacing: 0.025em;
}

// Category Browse: Refinement Attribute Sub Value (Sub Categories)
@mixin typo-refinement-sub-value {
    @include line-height(25px);
    @include font-size(12px);
    letter-spacing: 0.025em;
}

// Category Browse: Refinement Section Expand/Collapse Icon
@mixin typo-refinement-icon {
    @include font-reg(28px);
}

// Global: Paragraph Typography
@mixin typo-paragraph {
    @include line-height(21px);
    @include font-size(14px);
    letter-spacing: 0.025em;
}

// Global: List Typography
@mixin typo-list {
    @include line-height(24px);
    @include font-size(14px);
    letter-spacing: 0.025em;
}

// Header: Brand Text
@mixin typo-brand-text {
    @include line-height(14px);
    font-family: Helvetica;
    @include font-size(12px);
    font-weight: bold;
}

// Header: Mobile Navigation Text
@mixin typo-mobile-nav-text {
    @include font-bold(12px);
    line-height: normal;
}

// Header: Mini Cart Quantity
@mixin typo-mini-cart-qty {
    @include font-bold(13px);
    @include line-height(20px);
}

// Simplified Header: customer service
@mixin typo-header-simp-customerservice {
    @include line-height(11px);
    @include font-reg(11px);

    @include respond(large-up) {
        @include line-height(14px);
        @include font-reg(14px);
    }
}

// Simplified Header: customer service bold
@mixin typo-header-simp-customerservice-bold {
    @include line-height(11px);
    @include font-bold(11px);

    @include respond(large-up) {
        @include line-height(14px);
        @include font-size(14px);
    }
}

// Footer: Newsletter Header
@mixin typo-footer-large-header {
    @include line-height(18px);
    @include font-bold(18px);
    letter-spacing: normal;

    @include respond(large-up) {
        @include line-height(24px);
        @include font-bold(24px);
    }
}

// Footer: Column Headers
@mixin typo-footer-column-header {
    @include line-height(24px);
    @include font-bold(15px);
    letter-spacing: normal;
}

// Footer: Small Text
@mixin typo-footer-small {
    @include line-height(24px);
    @include font-size(13px);
    letter-spacing: normal;
}

// Footer: Copyright Text
@mixin typo-copyright-text {
    @include line-height(22px);
    @include font-size(12px);
    letter-spacing: normal;
}

// Store Locator: Distance
@mixin typo-store-distance {
    @include font-reg(12px);
}

// Store Locator: Map Store Name
@mixin typo-map-store-name {
    @include font-size(14px);
    @include line-height(16px);
    letter-spacing: 0.025em;
}

// Store Locator: Map Store Details
@mixin typo-map-store-details {
    @include font-reg(14px);
    letter-spacing: 0.037em;
}

// Store Locator: Brand Refinement Title
@mixin typo-brand-refinement-title {
    @include font-size(16px);
}

// Cart: Table Head Text
@mixin typo-cart-th {
    @include font-bold(14px);
    text-transform: uppercase;
}

//--------------------------------------------
// Haglofs Form Typographies
//--------------------------------------------

@mixin typo-form-label {
    @include font-size(14px);
    letter-spacing: 0.025em;
}

@mixin typo-input-text {
    @include font-size(14px);
    letter-spacing: 0.025em;
}

@mixin typo-select-text {
    @include typo-input-text();
}

@mixin typo-form-caption {
    @include font-size(12px);
    letter-spacing: 0.025em;
}

@mixin typo-form-error {
    @include font-reg-alt(11px);
    letter-spacing: 0.05em;
}

//--------------------------------------------
// Haglofs Link Typographies
//--------------------------------------------

// Global: Main Navigation Links
@mixin typo-main-nav-link {
    @include font-bold(16px);
    text-transform: uppercase;
}

// Global: Main Navigation Header Links
@mixin typo-main-navigation-header-link {
    @include line-height(30px);
    @include font-bold(14px);
    letter-spacing: 0.025em;
}

// Global: Main Navigation Sub Links
@mixin typo-main-navigation-sub-link {
    @include line-height(30px);
    @include font-bold(14px);
    letter-spacing: 0.025em;

    @include respond($mobile-menu-breakpoint) {
        @include font-reg(14px);
        text-transform: none;
    }
}

// Global: Header Utility Links
@mixin typo-header-utility-link {
    font-family: Helvetica;
    @include font-size(12px);
    font-weight: bold;
    letter-spacing: 0;
}

// Global: Standard Links
@mixin typo-link {
    @include font-size(12px);
    letter-spacing: 0.025em;

    &:hover {
        text-decoration: underline;
    }
}

// Global: Ancillary Links (Checkout, etc.)
@mixin typo-link-alt {
    @include font-size(12px);
    letter-spacing: 0.025em;

    &:hover {
        @include font-bold(12px);
        text-decoration: underline;
    }
}

// Global: Previous Page Breadcrumb Link
@mixin typo-breadcrumb-link {
    @include font-size(10px);
}

// Global: Current Breadcrumb
@mixin typo-breadcrumb-text {
    @include font-bold(10px);
}

// Global: Left Navigation Link
@mixin typo-link-left-nav {
    @include line-height(40px);
    @include font-size(14px);
    letter-spacing: 0.025em;
}

// Global: Footer Links
@mixin typo-footer-link {
    @include typo-footer-small();

    &:hover {
        text-decoration: $link-footer-hover-decor;
    }
}

// Flex Box Heading Mixins
//---------------------------------------

@mixin typo-flex-large-head {
    @include line-height(22px);
    @include font-bold-alt(20px);
    letter-spacing: 0.025em;
    text-transform: uppercase;

    @include respond(large-up) {
        @include font-size(24px);
    }
    @include respond(desktop) {
        @include line-height(28px);
        @include font-size(32px);
    }
}

@mixin typo-flex-small-head {
    @include line-height(22px);
    @include font-bold-alt(16px);
    letter-spacing: 0.025em;
    text-transform: uppercase;

    @include respond(large-up) {
        @include font-size(18px);
    }
    @include respond(desktop) {
        @include line-height(22px);
        @include font-size(20px);
    }
}

@mixin typo-flex2-large-head {
    @include line-height(20px);
    @include font-bold-alt(20px);
    text-transform: uppercase;

    @include respond(large-up) {
        @include font-size(20px);
    }
    @include respond(desktop) {
        @include line-height(50px);
        @include font-size(50px);
    }
}

@mixin typo-flex2-large-sub {
    @include font-bold-alt(14px);

    @include respond(large-up) {
        @include font-size(14px);
    }
    @include respond(desktop) {
        @include font-size(18px);
    }
}

@mixin typo-flex2-small-head {
    @include line-height(24px);
    @include font-size(20px);
    text-transform: uppercase;

    @include respond(large-up) {
        @include font-size(20px);
    }
    @include respond(desktop) {
        @include line-height(32px);
        @include font-size(34px);
    }
}

@mixin typo-flex2-small-sub {
    @include font-size(14px);
    letter-spacing: 0.4px;

    @include respond(large-up) {
        @include font-size(14px);
    }
    @include respond(desktop) {
        @include font-size(14px);
    }
}

@mixin fwc-h1 {
    @include font-bold-alt(38px);

    @include respond(large-up) {
        @include font-size(60px);
    }
}

// Checkout: Progress Indicator
@mixin typo-checkout-progress {
    @include font-bold(14px);

    @include respond(large-up) {
        @include font-size(18px);
    }
}

// Checkout: Summary Header
@mixin typo-checkout-summary-header {
    @include font-bold(18px);
}

// Checkout: Summary Header
@mixin typo-checkout-summary-details {
    @include font-reg(14px);
}

// Checkout: Summary Header
@mixin typo-checkout-summary-total {
    @include font-bold(16px);
}

// Checkout secondary-order-submit
@mixin typo-secondary-order-submit {
    @include font-reg(18px);
}

// Checkout contact-number-primary
@mixin typo-contact-number-primary {
    @include font-bold(18px);
}

// Checkout contact-number-secondary
@mixin typo-contact-number-secondary {
    @include font-reg(12px);
}

// Checkout product-list-item-name
@mixin typo-product-list-item-name {
    @include font-reg(14px);
}

// Checkout item-details-name
@mixin typo-item-details-name {
    @include font-bold(14px);
    @include respond(large-up) {
        @include font-size(16px);
    }
}

// Checkout item-details-promo
@mixin typo-item-details-promo {
    @include font-reg(12px);
    @include respond(large-up) {
        @include font-reg(14px);
    }
}

// Checkout item-details-label
@mixin typo-item-details-label {
    @include font-reg(12px);
    @include respond(large-up) {
        @include font-reg(14px);
    }
}

// Checkout item-details-value
@mixin typo-item-details-value {
    @include font-bold(12px);
    @include respond(large-up) {
        @include font-size(14px);
    }
}

// Checkout product-list-item-edit-details
@mixin typo-product-list-item-edit-details {
    @include font-reg(12px);
}

// Checkout item-quantity
@mixin typo-item-quantity {
    @include font-reg(14px);
}

// Checkout item-price-sales
@mixin typo-item-price-sales {
    @include font-reg(14px);
    @include respond(desktop) {
        @include font-reg(16px);
    }
}

// Checkout item-price-label
@mixin typo-item-price-label {
    @include font-bold(14px);
}

// Checkout item-total
@mixin typo-item-total {
    @include font-bold(14px);
    @include respond(desktop) {
        @include font-size(16px);
    }
}

// Checkout item-total-label
@mixin typo-item-total-label {
    @include font-bold(14px);
}

// Checkout item-total-price-unadjusted
@mixin typo-item-total-price-unadjusted {
    @include font-bold(14px);
    @include respond(large-up) {
        @include font-size(16px);
    }
}

// Checkout item-total-price-adjusted
@mixin typo-item-total-price-adjusted {
    @include font-bold(14px);
}

// Checkout product-availability-list
@mixin typo-product-availability-list {
    @include font-reg(14px);
}

// Checkout product-availability-threshold
@mixin typo-product-availability-threshold {
    @include font-reg(12px);
}

// Checkout cart-header
@mixin typo-cart-header {
    @include font-semibold(18px);
    @include respond(large-up) {
        @include font-reg(24px);
    }
}

// Checkout: cart-summary-header
@mixin typo-cart-summary-header {
    @include font-semibold(14px);
}

// Checkout cart-coupon-code
@mixin typo-cart-coupon-code {
    @include font-reg(14px);
}

// Checkout cart-order-totals-table-tr
@mixin typo-cart-order-totals-table-tr {
    @include font-reg(16px);
}

// Checkout cart-order-totals-table-tr
@mixin typo-cart-order-totals-table-total {
    @include font-bold(18px);
}

// Checkout cart-order-footer-button
@mixin typo-cart-order-footer-button {
    @include font-reg(18px);
}

// Checkout checkout-item-list-stock
@mixin typo-checkout-item-list-stock {
    @include font-reg(14px);
}

// Checkout cart-recommendations
@mixin typo-cart-recommendations {
    @include font-bold(28px);
    @include respond(large-up) {
        @include font-size(38px);
    }
}

// Checkout cart-promo
@mixin typo-cart-promo {
    @include font-bold(14px);
}

// Checkout checkout-mini-cart-name
@mixin typo-checkout-mini-cart-name {
    @include font-reg(16px);
}

// Checkout checkout-mini-cart-pricing-label
@mixin typo-checkout-mini-cart-pricing-label {
    @include font-reg(14px);
}

// Checkout checkout-mini-cart-pricing-value
@mixin typo-checkout-mini-cart-pricing-value {
    @include font-bold(14px);
}

// Checkout checkout-mini-cart-price
@mixin typo-checkout-mini-cart-price {
    @include font-bold(14px);
}

// Checkout checkout-form-section-h2
@mixin typo-checkout-form-section-h2 {
    @include font-reg(18px);
}

// Checkout checkout-delivery-type-options-input
@mixin typo-checkout-delivery-type-options-input {
    @include font-bold(14px);
}

// Checkout checkout-shipping-method-list-legend
@mixin typo-checkout-shipping-method-list-legend {
    @include font-reg(18px);
}

// Checkout checkout-shipping-method-list-label
@mixin typo-checkout-shipping-method-list-label {
    @include font-reg(14px);
}

// Checkout checkout-shipping-method-list-input
@mixin typo-checkout-shipping-method-list-input {
    @include font-bold(14px);
}

// Checkout checkout-shipping-method-list-caption-tt
@mixin typo-checkout-shipping-method-list-caption-tt {
    @include font-reg(12px);
}

// Checkout checkout-address-select-radio-buttons
@mixin typo-checkout-address-select-radio-buttons {
    @include font-bold(14px);
}

// Checkout checkout-cart-action-button
@mixin typo-checkout-cart-action-button {
    @include font-reg(18px);
}

// Checkout checkout-cart-action-continue-shopping
@mixin typo-checkout-cart-action-continue-shopping {
    @include font-reg(12px);
}

// Checkout checkout-cart-shipping
@mixin typo-checkout-cart-shipping {
    @include font-size(14px);
}

// Checkout checkout-cart-shipping-link
@mixin typo-checkout-cart-shipping-link {
    @include font-size(12px);
}

// Checkout checkout-order-section-header-link
@mixin typo-checkout-order-section-header-link {
    @include font-reg(12px);
}

// Dialog: Title
@mixin typo-dialog-title {
    @include font-bold(22px);
}
// Cart: Price
@mixin typo-cart-price {
    @include font-bold(14px);
    @include respond(large-up) {
        @include font-size(16px);
    }
}

// based on style guide https://marvelapp.com/27jh39c/screen/28269956
@mixin secondary_link {
    color: $customer-service-main-color;
    @include font-size(12px);
    letter-spacing: 0.025em;
    font-family: $sans-serif-regular;
    text-decoration: underline;
    &:hover {
        font-family: $sans-serif-bold;
    }
}
