// Import the styles generated from the SVG icons
@import "../compiled/svg";

.icon {
    &.logo-asics {
        fill: $icon-logo-fill;
    }

    &.bold-close,
    &.light-close {
        fill: $icon-alt-fill;
    }

    &.light-close {
        &.small {
            width: 9.4px;
            height: 9.4px;
        }

        &.smaller {
            width: 8.1px;
            height: 8.1px;
        }
    }
    &.search,
    &.location {
        @include respond(large-down) {
            fill: $white;
        }
    }

    &.shopping-cart {
        fill: $icon-shopping-cart-fill-mobile;
    }

    &.hamburger-menu {
        fill: $white;
    }
}
