/////////////////////////////////////////////
/// Custom Category Landing Styles
/////////////////////////////////////////////

.pt_product-search-result {
    #main {
        max-width: 100%;
    }
    #primary {
        padding: 0;
    }
    .category-landing-content {
        float: none;
        width: 100%;
    }
    .standard-button-cta {
        p {
            &.show-mobile {
                display: block;
            }
        }
    }
    .breadcrumb {
        width: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        display: none;
        padding-left: 80px;
        @include respond(large-up) {
            display: block;
        }
    }
}
.category-list {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    width: 100%;
    @include respond(desktop) {
        margin-bottom: 75px;
        margin-top: 75px;
    }
    .category-list-carousel {
        box-sizing: border-box;
        padding: 0;
        @include respond(large-up) {
            padding: 0 20px;
        }
        @include respond(desktop) {
            padding: 0;
        }
        .slick-prev {
            left: 0;
        }
        .slick-next {
            right: 0;
        }
        button {
            top: 50%;
        }
    }
    h2 {
        color: $section-heading-color;
        margin-bottom: 30px;
        @include h2();
        text-transform: uppercase;
        @include respond(large-up) {
            margin-bottom: 40px;
        }
    }
    .category-tile {
        box-sizing: border-box;
        padding: 0 25px;
        position: relative;
        @include respond(desktop) {
            padding: 25px 30px;
        }
        h3 {
            margin-top: 20px;
            margin-bottom: 0;
            @include font-semibold(16px);
            color: $product-name-color;
        }
        img {
            margin: 0 auto;
            max-width: 100%;
            width: auto;
        }
    }
    .slick-active {
        &+ .slick-active {
            @include respond(large-up) {
                &::after {
                    content: "";
                    height: 100%;
                    width: 1px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: $border-light-color-2;
                }
            }
        }
    }
    .slick-list {
        box-sizing: border-box;
        @include respond(large-up) {
            padding: 0 20px;
        }
    }
    .slick-track {
        @include respond($max-content-breakpoint) {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }
}

.category-main-banner img {
    max-width: 100%;
}
