// Homepage: Organization-Level Styles
// should contain only strucural rules, i.e. values that will likely need
// to stay consistent from site to site, such as display, widths, and spacing.

.pt_storefront {
    @include respond(large-down) {
        overflow: hidden;
    }
    #main {
        //override content-width for full bleed
        @include override-content-width();
        padding: 0;
    }
}

.standard-button-cta {
    .photo-credit {
        color: $white;
        @include font-reg(12px);
        display: none;
        @include respond(desktop) {
            display: block;
        }
    }
    .hero-content-inner {
        @include respond(large-down) {
            height: auto;
        }
        @include respond(medium-down) {
            padding: 0 30px;
            &.text-left {
                text-align: center;
            }
        }
    }
    .hero-header {
        color: $white;
        @include typo-hero-header();
        box-sizing: border-box;
        padding: 0 0 10px 0;
        margin: 0;
        @include respond(large-up) {
            line-height: 1em;
            padding: 0 0 15px 0;
            margin: 0;
        }
    }
    &.asics-promo-modal,
    &.home-hero {
        width: 100%;
        margin-bottom: 0;
        .slick-list {
            width: 100%;
        }
        .slick-track {
            min-width: 100%;
        }
        .slick-list,
        .slick-track {
            -webkit-perspective: 2000;
            -webkit-backface-visibility: hidden;
        }
        .hero-header {
            @include typo-hero-header();
        }
        .slick-slide {
            padding: 0;
            &:nth-child(even),
            &:nth-child(odd) {
                padding: 0;
            }
        }
        .hero-cta-buttons {
            @include respond(medium-down) {
                padding-top: 30px;
            }
        }
        .button {
            @include primaryButton();
        }
        .hero-content {
            .hero-content-inner {
                padding: 4%;
            }
        }
    }
    .hero-sub-header {
        color: $white;
        display: flex;
        flex-direction: column;
        @include respond(large-down) {
            display: none;
        }
        + h2 {
            padding: 0 0 15px 0;
            margin: 0;
        }
        h2 {
            display: none;
            @include respond(large-up) {
                display: block;
                padding: 0 0 15px 0;
                margin: 0;
                line-height: 1em;
            }
        }
        p {
            color: $white;
            display: none;
            @include respond(large-up) {
                display: block;
                @include font-semibold(18px);
                padding: 0 0 15px 0;
                margin: 0;
            }
        }
        .hero-super {
            display: block;
            @include font-reg(92px);
            @include respond(large-up) {
                @include font-reg(50px);
                line-height: 1em;
                margin: 0 0 20px 0;
                padding: 0;
            }
            @include respond(desktop) {
                @include font-reg(170px);
            }
        }
    }
    .hero-cta-buttons {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        @include respond(large-up) {
            padding-top: 30px;
        }
        @include respond(medium-down) {
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
        }
        .button {
            @include respond(large-up) {
                margin-bottom: 0;
            }
            &.b0 {
                @include button(secondary);
                margin-bottom: 15px;
                @include respond(large-up) {
                    margin-bottom: 0;
                }
            }
            &.b1 {
                margin-bottom: 15px;
                @include respond(large-up) {
                    margin-bottom: 0;
                }
            }
            &.primary {
                @include primaryButton();
            }
            &.secondary {
                @include secondaryButton();
            }
            &.secondaryAlt {
                @include secondaryAltButton();
            }
            &.primary-alt {
                @include primaryAltButton();
            }
            &.video {
                position: relative;
                .cta-text {
                    padding-left: 5px;
                }
                .cta-play-button {
                    position: relative;
                    top: -1px;
                }
            }
        }
        .video-play-button-overlay-youtube {
            height: 36px;
            width: 100%;
            position: absolute;
            z-index: 999;
            top: 0;
            left: 0;
            background-color: transparent;
            &:hover {
                background-color: transparent;
            }
        }
    }
    &.alternate-style {
        padding: 0 0 60px 0;
        .hero-content-inner {
            height: 100%;
            width: 100%;
            max-width: 100%;
            max-height: 100%;
            box-sizing: border-box;
            top: initial;
            @include respond(medium-down) {
                padding: 0 10px;
            }
            .hero-header {
                @include typo-flex2-small-head();
                color: $section-heading-color;
                padding: 20px;
                @include respond(large-up) {
                    padding: 0;
                }
                & + .hero-sub-header {
                    margin-top: 14px;
                }
            }
            .hero-sub-header {
                align-items: center;
                p {
                    @include typo-flex2-small-sub();
                    color: $flex-box-sub-head;
                    text-transform: uppercase;
                }
            }
            .hero-cta-buttons {
                position: absolute;
                bottom: 11%;
                padding: 0;
                left: 0;
                width: 100%;
                justify-content: center;
                flex-direction: row;
                @include respond(large-down) {
                    bottom: 20px;
                }
            }
        }
    }
    &.small {
        .hero-header {
            @include font-size(38px);
            color: $section-heading-color;
        }
        p {
            @include font-size(16px);
            color: $section-heading-color;
        }
    }
}

.text-button-cta {
    .hero-header {
        margin-top: 0;
    }
    .hero-sub-header {
        color: $white;
        position: relative;
        h2 {
            text-shadow: $text-shadow1;
            @include font-reg(26px);
            padding-bottom: 40px;
            margin-bottom: 0;
            @include respond(large-up) {
                margin: 0 0 13px 0;
                padding-bottom: 0;
            }
            @include respond(desktop) {
                @include font-reg(22px);
            }
        }
    }
    .hero-cta-buttons {
        .button {
            padding: 0 15px;
            text-align: center;
            background-color: transparent;
            color: $home-body-link;
            position: relative;
            min-height: 0;
            margin: 0 0 15px 0;
            border: none;
            min-width: 140px;
            text-shadow: $text-shadow1;
            line-height: 1.5em;
            @include font-reg(18px);
            @include respond(small-down) {
                width: 100%;
            }
            @include respond(large-up) {
                margin: 0;
            }
            .icon {
                fill: $home-body-link;
            }
            & + .button {
                margin-left: 0;
            }
            &.primary {
                @include primaryButton();
            }
            &.secondary {
                @include secondaryButton();
            }
            &.secondaryAlt {
                @include secondaryAltButton();
            }
            &.primary-alt {
                @include primaryAltButton();
            }
            &.video {
                position: relative;
                .cta-text {
                    padding-left: 5px;
                }
                .cta-play-button {
                    position: relative;
                    top: -1px;
                    height: 21px;
                    width: 21px;
                    .icon {
                        height: inherit;
                        width: inherit;
                    }
                }
            }
            &:hover {
                color: $white;
                background-color: transparent;
                .icon {
                    fill: $white;
                }
            }
            &::after {
                content: "";
                height: 100%;
                width: 1px;
                position: absolute;
                right: 0;
                top: 0;
                background-color: $home-body-link;
                display: none;
                @include respond(large-up) {
                    display: block;
                }
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
        @include respond(large-down) {
            display: flex;
            flex-direction: column;
            h2 {
                padding-bottom: 20px;
            }
        }
    }
}

.flex-content-inner {
    padding: 20px 18px;
    .hero-sub-header {
        color: $white;
        h2 {
            line-height: 1em;
            @include font-reg(26px);
            margin: 0 0 14px 0;
            @include respond(large-up) {
                @include font-reg(30px);
            }
        }
        p {
            @include font-reg(14px);
            margin: 0;
            @include respond(large-up) {
                @include font-reg-alt(16px);
            }
        }
    }
}
.flex-box-square-large,
.flex-box-square-small {
    box-sizing: border-box;
}
.flex-box-square-small {
    .hero-sub-header {
        p {
            display: none;
            @include respond(desktop) {
                display: block;
            }
        }
    }
}
.flex-carousel-container {
    &::after {
        content: "";
        height: calc(100% - 4px);
        width: calc(100% - 4px);
        background-color: $slick-cta-bg;
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.flexcarousel {
    box-sizing: border-box;
    height: 99%;
    padding: 15px;
    z-index: 1;
    @include respond(large-up) {
        padding: 20px;
        width: 99%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: initial;
    }
    @include respond(desktop) {
        padding: 0 20px;
    }
    button {
        top: 50%;
    }
}
.flex-prod {
    text-align: center;
    img {
        @include respond(large-down) {
            height: initial;
            width: initial;
            margin: 0 auto;
        }
    }
    .product-name {
        margin-top: 15px;
        height: auto;
    }
}
.logo-cta {
    .hero-content-inner {
        .hero-header {
            padding: 0;
            @include respond(desktop) {
                padding: 0 60px;
            }
        }
        .hero-sub-header {
            width: 50%;
            margin: 0 auto;
            h2 {
                margin-bottom: 20px;
            }
        }
        .cta-logos {
            margin-bottom: 30px;
            @include respond(large-down) {
                margin-top: 20px;
            }
            @include respond(medium-down) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-bottom: 0;
            }
            img {
                display: inline-block;
                margin-right: 40px;
                height: auto;
                width: auto;
                &:last-child {
                    margin-right: 0;
                }
                @include respond(medium-down) {
                    margin-right: 10px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}
.slick-slider {
    &.home-hero {
        button {
            top: 50%;
        }
    }

    .slick-next {
        right: 15px;

        &::before {
            position: relative;
            left: $carousel-arrow-y1;
            top: $carousel-arrow-x1;
        }
    }

    .slick-prev {
        left: 15px;

        &::before {
            position: relative;
            right: $carousel-arrow-y2;
            top: $carousel-arrow-x2;
        }
    }

    button {
        height: $carousel-button-height;
        width: $carousel-button-width;
        border: $carousel-button-border;

        &::before {
            border-width: 2px 2px 0 0;
            border-color: $carousel-alternate-button;
            height: $carousel-arrow-height;
            width: $carousel-arrow-width;
        }
    }

    .slick-dots {
        bottom: 15px;

        li {
            margin: 0 5px;

            button {
                &::before {
                    height: 8px;
                    width: 8px;
                    border: 2px solid $white;
                    background-color: transparent;
                    opacity: 0.5;

                    @include respond(large-up) {
                        height: 12px;
                        width: 12px;
                    }
                }
            }
        }

        .slick-active {
            button {
                &::before {
                    background-color: $white;
                }
            }
        }
    }

    .product-tile {
        @include typo-list();

        .product-image {
            box-sizing: border-box;

            @include respond(large-up) {
                width: 60%;
                margin: 0 auto;
            }

            @include respond(desktop) {
                width: 100%;
            }

            img {
                width: 100%;
                margin: 0 auto;
            }
        }

        .product-swatches {
            display: none;
        }
    }

    .slick-slide {
        @include respond(desktop) {
            box-sizing: border-box;
        }
    }

    .product-swatches-all {
        display: block;
    }
}
.full-width-carousel {
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 0;
    .slick-slider {
        padding: 0 45px;
        margin: 0;
    }
    .slick-track {
        display: flex;
    }
    .slick-slide {
        display: flex;
        height: auto;
    }
    h2 {
        text-align: center;
        margin-bottom: 40px;
        margin-top: 0;
        color: $hrc-color1;
        padding: 0 30px;
        @include fwc-h1();
        @include respond(large-up) {
            padding: 0;
        }
        @include respond(desktop) {
            margin-bottom: 30px;
        }
    }
    h3 {
        @include typo-sub-heading-1();
        text-align: center;
        color: $hrc-color1;
        margin: 0 0 15px 0;
        font-weight: 400;

        @include respond(large-up) {
            margin: 0 0 20px 0;
        }
    }
    .product-image {
        img {
            margin: 0 auto;
            width: auto;
        }
    }
}
.latest-carousel {
    padding: 30px 0;

    @include respond(large-up) {
        padding: 60px 0;
    }

    h2 {
        @include typo-sub-heading-1();
        color: $hrc-color1;
        padding: 0 15px;
        line-height: 1em;

        @include respond(large-up) {
            padding: 0 30px;
        }
    }

    .grid-tile {
        ~ .grid-tile:not(.slick-slide) {
            display: none;
        }
    }

    .product-tile {
        padding-bottom: 0;

        .product-image {
            padding: 0 10px 10px;
            margin-bottom: 15px;
        }

        .product-badge {
            display: none;
        }

        .product-swatches {
            margin-bottom: 5px;
        }
    }

    .slick-slide {
        padding: 0 14px;

        @include respond(medium-up) {
            border-left: $border;
        }

        &:first-child {
            border-left: none;
        }
    }
}

.horizontal-carousel {
    .product-tile {
        margin: 0 auto;
    }
}

.home-hero {
    .slick-slide {
        @include respond(desktop) {
            box-sizing: border-box;
            &:nth-child(odd) {
                padding-right: 0;
            }
            &:nth-child(even) {
                padding-left: 0;
            }
        }
    }
    &.slick-slider {
        .slick-prev {
            left: 15px;
        }
        .slick-next {
            right: 15px;
        }
    }
}

.hero-cta-buttons {
    .button {
        &.video {
            .cta-text {
                pointer-events: none;
            }
            .cta-play-button {
                .icon {
                    height: inherit;
                    width: inherit;
                }
            }
        }
    }
}

.flex-box-cta {
    padding: 25px 0;
    position: relative;
    overflow: hidden;
    @include respond(large-up) {
        padding: 60px 0;
    }
    @include respond(desktop) {
        padding: 100px 0;
    }
    >.homepage-content-main-image {
        img {
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            min-width: 100%;
            min-height: 100%;
            @include respond(large-up) {
                height: 100%;
                width: auto;
                display: block;
            }
            @include respond(desktop) {
                height: auto;
                width: 100%;
            }
        }
    }
    >h2 {
        text-align: center;
        @include font-semibold(20px);
        @include respond(large-up) {
            @include font-semibold(32px);
        }
    }
    .button {
        right: 2px;
        bottom: 2px;
        font-size: 0;
        margin: 0;
        &.primary {
            @include primaryButton();
        }
        &.secondary {
            @include secondaryButton();
        }
        &.secondaryAlt {
            @include secondaryAltButton();
        }
        &.primary-alt {
            @include primaryAltButton();
        }
        &::after {
            content: "";
            background-image: url("../images/svg-icons/cta-arrow-white.svg");
            height: 14px;
            width: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &.four-up {
        .flex-box-square-large {
            padding: 2px 0;
            @include respond(large-up) {
                padding: 2px;
            }
            .flex-content {
                position: absolute;
            }
            .flex-content-inner {
                position: absolute;
            }
            h2 {
                @include typo-flex-large-head();
            }
            p {
                @include font-reg($flex-large-font2-mobile);
                @include respond(desktop) {
                    @include font-reg($flex-large-font2-desktop);
                }
            }
            @include respond(medium-down) {
                .hero-cta-buttons {
                    .button {
                        right: 0;
                    }
                }
            }
            .button {
                margin: 0;
            }
        }
        .flex-box-square-small {
            padding: 2px 0;
            &:nth-child(odd) {
                padding-right: 2px;
            }
            &:nth-child(even) {
                padding-left: 2px;
            }
            .flex-content {
                position: absolute;
            }
            @include respond(large-up) {
                padding: 2px;
            }
            .hero-sub-header {
                @include respond(medium-down) {
                    margin-bottom: 0;
                    h2 {
                        margin-bottom: 0;
                    }
                }
            }
            @include respond(medium-down) {
                .hero-cta-buttons {
                    button {
                        right: 0;
                    }
                }
            }
        }
        .flex-box-square-small-container {
            &.slick-slider {
                button {
                    top: 50%;
                }
            }
        }
        .flex-box-square-small,
        .flex-box-square-large {
            .button {
                min-height: 60px;
                min-width: 60px;
            }
            &.pointer {
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .button {
            @include primaryButton();
            &.video {
                pointer-events: none;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                height: 60px;
                width: 60px;
                background-color: transparent;
                border: 0;
                padding: 0;
                &:hover {
                    border-color: transparent;
                    background-color: transparent;
                }
                &::after {
                    display: none;
                }
                .cta-text {
                    display: none;
                }
                .cta-play-button {
                    height: 60px;
                    width: 60px;
                    display: block;
                    pointer-events: none;
                }
            }
        }
    }
    &.six-up {
        padding: 0;
        .slick-slider {
            .slick-arrow {
                &::before {
                    border-color: $white;
                }
            }
            .slick-prev,
            .slick-next {
                top: 40%;
                @include respond(medium-down) {
                    top: 38%;
                }
            }
        }
        .flex-box-square-large,
        .flex-box-square-small {
            .button {
                &.video {
                    position: relative;
                    width: auto !important;
                    .cta-text {
                        padding-left: 5px;
                    }
                    .cta-play-button {
                        position: relative;
                        top: -1px;
                        height: 14px;
                        width: 14px;
                        pointer-events: none;
                    }
                }
            }
        }
        .flex-box-square-large {
            background-color: $grey-light;
            &.flexfirst {
                @include respond(large-down) {
                    order: 1;
                }
            }
            &.flexsecond {
                @include respond(large-down) {
                    order: 2;
                }
            }
            .flex-content-inner {
                max-width: 100%;
                width: 100%;
                @include respond(large-down) {
                    padding: 0;
                    box-sizing: border-box;
                }
            }
            .hero-header {
                @include typo-flex2-large-head();
                color: $section-heading-color;
                margin-bottom: 0;
                margin-top: 0;
                box-sizing: border-box;
                @include respond(large-down) {
                    margin-top: 25px;
                }
                & + .hero-sub-header {
                    margin-top: 14px;
                }
                & + .hero-cta-buttons {
                    margin-top: 20px;
                }
            }
            .hero-sub-header {
                p,
                h2 {
                    text-shadow: none;
                    line-height: 22px;
                    color: $flex-box-sub-head;
                }
                p {
                    @include typo-flex2-large-sub();
                    width: 100%;
                    display: inline-block;
                    @include respond(large-up) {
                        max-width: 50%;
                        margin: 0 auto;
                    }
                }
                h2 {
                    @include font-reg(14px);
                    @include respond(desktop) {
                        @include font-reg(18px);
                    }
                    text-transform: uppercase;
                    margin-bottom: 0;
                    margin-top: 0;
                    & + p {
                        padding-top: 35px;
                    }
                }
                & + .hero-cta-buttons {
                    margin-top: 20px;
                    @include respond(large-up) {
                        margin-top: 35px;
                    }
                }
                @include respond(medium-down) {
                    display: none;
                }
            }
            .hero-cta-buttons {
                width: 100%;
                display: flex;
                flex-direction: row;
                @include respond(medium-down) {
                    flex-direction: column;
                    align-items: center;
                }
                .button {
                    right: initial;
                    bottom: initial;
                    position: relative;
                    @include font-bold($small-btn-fontsize);
                    width: auto;
                    @include respond(medium-down) {
                        min-height: 0;
                        min-width: 0;
                        margin-left: 0;
                        margin-right: 0;
                    }
                    &::after {
                        background-image: none;
                    }
                }
                @include respond(large-down) {
                    padding: 0 15px 25px 15px;
                    box-sizing: border-box;
                }
            }
        }
        .flex-box-square-small {
            @include respond(large-down) {
                padding: 1px;
            }
            @include respond(desktop) {
                &:hover {
                    .flex-content {
                        opacity: 1;
                        -webkit-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
            .flex-content {
                @include respond(large-down) {
                    background-color: rgba(0, 0, 0, 0) !important;
                }
                @include respond(desktop) {
                    background-color: $flex-hover-bg;
                }
                .flex-content-inner {
                    max-width: 100%;
                    width: 100%;
                    @include respond(large-down) {
                        padding: 10px 15px 20px 15px;
                    }
                    .hero-header {
                        color: $section-heading-color;
                        margin: 0;
                        line-height: 1em;
                        @include typo-flex2-small-head();
                        @include respond(desktop) {
                            color: $flex-small-hover-txt !important;
                        }
                        & + .hero-sub-header {
                            margin-top: 15px;
                        }
                        & + .hero-cta-buttons {
                            margin-top: 0;
                            @include respond(large-up) {
                                margin-top: 20px;
                            }
                        }
                    }
                    .hero-sub-header {
                        display: none;
                        @include respond(desktop) {
                            display: block;
                        }
                        h2 {
                            @include typo-flex2-small-sub();
                            margin-bottom: 0;
                            @include respond(desktop) {
                                color: $flex-small-hover-txt !important;
                            }
                        }
                        & + .hero-cta-buttons {
                            margin-top: 5px;
                            @include respond(large-up) {
                                margin-top: 35px;
                            }
                        }
                    }
                    .hero-cta-buttons {
                        display: flex;
                        flex-direction: row;
                    }
                    .button {
                        min-width: 121px;
                        width: auto;
                        position: relative;
                        right: initial;
                        bottom: initial;
                        @include font-bold(14px);
                        @include respond(large-down) {
                            background-color: transparent;
                            border: 0;
                            color: $flex-button-bg;
                            min-height: 0;
                            min-width: 0;
                            margin-top: 10px;
                            padding: 0;
                            width: auto;
                            margin-top: 0;
                            & + .button {
                                margin-left: 20px;
                            }
                        }
                        @include respond(desktop) {
                            margin-bottom: 0;
                            & + .button {
                                margin: 0 0 0 rem(25px);
                            }
                        }
                        &::after {
                            background-image: none;
                        }
                    }
                }
                @include respond(desktop) {
                    opacity: 0;
                }
            }
        }
    }
}

.youtube-modal-dialog,
.vimeo-modal-dialog {
    width: 100% !important;
    border-radius: 0;
    border: 0;
    background: transparent;
    .ui-icon-closethick {
        background-image: url("../images/svg-icons/bold-close-white.svg");
    }
    .ui-dialog-titlebar {
        background: transparent;
    }
    .ui-dialog-content {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        iframe {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            height: 75%;
        }
    }
}
