#wrapper.pt_store-locator {
    background-color: $white;
    #main {
        @include respond(large) {
            padding-left: 15px;
            padding-right: 15px;
            box-sizing: border-box;
        }
        .top-border {
            @include respond(small) {
                margin-bottom: 0;
            }
        }
    }
    .breadcrumb {
        @include respond(medium-down) {
            padding-left: 0;
        }
    }
}
.store-locator-top {
    @include respond(medium-down) {
        max-width: 100%;
        width: 100%;
    }
    .store-locator-hold {
        padding: 1em 0 0;
        @include respond(medium-down) {
            margin: 0 .8em;
            width: calc(100% - (.8em * 2));
        }
        @include respond(large-up) {
            margin: 0 auto;
        }
        @include respond(large) {
            width: 730px;
        }
        @include respond(desktop) {
            width: 960px;
        }
    }
    .form-row {
        &.address-field {
            float: left;
            margin-right: 2%;
            width: 50%;
            @include respond(medium-down) {
                margin-bottom: .5em;
                width: 100%;
                .form-row {
                    margin-bottom: .5em;
                }
            }
        }
        &.distance-select {
            box-sizing: border-box;
            float: left;
            margin-right: 2%;
            width: 10%;
            @include respond(medium-down) {
                margin-right: 6%;
                width: 47%;
            }
        }
    }
    .form-row-button {
        &.locator-submit {
            clear: none;
            float: left;
            margin-top: 30px;
            width: 30%;
            @include respond(medium-down) {
                width: 46%;

                button {
                    width: 100%;
                }
            }

            button {
                padding: 5px 30px;
            }
        }
    }
}
.store-locator-header {
    h1 {
        @include typo-page-heading();
        color: $page-heading-color;
        letter-spacing: 0.094em;
        margin-bottom: 0;
        padding-bottom: .5em;
    }
}
#store-results {
    float: left;
    margin: 5px 0 13px;
    width: 100%;
    @include respond(large-up) {
        margin: 13px 0;
    }
    .stores-header {
        @include typo-sub-heading-2();
        color: $section-heading-color;
        letter-spacing: 0.05em;
        @include respond(large-up) {
            @include font-size(20px);
        }
    }
}
.store-int {
    float: right;
    letter-spacing: .5px;
    margin: .3em 0;
    @include respond(medium-down) {
        clear: both;
        margin-top: 1em;
        width: 100%;
    }
}
.store-locator-search-container {
    float: left;
    margin-right: 5%;
    width: 27%;
    @include respond(small) {
        margin-right: 3%;
        margin-left: 0;
    }
    @include respond(small) {
        box-sizing: border-box;
        margin-right: 0;
        padding: 4%;
        width: 100%;
    }
    .search-bar {
        select {
            height: 34px;
        }
    }
    label {
        color: $body-text-color;
        font-size: .75rem;
        letter-spacing: .5px;
        text-transform: uppercase;
    }
}
.store-locator {
    float: left;
    margin-top: 30px;
    width: 100%;
    @include respond(small) {
        box-sizing: border-box;
        margin: 0;
        padding: 4% 0;
        width: 100%;
    }
    #map-canvas {
        background: none;
        background-color: $box-bg;
        float: right;
        height: 680px;
        margin-bottom: 3rem;
        width: 58%;
        @include respond(medium-down) {
            display: none;
        }
        // Location details in map
        // - Requires !important due to inline styles from API
        .gm-style-iw {
            @include typo-map-store-details();
            left: 0 !important;
            position: relative !important;
            top: 0 !important;
            width: 100% !important;
            > div {
                max-width: initial !important;
                min-width: 220px;
                width: 100% !important;
            }
        }
    }
}

.stores-container {
    .store {
        border-bottom: 1px solid $box-bg;
        float: left;
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        width: 100%;
        @include respond(large-up) {
            width: calc(100% - 10px);
        }
        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
        }
        .store-info-main {
            @include typo-map-store-details();
            color: $body-text-color;
            float: left;
            width: 100%;
        }
        .store-info-main-marker {
            background: url("../images/marker-asics.png") no-repeat 0 0 $trans;
            float: left;
            height: 2.25rem;
            width: 40px;
            @include respond(large-up) {
                height: 4.25rem;
            }
            &.asics,
            .as,
            .as-outlet,
            .as-retail {
                background-image: url("../images/marker-asics.png");
            }
            &.asics-tiger,
            .asicstiger,
            .at {
                background-image: url("../images/marker-asicstiger.png");
            }
            &.onitsuka-tiger,
            .onitsukatiger,
            .ot {
                background-image: url("../images/marker-onitsukatiger.png");
            }
            &.hg-retail,
            .hg,
            .haglofs,
            .hg-outlet {
                background-image: url("../images/marker-haglofs.png");
            }
        }
        .store-info-container {
            box-sizing: border-box;
            float: left;
            margin-bottom: 10px;
            padding-right: 5%;
            @include respond(medium-up) {
                width: 45%;
                max-width: 220px;
            }
        }
        .storename {
            margin: 7px 0 10px;
            float: left;
            width: 85%;
            @include respond(large-up) {
                margin: 0 0 10px;
                width: 80%;
            }
            a {
                @include typo-brand-refinement-title();
            }
        }
        .phone {
            margin-top: 10px;
        }
        .store-info-main-image {
            float: left;
            height: 4rem;
            margin-left: 1rem;
            margin-right: 2rem;
            width: 4rem;
            .image {
                border: 0;
                margin-top: 1rem;
                @include respond(small) {
                    float: left;
                    margin-top: 0;
                }
            }
            image {
                border: 0;
            }
            @include respond(large) {
                margin-left: 1rem;
                margin-right: 1rem;
            }
            @include respond(small) {
                height: auto;
                margin-left: 3rem;
            }
        }
        .directions-details {
            box-sizing: border-box;
            float: left;
            clear: left;
            letter-spacing: .6px;
            margin-left: 40px;
            @include respond(medium-up) {
                clear: none;
                width: 40%;
                margin-left: 0;
            }
            a {
                @include typo-link();
                color: $store-locator-link;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .directons-link {
            margin-bottom: 8px;
        }
        .distance {
            @include typo-store-distance();
            color: $store-locator-info-color;
            padding-bottom: 5px;
            @include respond(medium-down) {
                box-sizing: border-box;
            }
        }
        .hours {
            color: $store-locator-info-color;
            float: left;
            font-size: .875rem;
            letter-spacing: 1px;
            width: 100%;
            @include respond(large) {
                font-size: .75rem;
                width: 30%;
            }
            @include respond(small) {
                margin-left: 3rem;
                width: 83%;
            }
        }
    }
}

.storelocator-promo {
    @include respond(large-up) {
        box-sizing: border-box;
        float: left;
        margin-right: 3%;
        width: 25%;
        img {
            width: 100%;
        }
    }
}

.stores-wrapper {
    color: #333;
    float: left;
    margin: 0;
    width: 100%;
    @include respond(large-up) {
        max-height: 680px;
        overflow-y: auto;
        width: 40%;
    }
    .stores {
        @include respond(large-up) {
            box-sizing: border-box;
            float: left;
            width: 72%;
        }
    }
}

.store-locator-details {
    float: left;
    width: 44%;
    img {
        max-width: 100%;
    }
    h1 {
        p {
            margin: 0.25em 0;
        }
    }
}
.store-locator-details-map {
    float: right;
    width: 50%;
    img {
        max-width: 100%;
    }
}

.mapContent {
    width: 100%;
    h1 {
        @include typo-sub-heading-4();
        border-bottom: 1px solid $box-bg;
        color: $body-text-color;
        margin: 0;
        padding: 20px 20px 15px;
        text-transform: capitalize;
    }
    .contentBody {
        @include typo-map-store-name();
        color: $body-text-color;
        margin-top: 15px;
        padding: 0 20px;
        .spacer {
            margin: .5rem;
        }
    }
    a {
        @include typo-link();
        color: $store-locator-link;
        margin-top: 1rem;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

.markerLabel {
    color: $section-heading-color;
}

.store-name {
    .address & {
        margin-top: .3em;
    }
}
.pt_store-locator-details {
    #main {
        margin-top: 1em;
        @include respond(medium-down) {
            padding: 0 1%;
        }
    }
    .leftStore {
        margin-bottom: 2em;
        @include respond(large-up) {
            box-sizing: border-box;
            float: left;
            margin: 0 2% 0 0;
            width: 33%;
        }
    }
    .rightStore {
        @include respond(large-up) {
            box-sizing: border-box;
            float: left;
            width: 65%;
        }
        #map-canvas {
            width: 100%;
        }
        .store-locator {
            margin-top: 0;
        }
    }
    h1.storedetails-title {
        @include typo-page-heading();
        float: left;
        border-bottom: 0;
        color: $page-heading-color;
        letter-spacing: 0.094em;
        margin: 0;
        padding: 0;
        width: 75%;
    }
    .back {
        @include typo-link();
        color: $store-locator-link;
        display: block;
        float: right;
        padding: 1em 0;
        text-align: right;
        text-decoration: underline;
        width: 25%;
        &:hover {
            text-decoration: none;
        }
    }
    .store-arrow {
        display: inline-block;
        padding-right: .3em;
    }
    .storeAddress {
        border-bottom: 1px solid $border-color;
        float: left;
        margin-bottom: .8em;
        padding-bottom: .8em;
        width: 100%;
        .store-name {
            @include typo-brand-refinement-title();
        }
    }
    .storeHours {
        float: left;
    }
    .distance {
        color: $store-locator-info-color;
    }
    .directionslink {
        @include typo-link();
        color: $store-locator-link;
        display: block;
        padding: 1em 0;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    .store-header {
        @include typo-map-store-name();
        color: $store-locator-info-color;
    }
    #map-canvas {
        @include respond(medium-down) {
            display: block;
        }
    }
}

// Fixes the layering of the marker icon text
.gmnoprint[title] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

//////////////////
// Brand Filters
//////////////////
#brand-refinements-container {
    @include clearfix;
}
.brand-refinements {
    @include clearfix;
    background-color: $box-bg;
    float: left;
    padding: 10px;
    width: calc(100% - 20px);
    @include respond(large-up) {
        background-color: initial;
        padding: 0;
        width: 100%;
    }
    > div {
        @include typo-map-store-name();
        background-color: $box-bg;
        border-bottom: 1px solid $border-color;
        float: left;
        line-height: rem(18px);
        padding: 0 0 10px;
        text-align: left;
        width: 100%;
        @include respond(large-up) {
            border-bottom: 0;
            padding: 15px 0;
            text-align: center;
            width: 25%;
        }
    }
    ul {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        @include respond(large-up) {
            width: 75%;
        }
        li {
            background-color: $box-bg;
            color: $body-text-color;
            float: left;
            padding: 2px 0;
            text-align: left;
            width: 92%;
            @include respond(large-up) {
                padding: 12px 0 7px;
                text-align: center;
                width: 33%;
            }
            &:first-of-type {
                padding-top: 10px;
                @include respond(large-up) {
                    padding-top: 12px;
                }
                .title-wrapper {
                    border-left: 0;
                    width: 100%;
                    @include respond(large-up) {
                        border-left: 1px solid $border-color;
                        width: calc(100% - 2px);
                    }
                }
            }
            &:last-of-type {
                .title-wrapper {
                    border-right: 0;
                }
            }
            &:nth-of-type(3n) {
                .title-wrapper {
                    border-right: 0;
                }
            }
        }
    }
    .title-wrapper {
        @include typo-brand-refinement-title();
        border-right: 0;
        display: block;
        width: 100%;
        @include respond(large-up) {
            border-right: 1px solid $border-color;
            width: calc(100% - 1px);
        }
    }
}

.gm-style {
    div {
        color: $gm-pin-text;
        &.contentBody {
            div {
                color: $body-text-color;
            }
        }
    }
}
