.pt_account,
.pt_order {
    #main {
        h1 {
            @include typo-page-heading();
            padding-bottom: 12px;
            border-bottom: $border-light-thick-2;
            margin-top: 0;
        }
    }
}

#PasswordResetForm {
    fieldset {
        position: relative;
    }
    button {
        float: right;
        top: 0;
        left: 63%;
    }
}

h1 .account-logout {
    font-size: 0.6em;
    float: none;
}

#RegistrationForm {
    .required-indicator {
        display: none;
    }
}

.registration-selection {
    input,
    label {
        display: inline;
        float: none;
    }
}

#addresses {
    padding-bottom: 20px;
}

.address-list {
    padding: 0;
}

.address-tile {
    float: none;
    width: auto;
    list-style: none outside none;
    margin: 0;
    min-height: 135px;
    padding: 1em 0;
    border-bottom: $border;

    &:last-child {
        border: none;
    }

    &.default {
        float: none;
        width: auto;
    }

    @include respond(large-up) {
        float: left;
        width: 30%;
        border: none;

        &.default {
            border-bottom: $border;
        }
    }

    h3 {
        @include typo-secondary-heading();
        color: $section-heading-color;
    }
}

.mini-address-title {
    @include font-bold();
}

#edit-address-form {
    fieldset {
        @include respond(medium-down) {
            width: 100%;
        }
    }

    button {
        @include respond(medium-down) {
            padding: 0 21px;
        }
    }
}

.paymentslist {
    padding-bottom: 25px;
}

.payment-list {
    overflow: hidden;
    padding: 0;

    li {
        list-style: none;
        padding: 0 0 20px;
        margin: 0 0 20px;
        min-height: 110px;
        border-bottom: $border;

        &:last-child {
            border-bottom: none;
        }

        @include respond(large-up) {
            float: left;
            width: 33%;
            padding: 0;
            border: none;
        }
    }
}

#CreditCardForm {
    fieldset {
        @include respond(medium-down) {
            width: 100%;
        }
    }

    .cc-icons {
        position: absolute;
        top: 43px;
        right: 5px;

        @include respond(large-up) {
            right: 16%;
            top: 7px;
        }
    }

    .month,
    .year {
        float: left;
        width: 49%;
        padding-left: 0;
        margin: 0;

        @include respond(large-up) {
            width: 28%;
            padding-left: 2%;
        }

        .field-wrapper {
            width: 100%;
            padding-left: 0;
        }

        label {
            display: none;
        }

        .form-caption {
            margin-left: 0;
        }
    }

    .year {
        @include respond(medium-down) {
            padding-left: 2%;
        }
    }

    .cvn {
        input {
            width: 100px;
        }
    }
}

.cc-wrapper {
    position: relative;
}

.pt_order {
    #main {
        h1 {
            margin-bottom: 0;
        }
    }

    .search-result-options {
        width: 100%;
        padding: 10px 0;
        border: none;
        margin: 0;
    }

    .pagination {
        @include clearfix();
        float: none;
        margin: 0;
        text-align: left;

        li:last-child {
            a {
                @include respond(large-up) {
                    padding-right: 0;
                }
            }
        }
    }

    .search-result-items {
        > li {
            border: $border;
            width: 100%;
        }
    }

    .orderdetails {
        margin-top: 20px;

        + .actions {
            margin: 20px 0;
            text-align: center;

            @include respond(large-up) {
                margin: 50px 0;
                text-align: left;
            }

            a {
                display: block;

                @include respond(large-up) {
                    display: inline-block;
                    vertical-align: middle;
                }

                ~ a {
                    margin: 20px 0 0 0;
                    text-decoration: underline;
                    color: $store-locator-link;

                    @include respond(large-up) {
                        margin: 0 0 0 20px;
                    }
                }
            }
        }
    }

    .order-totals-table {
        td {
            &:last-child {
                text-align: right;
            }
        }

        .order-total {
            display: table-row;
        }
    }

    .order-section {
        width: 100%;
        max-width: 100%;
        border: $border;
        margin-left: 0;

        .order-shipments & {
            &:nth-child(odd) {
                margin-bottom: 0;
            }

            &:nth-child(even) {
                border-top: none;
            }
        }

        .line-item {
            &:last-child {
                border: none;
            }
        }
    }
}

.no_orders {
    margin: 20px 0;
}

.order-section-head {
    display: block;
    .order-date {
        margin-top: 10px;
    }

    @include respond($desktop-breakpoint) {
        display: flex;

        .order-date {
            margin-top: 0;
        }
    }
}

.order-section-head,
.order-history-header {

    .order-date,
    .order-status,
    .order-number {
        color: $brand-color;

        span:nth-child(2) {
            padding-right: 10px;
        }
    }

    .order-site {
        display: inline-block;
    }

    .icon.asics-outlet {
        width: 85px;
        height: 15px;
        display: inline-block;
        fill: $brand-color;
    }
}

.order-history-header {
    position: relative;
    background: $subtle-contrast-bg;
    overflow: hidden;
    padding: 10px 20px;

    button {
        margin-top: 15px;
    }

    .order-date,
    .order-status,
    .order-number {
        float: left;
        margin: 0;
        width: 100%;
    }

    @include respond(550px) {
        button {
            position: absolute;
            right: 10px;
            top: 10px;
            margin: 0;
        }

        .order-date,
        .order-status,
        .order-number {
            width: 70%;
        }
    }
}

.order-history-items {
    margin: 10px 0;
}

.order-history-table {
    th {
        @include font-bold();
    }

    th,
    td {
        padding: 0 20px 5px;

        &:last-child {
            text-align: right;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .order-shipped-to,
    .order-items,
    .order-total-price {
        width: 33%;
    }

    .toggle {
        cursor: pointer;
        display: block;
    }
}

.js .order-history-table .hidden {
    display: none;
}

.facebook-registration {
    @include respond(medium-down) {
        left: -3px;
        position: relative;
        width: 100.7% !important;
        .fb_iframe_widget {
            position: relative;
            width: 100.7% !important;
            span {
                position: relative;
                width: 100.7% !important;
                iframe {
                    position: relative;
                    width: 100.7% !important;
                }
            }
        }
    }

    @include respond(medium) {
        left: 0;
        position: relative;
        width: 100% !important;
        .fb_iframe_widget {
            position: relative;
            width: 100% !important;
            span {
                position: relative;
                width: 100% !important;
                iframe {
                    position: relative;
                    width: 100% !important;
                }
            }
        }
    }

    @include respond(large) {
        left: 0;
        position: relative;
        width: 100% !important;
        .fb_iframe_widget {
            position: relative;
            width: 100% !important;
            span {
                position: relative;
                width: 100% !important;
                iframe {
                    position: relative;
                    width: 100% !important;
                }
            }
        }
    }
}

.login-box-content {
    a {
        display: block;
    }
    a + a {
        margin-top: rem(15px);
    }
    button {
        @include respond(large) {
            padding: 0 16px;
        }
    }
}
