.pt_gift-registry {
    .primary-content h3 {
        @extend .section-header;
    }
    .create-new-registry {
        margin: 1em 0;
        button {
            float: left;
            margin-right: 2em;
        }
        p {
            font-size: 1.3em;
        }
    }
    .add-gift-cert {
        border: $border;
        margin-bottom: -1px;
        overflow: auto;
        padding: .83em;
        p {
            color: $body-text-color-lt;
            @include font-italic();
            line-height: 1.5em;
        }
    }
    .hdr-options {
        width: 9%;
    }
    @include respond(medium-down) {
        .add-gift-cert p {
            width: 100%;
            @include respond(large) {
                width: auto;
            }
        }
        .create-new-registry {
            overflow: hidden;
            p {
                display: none;
            }
        }
        .item-list {
            width: 98%;
            th {
                display: none;
            }
        }
    }
}

.page-content-tab-navigaton button {
    background-color: $section-header-bg;
    border: $border;
    color: $body-text-color-lt;
    font-size: 1.1em;
    @include font-italic();
    font-weight: $font-wt-regular;
    margin: 0 0 -1px;
    &.selected {
        background-color: $base-bg;
        border-color: $base-bg;
    }
    @include respond(medium-down) {
        width: 100%;
    }
}

.gift-reg-purchases {
    .item-purchased-by {
        dd {
            float: left;
            font-weight: $font-wt-bold;
            margin: 0 1em 0 0;
            position: relative;
            width: auto;
        }
        dt {
            clear: both;
            float: left;
            margin: 0 1em 0 0;
            position: relative;
            width: auto;
        }
    }
    .quantity-purchased {
        color: $accent1-color;
    }
}

.gift-registry-advanced {
    @include clearfix();
    .toggle-content {
        display: none;
    }
}
