.checkoutlogin {
    margin: 4em auto;
    width: 80%;
    .col-1 {
        @include respond(large-up) {
            border-right: $border;
        }
    }
}

.login-box {
    h2 {
        @include typo-secondary-heading();
        color: $page-heading-color;
    }

    h3 {
        margin: 0;
    }

    p {
        margin: 1em 0;
    }

    .error {
        margin-left: 0;
    }
}

.login-rememberme {
    display: inline-block;
    margin: 0 0 0 1em;
    vertical-align: middle;
    .field-wrapper {
        width: 100%;
    }
}

.login-oauth {
    img {
        max-width: 100%;
    }

    p:first-child {
        font-size: 2em;
        text-align: center;
        margin: 0;
        text-transform: uppercase;
    }
}

#OAuthProvider {
    display: block;
    margin-bottom: 1em;
    width: 80%;
}
