.pt_wish-list {
    .list-table-header {
        background: $section-header-bg url("../images/interface/icon-double-line-header.png") repeat-x scroll left top;
        overflow: hidden;
        padding: 2em;
        p {
            color: $body-text-color-lt;
            float: right;
            margin: 0;
            overflow: hidden;
            width: 40%;
        }
    }
    .primary-content .list-table-header h2 {
        float: left;
    }
    table.item-list {
        @extend .product-table; // primary_region_elements.scss
    }
}

.list-share {
    @include clearfix();
    border-top: $border;
    padding: 2em;
    .share-option {
        box-sizing: border-box;
        display: block;
        margin-bottom: .5rem;
        float: left;
    }
    .share-options {
        text-align: center;
        margin-bottom: .5rem;
        font-size: 1.7em;
        float: left;
        margin-left: 1rem;
        margin-top: 0.3rem;
        .share-title {
            display: inline;
        }
    }
    .list-title {
        float: left;
    }
    .print-page {
        float: right;
        @include respond(medium-down) {
            display: none;
        }
    }
    .share-link {
        cursor: pointer;
    }
    .share-link-content {
        display: none;
        &.active {
            display: block;
            float: left;
        }
    }
}

.event-info {
    margin: 1em;
}

.wishlist-search,
.registry-search {
    .form-row {
        clear: none;
        margin: .5rem 0 .5rem 1%;
        float: left;
        width: 100%;
    }
    .form-row-button {
        margin-left: 0;
    }
}
