html {
    &.menu-active {
        overflow: hidden;
        height: auto;
    }
}

body {
    background: none repeat scroll 0 0 $body-bg;
    overflow-x: hidden; //to prevent full-bleed-width assets from causing a horizontal scroll bar to appear in page
    @include font-reg($body-text-size);
    letter-spacing: $body-letter-spacing;
    color: $body-text-color;

    .menu-active & {
        overflow: hidden;
    }
}

img {
    max-width: 100vw;
}

a {
    @include typo-link();
    overflow: hidden;
    color: $link-color;
    text-decoration: $link-decor;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decor;
    }
}

p {
    @include typo-paragraph();

    a {
        @include typo-paragraph();
        @include font-bold();
        color: $link-paragraph-color;
    }
}

ul {
    list-style: square outside none;

}

ol {
    list-style: decimal outside none;
}

li {
    @include typo-list();
}

fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

td {
    padding: 1em;
    vertical-align: top;
}

address {
    font-style: normal;
}
