@mixin breadcrumb-relax {
    background: none;
    color: $alert-color;
    font-style: normal;
    padding: 0 0 0 .4em;
}

.breadcrumb {
    font-size: 1em;
    line-height: 1em;
    margin: 0;
    padding: .5em 0;
}

.breadcrumb-refined-by {
    display: block;
    margin: 12px 0 8px;
}

.breadcrumb .searchphraselink,
.breadcrumb-element {
    @include typo-breadcrumb-link();
    color: $link-breadcrumb-color;

    &::after {
        color: $breadcrumb-spacer-color;
        content: "/";
        margin-left: .4em;
        display: inline-block;
    }

    &:last-child {
        &::after {
            content: "";
        }
    }

    &.breadcrumb-refined-by,
    &.breadcrumb-refinement {
        &:last-child {
            &::after {
                content: "";
            }
        }
    }
}

.paging-current-page {
    left: -999em;
    position: absolute;
}

.breadcrumb-refinement {
    &::after {
        content: attr(data-divider);
        font-style: normal;
    }
    &:last-of-type {
        &::after {
            content: "";
        }
    }
}

.breadcrumb-refinement-name {
    @include font-size(14px);
}

.breadcrumb-refinement-value {
    @include font-bold();
    display: inline-block;
    border-radius: 3px;
    margin: 0 .42em .42em 0;
    padding: 0 .42em;
}

.breadcrumb-relax {
    @include breadcrumb-relax();
}

.breadcrumb-result-text {
    &::after {
        content: "";
    }
}

.breadcrumb .searchphraselink {
    @include typo-breadcrumb-text();
    background: none;
    padding: 0;
    &:hover {
        text-decoration: none;
        color: $link-breadcrumb-hover-color;
    }
}
