
////////////////////////////////////////////////////////////
// BUTTON MIXINS
////////////////////////////////////////////////////////////

/* button()
 * @description Insert button styling. Default (no param) will return primary button styles. If a param is passed, certain style rules are ommitted initially, as they would just be immediately overridden.
 * @param $class - String. Optional. The desired button style, ex: secondary. Acceptable values: 'primary' (default), 'primary-alt', 'secondary', 'secondary-alt', 'tertiary'
 * @example: a.my-link {@include button('secondary-alt')}
 */
@mixin button ($class: "", $height: $btn-height, $fontsize: $btn-font-size) {
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    @include setButtonHeight($height);
    @include font($btn-font);
    @include font-size($fontsize);
    letter-spacing: $btn-letter-space;
    border-radius: $btn-border-radius;
    border-width: $btn-border-width;
    border-style: solid;
    text-align: center;
    text-decoration: none;
    text-transform: $btn-text-transform;
    transition: all 0.3s ease;
    &:hover,
    &:focus,
    &:active,
    &.active {
        text-decoration: none;
    }
    &:focus {
        outline: $focus-outline-style;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: not-allowed;
        opacity: $btn-disabled-opacity;
    }
    @if $class == "" {
        @include primaryButton();
    }
    @if $class == "primary-alt" {
        @include primaryAltButton();
    }
    @if $class == "secondary" {
        @include secondaryButton();
    }
    @if $class == "secondary-alt" {
        @include secondaryAltButton();
    }
    @if $class == "tertiary" {
        @include tertiaryButton();
    }
    @if $class == "ghost" {
        @include ghostButton();
    }
}

// This override is only to be used if a button that is initially styled with secondary/tertiary/non-primary styling
// must be overrided with primary styles, for example in content banners.

@mixin primaryButton () {
    color: $btn-color;
    background-color: $btn-bg;
    border-color: $btn-border-color;
    .cta-play-button {
        .icon {
            fill: $btn-color;
        }
    }
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $btn-hover-color;
        background-color: $btn-hover-bg;
        border-color: $btn-hover-border-color;
        .cta-play-button {
            .icon {
                fill: $btn-hover-color;
            }
        }
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        color: $btn-disabled-color;
        background-color: $btn-disabled-bg;
        border-color: $btn-disabled-border-color;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $btn-disabled-color;
            background-color: $btn-disabled-bg;
            border-color: $btn-disabled-border-color;
            .cta-play-button {
                .icon {
                    fill: $btn-color;
                }
            }
        }
    }
}

// button styles overrides for primary buttons

@mixin primaryAltButton () {
    color: $btn-alt-color;
    background-color: $btn-alt-bg;
    border-color: $btn-alt-border-color;
    .cta-play-button {
        .icon {
            fill: $btn-alt-color;
        }
    }
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $btn-alt-hover-color;
        background-color: $btn-alt-hover-bg;
        border-color: $btn-alt-hover-border-color;
        .cta-play-button {
            .icon {
                fill: $btn-alt-hover-color;
            }
        }
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        color: $btn-alt-disabled-color;
        background-color: $btn-alt-disabled-bg;
        border-color: $btn-alt-disabled-border-color;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $btn-alt-disabled-color;
            background-color: $btn-alt-disabled-bg;
            border-color: $btn-alt-disabled-border-color;
            .cta-play-button {
                .icon {
                    fill: $btn-alt-color;
                }
            }
        }
    }
}

// button styles overrides for secondary buttons

@mixin secondaryButton () {
    color: $btn2-color;
    background-color: $btn2-bg;
    border-color: $btn2-border-color;
    .cta-play-button {
        .icon {
            fill: $btn2-color;
        }
    }
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $btn2-hover-color;
        background-color: $btn2-hover-bg;
        border-color: $btn2-hover-border-color;
        .cta-play-button {
            .icon {
                fill: $btn2-hover-color;
            }
        }
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        color: $btn2-disabled-color;
        background-color: $btn2-disabled-bg;
        border-color: $btn2-disabled-border-color;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $btn2-disabled-color;
            background-color: $btn2-disabled-bg;
            border-color: $btn2-disabled-border-color;
            .cta-play-button {
                .icon {
                    fill: $btn2-color;
                }
            }
        }
    }
}

// button styles overrides for secondary buttons (over a dark background)

@mixin secondaryAltButton () {
    color: $btn2-alt-color;
    background-color: $btn2-alt-bg;
    border-color: $btn2-alt-border-color;
    .cta-play-button {
        .icon {
            fill: $btn2-alt-color;
        }
    }
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $btn2-alt-hover-color;
        background-color: $btn2-alt-hover-bg;
        border-color: $btn2-alt-hover-border-color;
        .cta-play-button {
            .icon {
                fill: $btn2-alt-hover-color;
            }
        }
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        color: $btn2-alt-disabled-color;
        background-color: $btn2-alt-disabled-bg;
        border-color: $btn2-alt-disabled-border-color;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $btn2-alt-disabled-color;
            background-color: $btn2-alt-disabled-bg;
            border-color: $btn2-alt-disabled-border-color;
            .cta-play-button {
                .icon {
                    fill: $btn2-alt-color;
                }
            }
        }
    }
}

// button styles overrides for tertiary buttons

@mixin tertiaryButton () {
    color: $btn3-color;
    background-color: $btn3-bg;
    border-color: $btn3-border-color;
    .cta-play-button {
        .icon {
            fill: $btn3-color;
        }
    }
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $btn3-hover-color;
        background-color: $btn3-hover-bg;
        border-color: $btn3-hover-border-color;
        .cta-play-button {
            .icon {
                fill: $btn3-hover-color;
            }
        }
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        color: $btn3-disabled-color;
        background-color: $btn3-disabled-bg;
        border-color: $btn3-disabled-border-color;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $btn3-disabled-color;
            background-color: $btn3-disabled-bg;
            border-color: $btn3-disabled-border-color;
            .cta-play-button {
                .icon {
                    fill: $btn3-color;
                }
            }
        }
    }
}

// button style overrides for ghost buttons (empty button with outline)

@mixin ghostButton () {
    color: $btn-ghost-color;
    background-color: $btn-ghost-bg;
    border-color: $btn-ghost-border-color;
    .cta-play-button {
        .icon {
            fill: $btn-ghost-color;
        }
    }
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $btn-ghost-hover-color;
        background-color: $btn-ghost-hover-bg;
        border-color: $btn-ghost-hover-border-color;
        .cta-play-button {
            .icon {
                fill: $btn-ghost-hover-color;
            }
        }
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        color: $btn-ghost-disabled-color;
        background-color: $btn-ghost-disabled-bg;
        border-color: $btn-ghost-disabled-border-color;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $btn-ghost-disabled-color;
            background-color: $btn-ghost-disabled-bg;
            border-color: $btn-ghost-disabled-border-color;
            .cta-play-button {
                .icon {
                    fill: $btn-ghost-color;
                }
            }
        }
    }
}

// button styles overrides for large button variant

@mixin smallButton () {
    @include setButtonHeight($small-btn-height, $btn-border-width, $small-btn-side-padding);
    @include font-size($small-btn-fontsize);
    letter-spacing: $small-btn-letter-spacing;
}

// button styles overrides for Add To Cart sized buttons

@mixin addToCartButton () {
    @include setButtonHeight($a2c-btn-height, $btn-border-width, $a2c-btn-side-padding);
    @include font-size($a2c-btn-fontsize);
}

// button styles overrides for simple buttons

@mixin simpleButton () {
    background-color: $btn2-bg;
    color: $btn2-color;
}

///////////// BUTTON STYLES ///////////////

button,
.button,
.buttonstyle,
input[type="button"] {
    @include button();
    &.primary-alt {
        @include primaryAltButton();
    }
    &.secondary {
        @include secondaryButton();
    }
    &.secondary-alt {
        @include secondaryAltButton();
    }
    &.tertiary {
        @include tertiaryButton();
    }
    &.small {
        @include smallButton();
    }
    &.simple {
        @include simpleButton();
    }
    a {
        color: $btn-color;
        text-decoration: none;
        &:hover {
            color: $btn-hover-color;
            text-decoration: none;
        }
    }
    i,
    span.fa {
        &.left {
            margin-right: 0.6em;
        }
        &.right {
            margin-left: 0.6em;
        }
    }
}

.button-fancy-large {
    @include addToCartButton();
}

// Force a <button> to display like a regular <a> text link
.button-text {
    color: $link-alt-color;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    height: auto;
    min-height: 0;
    text-decoration: inherit;
    text-transform: inherit;
    background-color: $trans;
    border-width: 0;
    padding: 0;
    -webkit-appearance: inherit;
    &:hover,
    &:active,
    &:focus {
        color: $link-alt-color;
        background-color: $trans;
        text-decoration: $link-hover-decor;
    }
    p & {
        color: $link-paragraph-color;
        &:hover,
        &:active,
        &:focus {
            color: $link-hover-color;
        }
    }
}

.button-full-width {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 100%;
}
