//-----------------------------------------------
//  EXTENSIBLE CLASSES
//
//  Extending an existing class adds the current selector to the chain of selectors for that extended class.
//
//  Example SCSS:
//  .myclass {color: #cf762d;}
//  .newclass {@extend .myclass;}
//
//  Compiles to CSS:
//  .myclass, .newclass {color: #cf762d;}
//
//  Best practices when using the @extend directive in Sass:
//  Make sure the extended selector (.myclass in the example above) is present only once throughout the site.
//  Avoid extending from nested selectors. This could create more CSS bloat than just copy and pasting those extended styles themselves.
//  Avoid chaining @extend directives.  Unpredictable behavior could result.
//  Don’t try extending from within a media query; it doesn’t work. For these scenarios, use the mixin instead.
//
//  Any of the following can apply directly in HTML as a class, or extend in SCSS using the @extend directive
//-----------------------------------------------


// Inner page content width
//---------------------------------------
.content-width {
    @include content-width()
}

.content-width-override {
    @include override-content-width();
}

.content-width-override-gutters {
    @include override-content-width-gutters();
}

// Clearfix
//---------------------------------------
.clearfix {
    @include clearfix();
}

// Visually Hidden Elements
//---------------------------------------
.visually-hidden {
    @include visually-hidden;
}

// Menu - Base Styles
//---------------------------------------
.menu {
    @include menu();
}

// Full-Bleed (using VW's)
//---------------------------------------
.full-bleed-width {
    @include full-bleed-width();
}

// Media Query Classes
//---------------------------------------
.desktop-only {
    @include respond(large-down) {
        display: none;
    }
}

.desktop-tablet {
    @include respond(medium-down) {
        display: none;
    }
}

.tablet-only {
    @include respond(desktop) {
        display: none;
    }

    @include respond(medium-down) {
        display: none;
    }
}

.tablet-mobile {
    @include respond(desktop) {
        display: none;
    }
}

.mobile-only {
    @include respond(large-up) {
        display: none;
    }
}

// Font Style Classes
//---------------------------------------
.bold {
    @include font-bold();
}
.brand-color {
    color: $brand-color;
}
.brand-color2 {
    color: $brand-color2;
}
