footer {
    background-color: $footer-bg;

    > .content-asset {
        @include respond(large-up) {
            border-top: $border-footer;
            background-color: $footer-bg2;
        }
    }
}

.footer-container {
    @include content-width();
    color: $footer-text-color;

    @include respond(desktop) {
        display: flex;
        flex-wrap: wrap;
    }

    .content-asset {
        box-sizing: border-box;
        padding: rem(8px) 0;
        border-top: $border-footer;
        &:first-child {
            border-top: none;
            margin-bottom: rem(20px);
        }

        @include respond(desktop) {
            flex-grow: 1;
            -webkit-flex-grow: 1;
            padding: rem(24px) 0;
            border-top: none;

            &:first-child {
                padding: rem(24px) rem(16px) rem(24px) 0;
                margin: 0 30px 0 0;
                max-width: 40%;
            }

            &:nth-child(2) {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        .plus,
        .minus {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            fill: $footer-text-color;

            @include respond(desktop) {
                display: none;
            }
        }
    }

    h2,
    h3,
    h4,
    h5 {
        margin-bottom: 0;
    }

    h2,
    .content-asset>h4 {
        @include typo-footer-large-header();
        margin-top: rem(15px);
    }

    h3,
    .content-asset>h5 {
        @include typo-footer-column-header();
    }

    .col-header {
        position: relative;

        @include respond(large-down) {
            margin: 0;
            cursor: pointer;

            .minus {
                display: none;
            }

            &.active {
                .minus {
                    display: inline-block;
                }

                .plus {
                    display: none;
                }

                + .menu-footer {
                    display: block;
                }
            }
        }
    }

    p {
        margin: 4px 0 8px !important;
    }

    .menu-footer {
        display: none;
        float: none;
        margin: 0;
        padding: 0;

        @include respond(desktop) {
            display: block;
        }

        li {
            @include typo-footer-small();
            float: none;
            list-style: none !important;
        }
    }

    a {
        @include typo-footer-link();
        color: $footer-text-color;
    }
}

.social-links {
    display: flex;
    padding: 0 !important;
    margin: rem(15px) 0 0;

    li {
        list-style: none !important;
        padding-right: rem(20px);

        &:last-child {
            padding-right: 0;
        }
    }
}

#email-alert-signup,
#email-alert-signup-modal {
    margin-bottom: rem(35px);
    font-size: 0;

    @include respond(medium-up) {
        white-space: nowrap;
    }

    .form-row {
        display: inline-block;
        width: calc(100% - 143px);
        margin: 0;
        vertical-align: top;

        @include respond(medium-down) {
            width: calc(100% - 40px);
        }
    }

    label {
        margin: 0;
    }

    input[type="text"] {
        width: 100%;
        height: rem(40px);
        border: $input-email-alert-border;
        margin-left: 0;
        letter-spacing: $input-email-alert-letter-spacing;
        background-color: $input-email-alert-bg-color;
        color: $input-email-alert-color;

        @include respond(medium-down) {
            border-radius: 2px 0 0 2px;
        }

        &::placeholder {
            color: $input-email-alert-color;
        }
    }

    button {
        vertical-align: top;

        @include respond(medium-down) {
            height: 40px;
            padding-left: rem(13px);
            padding-right: rem(13px);
            border-radius: 0 2px 2px 0;
        }

        @include respond(large-up) {
            margin-left: rem(8px);
        }

        span {
            @include respond(medium-down) {
                display: none;
            }
        }

        .icon {
            fill: $icon-email-signup-fill;

            @include respond(large-up) {
                display: none;
            }
        }
    }

    span.error {
        display: block;
        margin-top: 8px;
    }

    span.success {
        display: block;
        margin-top: 8px;
        @include font-size(11px);
        letter-spacing: 0.05em;
    }

    @include respond(medium-down) {
        margin: 0;
        width: 100%;

        label {
            text-align: center;
            width: 100%;
        }

        input [type="text"] {
            float: none;
            margin: 0;
            width: 50%;
        }

        input[type="image"] {
            float: none;
            vertical-align: bottom;
        }
    }

    @include respond(large) {
        margin: 0;
        width: 100%;

        label {
            float: none;
            display: block;
            text-align: center;
            width: 100%;
        }
    }
}

.copyright {
    @include typo-copyright-text();
    padding: rem(15px) rem(10px);
    border-top: $border-footer;
    background-color: $footer-bg2;
    color: $footer-text-color2;

    @include respond(large-up) {
        @include content-width();
        border: none;
        padding: rem(15px) 0;
    }
}

.copyright-links {
    a {
        @include typo-copyright-text();
        color: $footer-text-color2;

        &:not(:last-child) {
            padding-right: rem(12px);
            border-right: $border-footer-2;
            margin-right: rem(8px);
        }
    }
}

.postscript {
    @include font-italic();
    text-align: center;
    background-color: $footer-bg;
    color: $footer-text-color;
}

.email-signup-popup,
.restricted-shopping-popup {
    background-size: cover;
    border: 0 !important;
    border-radius: 0 !important;
    .ui-dialog-titlebar {
        height: 0 !important;
    }
    .ui-dialog-content {
        text-align: center;
        width: 100% !important;
        box-sizing: border-box;
        padding: 0 10px 25px 10px !important;
        overflow: hidden;
        position: relative;
        @include respond(large-up) {
            width: 560px !important;
            padding: 5px 40px 65px 40px !important;
        }
        h2 {
            @include font-bold(18px);
            color: $dialog-title-color;
            margin-bottom: 0;
            @include respond(large-up) {
                @include font-bold(24px);
            }
        }
        p {
            @include font-reg(12px);
            color: $dialog-title-color;
            margin-top: 0;
            margin-bottom: 20px;
            @include respond(large-up) {
                @include font-reg(14px);
            }
        }
        input[type="text"] {
            height: 40px;
            margin-right: 8px;
            width: 80%;
            @include font-reg(14px);
            color: $input-text-color-dark !important;
            border: $input-border !important;
            @include respond(large-up) {
                @include font-reg(12px);
            }
        }
        input::-webkit-input-placeholder {
            color: $input-text-color-dark !important;
        }
        button {
            min-height: 0;
            height: 40px;
            line-height: normal;
            padding: 10px 15px;
            @include font-reg(14px);
            @include respond(large-up) {
                @include font-reg(12px);
            }
        }
        span {
            text-align: left;
        }
        a {
            @include font-reg(14px);
            text-decoration: underline;
            color: $dialog-title-color;
            margin-top: 15px;
            display: inline-block;
            @include respond(large-up) {
                @include font-reg(12px);
                margin-top: 0;
            }
        }
    }
}
#email-signup-popup {
    display: none;
}

.back-to-top {
    visibility: hidden;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;

    &.show {
        visibility: visible;
        opacity: 1;
    }

    .back-to-top-icon {
        @include line-height(25px);
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        font-family: sans-serif;
        background: $back-to-top-bg;

        .icon {
            transform: translateY(-3px) rotateZ(-90deg);
            fill: $back-to-top-icon-fill;
        }
    }

    .back-to-top-text {
        @include font-bold(9px);
        display: $back-to-top-text-display;
        margin-top: 6px;
        text-transform: uppercase;
        color: $back-to-top-text-color;
    }
}
