//-----------------------------
// Form Components
//-----------------------------

// buttons
@import "buttons";

legend {
    background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top $section-header-bg;
    border-bottom: 1em solid $base-bg;
    @include font-bold;
    font-size: 1.1em;
    margin: 0;
    padding: 1.16em 2% .83em;
    position: relative;
    text-transform: uppercase;
    width: 96%;
    .ie7 & {
        width: 94%;
    }
    span {
        @include font-semibold(12px);
        position: relative;
        text-transform: none;
        padding: 0 .5em;
        em {
            color: $body-text-color;
        }
    }
}

.dialog-required {
    @include font-reg(12px);
    display: inline;
    float: right;
    position: relative;
    padding: .16em 0;
    text-transform: none;
    &.contact-us-offset {
        @include respond(large-up) {
            margin-right: 15%;
        }
    }
    em {
        @include font-reg(12px);
        color: $required-text-color;
        font-style: normal;
        text-transform: capitalize;
    }
    .required-indicator {
        @include font-reg(12px);
        color: $required-text-color;
    }
}

label {
    @include typo-form-label();
    display: block;
    margin-bottom: 5px;
    color: $label-color;

    a {
        color: $link-paragraph-color;
    }

    .form-horizontal & {
        float: left;
        margin-top: 8px;
        margin-bottom: 5px;
        width: 100%;

        @include respond(large-up) {
            margin-bottom: 0;
            text-align: left;
            width: 25%;
        }
    }

    .label-inline &,
    .field-wrapper & {
        display: inline;
        float: none;
        margin-top: 0;
        text-align: left;
        width: auto;
    }

    .label-above & {
        margin-bottom: .3rem;
        width: auto;
    }
}

.form-label-text {
    @include typo-form-label();
    float: left;
    padding: 0.75em 0 0;
    text-align: right;
    width: 25%;
    color: $label-color;
}

.form-row {
    @include clearfix();
    margin: .5rem 0 1rem;
}

.form-row-button {
    clear: left;
    .form-horizontal & {
        @include respond(large-up) {
            margin-left: 27%;
            width: 62%;
        }
    }
}

.field-wrapper {
    box-sizing: border-box;
    width: 100%;

    .form-horizontal & {
        float: left;
        width: 100%;

        @include respond(large-up) {
            padding-left: 2%;
            width: 48%;
        }
    }

    .label-inline & {
        float: left;
        padding-left: 0;
        width: auto;
    }

    .label-above & {
        float: none;
        padding-left: 0;
        width: auto;
    }
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
textarea {
    @include typo-input-text();
    box-sizing: border-box;
    padding: 0 $input-padding-horizontal;
    border: $input-border;
    border-radius: $input-border-radius;
    width: 100%;
    height: $input-height;
    text-indent: 0;
    color: $input-text-color;
    background-color: $input-bg;

    &:focus {
        border: $focus-border;
        outline: $focus-outline-style;
        &::placeholder {
            color: transparent;
        }
    }

    &::placeholder {
        color: $placeholder-color;
    }
}

textarea {
    max-width: 100%;
    height: $textarea-height;
}

@mixin select-element {
    @include typo-select-text();
    width: 100%;
    height: $input-height;
    box-sizing: border-box;
    border: $input-border;
    border-radius: $input-border-radius;
    color: $input-text-color;
    background-color: $select-bg;

    &:focus {
        border: $focus-border;
        outline: $focus-outline-style;
    }
}

select {
    @include select-element();
}

@mixin select-custom {
    overflow: hidden;
    display: block; // set display to inline-block to allow a select box to shirnk down to it's natural width (rather than 100%)
    padding-right: $select-arrow-icon-width;

    //Hack: IE10 only
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        padding-right: 10px;
    }

    //Hack: IE9 only
    @media all and (min-width: 0\0) and (min-resolution: .001dpcm) {
        padding-right: 0;
    }

    box-sizing: border-box;
    border: $input-border;
    border-radius: $input-border-radius;
    background: $select-bg;
    background-position: right 10px center;

    select {
        border: 0;
        background: $trans;
        padding: 2px 0 2px 10px;
        height: $input-height - $input-border-width * 2;

        //Hack: IE9 only
        @media all and (min-width: 0\0) and (min-resolution: .001dpcm) {
            padding-right: 10px;
        }

        width: 120%; // in case some browser doesn't support the calc function below
        width: calc(100% + #{$select-arrow-icon-width});
        appearance: none;
    }

    label {
        display: none;
    }
}

@mixin search-select-style {
    @include select-custom();
    background: $select-search-bg;
    background-position: right 10px center;
    position: relative;

    &.active {
        background: $select-search-bg2;
        background-position: right 10px center;
    }
}

/* ------ Select Box Styles: danielneumann.com Method (customized to iRobot) ------ */
/* ------ Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ ------ */
.select-style {
    @include select-custom();
}

.search-select-style {
    @include search-select-style();
}

input[type="checkbox"],
input[type="radio"] {
    opacity: 0;
    position: absolute;

    &:focus + label:not(.bv-fieldset-label-checkbox)::before {
        border: $focus-border;
        outline: $focus-outline-style;
    }

    & + label:not(.bv-fieldset-label-checkbox) {
        position: relative;

        &::before {
            content: "";
            background: $input-bg; // should not be $trans
            border: $input-border;
            border-radius: $input-border-radius;
            display: inline-block;
            vertical-align: text-bottom;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            text-align: center;
        }

        span {
            float: right;
            width: calc(100% - 26px);
            line-height: 18px;
        }
    }
}

input[type="checkbox"] {
    &:checked + label:not(.bv-fieldset-label-checkbox)::before {
        background: $input-check-bg;
    }
}

input[type="radio"] {
    & + label:not(.bv-fieldset-label-checkbox) {
        display: block;
        clear: both;
    }

    .options-inline & + label:not(.bv-fieldset-label-checkbox) {
        display: inline;
        clear: none;
        &:nth-of-type(n + 2)::before { //all but the first
            margin-left: rem(32px);
        }
    }

    & + label:not(.bv-fieldset-label-checkbox)::before {
        border: $radio-border;
        border-radius: 50%;
    }

    &:focus + label:not(.bv-fieldset-label-checkbox)::before {
        border: $radio-border-focus;
    }

    &:checked + label:not(.bv-fieldset-label-checkbox)::before {
        background: $input-radio-bg;
    }
}

.field-value {
    @include typo-form-label();
    display: block;
    margin-top: 8px;
}

.form-caption {
    @include typo-form-caption();
    clear: left;
    width: auto;
    padding-top: 4px;
    color: $form-caption-color;

    .checkbox & {
        text-indent: rem(32px);
    }

    .form-horizontal & {
        @include respond(large-up) {
            margin-left: 27%;
        }
    }

    .label-above & {
        margin-left: 0;
    }

    .form-indent & {
        margin-left: 0;
    }
}

.form-indent {
    @include respond(large-up) {
        margin-left: 27%;

        .field-wrapper {
            width: 80%;
            padding-left: 0;
        }
    }
}

.error-message {
    @include typo-form-error();
    padding: 0.7em 0.5em;
    text-indent: 0;
    width: 49.5966%;
}

.error {
    color: $error-color;
}

input.error {
    border: $error-border;
}

span.error,
div.error {
    @include typo-form-error();
    display: block;
    margin-top: 4px;
    background: none;
}

.error-form {
    background-color: $white;
    border: $error-border;
    border-radius: .5em;
    margin: 0.5em 0;
    padding: 0.8em;
}

.form-inline {
    form {
        padding: 0 0 2em;
        width: 98%;
    }
    label {
        padding: 0 0 0.75em;
        text-transform: uppercase;
        width: auto;
    }
    input[type="text"],
    select {
        margin-left: 0;
        width: 95%;
    }
    button {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}

.row-inline {
    display: inline;
    label {
        width: auto;
    }
}

.require-dialog {
    @include font-semibold;
    position: absolute;
    right: 1em;
    text-transform: none;
    top: 1em;
}

.required-indicator {
    @include font-reg();
    color: $required-indicator-color;
    margin-left: 0.25em;
    white-space: nowrap;
}

.form-field-tooltip {
    @include font-size(12px);
    float: left;
    width: 24%;
    margin-left: 3%;
    padding-top: .75em;
    line-height: 1em;
}

.js .simple-submit {
    display: none;
}

.quantity-field {
    white-space: nowrap;
    font-size: 0;
    input {
        vertical-align: middle;
        border-left: none;
        border-right: none;
        border-top: $border;
        border-bottom: $border;
        height: calculateRem(37px);
        width: calculateRem(25px);
        border-radius: 0;
        padding: 0;
        text-align: center;
        @include font-reg(12px);
        appearance: none;
        -moz-appearance: textfield;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }
}
.quantity-button {
    @include font-reg(12px);
    @include line-height(32px);
    display: inline-block;
    box-sizing: border-box;
    width: calculateRem(25px);
    height: calculateRem(37px);
    border: $border;
    text-align: center;
    vertical-align: middle;
    background-color: $white;
    color: $cart-qty;
    cursor: pointer;

    &.increase {
        border-left: none;
    }

    &.decrease {
        border-right: none;
    }
}
/* Non-form element styled to look like a checkbox */
.checkbox-style {
    content: "";
    background: $input-bg; // should not be $trans
    border: $input-border;
    border-radius: $input-border-radius;
    display: inline-block;
    vertical-align: text-bottom;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    text-align: center;
    &.checked {
        background: $input-check-bg url("../images/icons/checkmark.svg") no-repeat center;
    }
}
/* Non-form element styled to look like a radio button */
.radio-style {
    content: "";
    background: $input-bg; // should not be $trans
    border: $radio-border;
    border-radius: 50%;
    display: inline-block;
    vertical-align: text-bottom;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    text-align: center;
    &.checked {
        background: $input-radio-bg;
    }
}
