// Styles apply to svg icons implemented via the svghelper module
.icon {
    display: inline-block;
    vertical-align: middle;
    fill: $icon-fill;

    // Icons grouped by extra class
    &.hoverable:hover {
        fill: $icon-hover-fill;
    }
    &.header-icons {
        fill: $icon-header-fill;
        &:hover {
            fill: $icon-header-hover-fill;
        }
    }
    &.social-icons {
        fill: $icon-social-fill;
        &:hover {
            fill: $icon-social-hover-fill;
        }
    }
    &.cta-arrow {
        &.left {
            transform: rotateY(180deg);
        }
    }
}
