/* Import the base jQuery UI styles */
@import "jqueryui/jquery-ui";

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-widget-overlay {
    background: url("../images/interface/ui-overlay-shadow.png") repeat scroll 50% 50% darken($box-drk-bg, 60%);
    opacity: 0.8;
}

.ui-dialog {
    background-color: $dialog-bg;
    padding: 0;
    .ui-widget-header {
        background-color: $dialog-header-bg;
        border: 0 none;
        border-radius: 0;
        text-transform: uppercase;
    }
    .ui-dialog-title {
        @include typo-dialog-title();
        color: $dialog-title-color;
        text-transform: $dialog-title-texttransform;
        padding: rem(20px) rem(20px) rem(8px) 0;
        margin: 0 rem(20px);
        width: calc(100% - 40px);
        box-sizing: border-box;
    }
    .ui-icon-closethick {
        background-image: $ui-icon-closethick-icon;
        background-position: left top;
        height: 32px;
        width: 32px;
        left: 0;
        top: 0;
        margin-left: 0;
        margin-top: 0;
    }
    .ui-dialog-titlebar-close {
        top: 20px;
        right: 20px;
        width: 32px;
        height: 32px;
        min-height: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        margin: 0;
        background-color: $trans;

        span {
            margin: 0;
            padding: 0;
        }

        .ui-button-text {
            @include visually-hidden();
        }
    }

    .ui-dialog-content {
        padding: 20px;
    }

    h1 {
        @include h2();
        margin-top: 0;
    }

    @include respond(medium-down) {
        max-width: 98%;

        .ui-dialog-content {
            padding: .25em;
            height: auto !important;
            overflow: visible;
        }
    }

    @include respond(large) {
        max-width: 98%;

        .ui-dialog-content {
            height: auto !important;
            overflow: visible;
        }
    }
    .ui-dialog-titlebar {
        padding: 0;
        margin: 0;
    }
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-accordion .ui-accordion-content {
    padding: 0;
}

.ui-tabs {
    .ui-tabs-nav {
        height: 2.45em;
        padding: 0;
        li {
            border-color: $base-bg;
            border-style: solid;
            border-width: 0 0 3px 0;
            &.ui-state-active {
                border-bottom-color: $accent1-color;
                a {
                    color: $link-alt-color;
                    font-weight: $font-wt-bold;
                }
            }
            a {
                color: $body-text-color-lt;
            }
        }
    }
    .ui-tabs-panel {
        background-color: $base-bg;
        border: 1px solid $base-bg;
        line-height: 1.5em;
        margin: 0;
        padding: 20px 10px;
        @include respond(large) {
            h3 {
                display: none;
            }
        }
    }
}
