.js {
    .loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .loader-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $base-bg;
        opacity: 0.7;
    }
    .loader-indicator {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
        width: 64px;
        height: 64px;
        background: url("../images/loading-small.gif") no-repeat;
    }
}
