#wrapper {
    background-color: $base-bg;
    left: 0;
    margin: auto;
    position: relative;
    transition: left 0.2s ease-in;
    width: 100%;

    &.menu-active {
        left: calc(100% - 45px);

        @include respond(large-up) {
            left: 50%;
        }
    }
    @include respond($mobile-menu-breakpoint) {
        &.menu-active {
            left: auto;
        }
    }
}

#main {
    box-sizing: border-box;
    max-width: $max-content-breakpoint;
    padding: 0 $content-width-gutters;
    margin: auto;
}

.pt_content_landing,
.category-landing-content {
    #main {
        max-width: 100%;
        padding: 0;
    }
    .breadcrumb-container {
        position: relative;
        min-height: 34px;
    }
    .breadcrumb {
        max-width: $max-content-breakpoint;
        padding: rem(8px) $content-width-gutters;
        margin: 0 auto;
        position: absolute;
        width: 100%;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
    }
}

.primary-content {
    width: 100%;

    &:focus {
        outline: none;
    }

    @include respond(large-up) {
        box-sizing: border-box;
        float: right;
        margin-left: 50px;
        padding: 0 0 20px;
        position: relative;
        width: calc((100% - #{$left-nav-width}) - 50px);

        .primary-focus & {
            float: left;
            margin: 0;
            width: 76%;
        }

        .full-width & {
            width: 100%;
        }

        .page-content & {
            padding-left: 3%;
        }

        .pt_account &,
        .pt_order & {
            width: 66%;
            padding-left: 3%;
            margin-left: 0;
        }
        &.category-landing-content {
            margin-left: 0;
        }
    }

    @include respond(desktop) {
        .pt_account &,
        .pt_order & {
            width: calc(100% - #{$account-left-nav-width});
            padding-left: 7%;
        }
    }
}

#secondary {
    float: none;
    width: 100%;

    nav {
        border: $border;

        a {
            display: block;
        }
    }

    @include respond(large-up) {
        float: left;
        width: $left-nav-width;
        position: relative;

        .primary-focus & {
            background: none;
            box-sizing: border-box;
            float: left;
            padding-left: .4rem;
            width: 24%;
        }

        .pt_account &,
        .pt_order & {
            width: 33%;
        }
    }

    @include respond(desktop) {
        .pt_account &,
        .pt_order & {
            width: $account-left-nav-width;
        }
    }
}

.secondary-content {
    clear: both;
}
