h1 {
    @include h1();
    color: $section-heading-color;
}

h2 {
    @include h2();
}

h3 {
    @include h3();
}

h4 {
    @include h4();
}

.primary-content {
    dl {
        clear: both;
        overflow: hidden;
        dt {
            clear: both;
            float: left;
            margin: 2% 0 0;
            min-width: 15%;
        }
        dd {
            float: left;
            margin: 2% 0 0;
            padding: 0 0 0 5%;
        }
    }
}

.columns {
    @include respond(large-up) {
        display: flex;
    }
}

.col-1,
.col-2 {
    box-sizing: border-box;
    margin: 0 0 20px;

    @include respond(large-up) {
        width: 50%;
    }
}

.col-1 {
    @include respond(medium-down) {
        padding-bottom: 20px;
        border-bottom: $border-light-2;
    }

    @include respond(large-up) {
        padding-right: 20px;
        border-right: $border-light-2;
    }
}

.col-2 {
    @include respond(large-up) {
        padding-left: 20px;
    }
}

.content-header {
    font-size: 1.75em;
    @include font-italic();
    font-weight: $font-wt-regular;
    margin: 0 0 14px !important;
    span {
        font-size: 0.75em;
        font-style: normal;
        font-weight: $font-wt-regular;
    }
}

.section-header {
    @include typo-secondary-heading();
    position: relative;
    padding: 1em 0;
    margin: 0;
    background: $section-header-bg;

    .dialog-required {
        text-transform: none;
    }
}

.section-header-note {
    font-size: 0.9em;
    font-weight: $font-wt-regular;
    text-transform: none;
}

.back {
    display: block;
    margin: 0 0 10px;
}

.item-list {
    margin-bottom: 1em;
    tr {
        border-bottom: $border;
        &.last {
            border: 0 none;
        }
        &.headings {
            display: none;
        }
    }
    td {
        padding: 1em;
        vertical-align: top;
        img {
            max-width: 100%;
            min-width: rem(50px);
        }
    }
}

.product-table {
    td {
        box-sizing: border-box;
        display: block;
        float: right;
        @include respond(medium-down) {
            &:last-of-type {
                padding-bottom: rem(10px);
            }
        }
        @include respond(large-up) {
            display: table-cell;
            float: none;
            &:last-of-type {
                padding-right: 0;
            }
        }
    }
    .item-details {
        @include respond(large-up) {
            width: 32%;
        }
    }
    .item-dashboard {
        @include respond(large-up) {
            width: 38%;
        }
    }
}

#privacy-policy-modal {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $cookie-msg-bg;
    padding: 15px;
    text-align: center;
    z-index: 100;
    box-sizing: border-box;
    .content-asset {
        display: inline-block;
    }
    span {
        margin-right: 25px;
        @include typo-paragraph();
    }
    button {
        @include primaryButton();
    }
}
