/////////////////////////////////////////////
/// Category Refinement Hierarchy
/////////////////////////////////////////////
#category-level-1 {
    li {
        @include typo-refinement-value();
        color: $refinement-sub-value-color;
        display: block;
        .refinement-link {
            @include typo-refinement-value();
            background: none repeat scroll 0 0 $trans;
            &.active {
                @include font-bold();
                color: $refinement-value-color;
            }
        }
    }
}

#category-level-2 {
    li {
        @include typo-refinement-sub-value();
        .refinement-link {
            @include typo-refinement-sub-value();
            color: $refinement-sub-value-color;
            font-style: normal;
            margin: 0 0 0 .4em;
            padding: .5em .1em 0 .7em;
            &.active {
                color: $refinement-value-color;
            }
            &::before {
                content: "-";
            }
        }
    }
}

#category-level-3 {
    li {
        .refinement-link {
            margin: 0 0 0 .9em;
            padding: .5em .1em 0 1.4em;
        }
    }
}

/////////////////////////////////////////////
/// Global Refinement Selectors
/////////////////////////////////////////////
.refinement-header {
    @include typo-refinement-title();
    display: block;
    position: relative;
    margin: 0;
    padding: 15px 0;
    color: $page-heading-color;
    cursor: pointer;

    @include respond(desktop) {
        background: $section-header-bg;
    }

    &.secondary-header {
        border-bottom: $border;
        display: none;
        @include respond(desktop) {
            display: block;
        }
    }

    &.expanded {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 8px;

        .icon {
            transform: translateY(-50%);

            &.plus {
                display: none;
            }
            &.minus {
                display: block;
            }
        }
    }

    &.mobile,
    &.title {
        @include typo-page-heading-browse();
        line-height: initial;
    }

    &.mobile {
        border-bottom: 0;
        cursor: initial;
        text-align: center;

        @include respond(large-up) {
            display: none;
        }
    }

    &.title {
        padding: $refinement-header-title-padding;
    }

    .icon {
        position: absolute;
        right: 2px;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        width: 20px;
        fill: $refinement-header-icon-fill;
        &.minus {
            display: none;
            top: calc(50% + 5px);
            transform: translateY(-50%) rotate(0deg);
        }
    }
}

.refinement {
    position: relative;
    border-bottom: $border;
    border-width: thin;

    /* Category refinements are not hidden on load */
    &.category-refinement {
        border-top: none;

        @include respond(large-up) {
            border-top: $border;
            border-bottom: none;
        }

        .refinement-header {
            @include respond(large-up) {
                padding: 15px 0;
                border-bottom: $border;

                &.expanded {
                    padding-bottom: 5px;
                    border-bottom: none;
                }
            }
        }

        > ul {
            padding-bottom: 15px;
        }
    }

    /* Remove the last refinement border */
    &:last-child {
        ul {
            border-bottom: 0;
        }
    }

    /* Hide Refinements on Category Landing Pages */
    .pt_categorylanding & {
        display: none;

        &.category-refinement {
            display: block;
        }
    }

    h3 {
        @include typo-refinement-title();
        background: $section-header-bg;
        margin: 0;
        padding: 15px 0;
        color: $refinement-title-color;
    }

    > ul {
        display: none;

        &.visible {
            display: block;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0 0 30px;

        &#category-level-2,
        &#category-level-3 {
            padding-bottom: 0;
        }

        h6 {
            @include typo-form-label();
            font-weight: normal;
            margin: 0;
            display: inline-block;
        }
    }

    .swatches {
        flex-wrap: wrap;
        margin: 0 -5px;

        &.visible {
            display: flex;
        }

        li {
            display: flex;
            width: 40px;
            height: 35px;
            padding: 0;
            border: $border;
            border-radius: .5em;
            margin: 3px;
            align-items: center;

            &.selected {
                background: $refinement-swatch-selected-bg;

                a {
                    @include font-bold();
                    color: $refinement-swatch-selected-color;
                }
            }

            a {
                width: 100%;
                padding: 0;
                text-align: center;
                color: $body-text-color;
                border-radius: .5em;
            }

            &.unselectable a {
                background-image: url("../images/interface/icon-color-swatch-unselectable.png");
                background-position: right top;
            }
        }

        &.refinementColor {
            .selected-swatch {
                a {
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 4px;
                        height: 9px;
                        border: solid $white;
                        border-width: 0 2px 2px 0;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -60%) rotate(45deg);
                    }
                }
                &.white,
                &.yellow {
                    a {
                        &::after {
                            content: "";
                            position: absolute;
                            display: block;
                            width: 4px;
                            height: 9px;
                            border: solid $grey-dark;
                            border-width: 0 2px 2px 0;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -60%) rotate(45deg);
                        }
                    }
                }
            }
        }

        &.size {
            .selected-swatch {
                background-color: $refinement-swatch-selected-bg;
                a {
                    @include typo-refinement-sub-value();
                    color: $refinement-swatch-selected-color;
                }
            }
            a {
                h6 {
                    @include typo-refinement-sub-value();
                }
            }
        }
    }

    .refinementColor a {
        width: 100%;
        height: 35px;
        padding: 0;
        text-indent: -999em;
    }

    li {
        @include typo-refinement-value();

        i {
            color: $subtle-text-color;
        }

        &.selected {
            i {
                color: $accent2-color;
            }
        }
    }

    .clear-refinement {
        @include font-bold();
        display: none;
        padding: 0 1.05em 0.4em;
    }

    .refinement-link {
        @include font-size(14px);
        border: 0 none;
        color: $refinement-sub-value-color;
    }

    .selected .refinement-link {
        background-position: left bottom;
    }

    .refinement-top-level {
        padding: 1em;
    }
}

.scrollable {
    height: 10em;
    overflow: auto;

    @include respond(medium-down) {
        height: auto;

        li {
            float: left;

            a {
                border: $border;
                border-radius: 6px;
                display: block;
                padding: .2em .8em;
            }
        }
    }

    @include respond(large) {
        height: auto;
    }
}

.nav {
    &:not(.summary) {
        ul {
            border: 0 none;
            list-style: none outside none;
            margin: 8px 0;
            padding: 0 20px;

            li {
                list-style: none ;
                margin: 0;
            }

            a {
                @include typo-link-left-nav();
            }
        }

        .toggle {
            @include typo-secondary-heading();
            display: block;
            padding: 14px 20px;
            border-bottom: $border;
            margin: 0;
            background: $subtle-contrast-bg;
            color: $page-heading-color;

            span {
                background: none repeat scroll 0 0 $trans;
            }
        }
    }

    .expanded {
        background-position: left -96px;
    }
}
