// Slots and Content Assets: Organization-Level Styles
// should contain only strucural rules, i.e. values that will likely need
// to stay consistent from site to site, such as display, widths, and spacing.

.content-slot img {
    height: auto;
    max-width: 100%;
}

.slot-grid-header p {
    margin: 0;
    padding: 0;
}

.product-listing-1x4 {
    background: none repeat scroll 0 0 $base-bg;
    overflow: hidden;
    padding: .83em 0;
    .search-result-items .grid-tile {
        margin: 0 1% 0 2%;
        width: 18%;
        @include respond(medium-down) {
            margin: 2%;
            width: 92%;
        }
    }
}

.account-nav-asset {
    padding: 20px;
    border: $border;
    margin: 30px 0 50px;

    h2 {
        @include typo-secondary-heading();
        margin: 0;
        color: $page-heading-color;
    }

    p {
        @include typo-copyright-text();
        margin: 0 0 25px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            @include typo-copyright-text();
        }
    }
}

.content-asset {
    p {
        line-height: 1.6em;
        margin: 1em 0;
    }

    address {
        margin: 1em 0;
    }

    .account-options {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        li {
            box-sizing: border-box;
            width: 100%;
            vertical-align: top;
            background-color: $account-landing-tile-bg;
            border: $border;
            border-radius: 5px;
            list-style-type: none;
            margin: 0 0 1rem;
            text-align: center;
            transition: background-color 1000ms ease;

            @include respond(desktop) {
                width: calc(50% - 0.5rem);
                margin-right: 1rem;

                &:nth-child(even) {
                    margin-right: 0;
                }
            }

            &:hover {
                background: $account-landing-tile-hover-bg;
            }

            a {
                display: block;
                padding: 1rem;

                i {
                    @include font-size(96px);
                }
            }
        }
    }
}

.browser-compatibility-alert {
    background-color: $error-color;
    color: $error-bg-color;
    font-size: 1.3em;
    line-height: 2em;
    padding: 0.8em;
}

.folder-slot {
    border: $border4;
    padding: 0.5em;
    h2 {
        margin: 0.5em 0;
    }
}

.menu-slot {
    display: none;
    border-top: $border;
    margin-top: 0.5em;
    padding-top: 1.5em;
    .social-links {
        padding-left: 0;
        li {
            display: inline-block;
            padding-left: 0;
        }
    }
    @include respond(large-up) {
        width: 13.5rem;
        display: block;
    }
}

.cart-recommendations,
.category-slot,
.product-slot {
    h1 {
        position: absolute;
        text-align: right;
        bottom: 2%;
        left: 2%;
    }
    h2 {
        margin: 0;
        padding: .1rem .5rem;
    }
    h3 {
        bottom: 0;
        margin: 0;
        opacity: 0.6;
        padding: 2rem;
        position: absolute;
        width: 100%;
    }
    .catlanding-banner {
        overflow: hidden;
        position: relative;
        width: 100%;
        img {
            height: auto;
            width: 100%;
        }
    }
    .category-tile {
        float: left;
        overflow: hidden;
        padding: 0 .15%;
        position: relative;
        width: 100%;
        @include respond(large-up) {
            width: 33%;
        }

        img {
            height: auto;
            width: 100%;
        }
    }
    .cat-banner {
        overflow: hidden;
        position: relative;
        width: 100%;
        img {
            height: auto;
            width: 100%;
        }
        h1 {
            color: $section-heading-color;
            right: 2%;
        }
    }
    .search-result-items {
        .grid-tile {
            box-sizing: border-box;
            box-shadow: none;
            margin: 0;
            padding: 0 1%;
            width: 49%;
            @include respond(large-up) {
                width: 33%;
                box-sizing: border-box;
            }

            .product-tile {
                margin: 0 .15%;
                padding: 1rem 0;
                width: 100%;
                .product-name {
                    @include font-thin(18px);
                    height: auto;
                    margin-top: .5em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    a {
                        color: $link-color;
                    }
                }
                .product-pricing {
                    @include font-thin(16px);
                }
                .product-swatches {
                    display: none;
                }
            }
        }
    }
}

.einstein-recomm {
    display: none;
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 0;
    @include respond(large-up) {
        display: block;
    }
    .slick-slider {
        padding: 0 45px;
    }
    .slick-track {
        display: flex;
    }
    h2 {
        display: none;
        @include font-bold(30px);
        font-style: normal;
        color: $page-heading-color;
        text-align: center;

        @include respond(large-up) {
            @include font-semibold(24px);
            display: block;
        }
    }
    .einstein-search-items {
        padding-top: 30px;
        .slick-slide {
            &:first-child {
                border-left: none;
            }
        }

        .grid-tile {
            border-left: $border;
        }

        .product-tile {
            overflow: hidden;
            width: 100%;
            text-align: center;

            .product-image {
                padding: 0 10px 10px;
                margin-bottom: 15px;
            }

            .product-price {
                float: none;
                width: 100%;
                margin-bottom: 0;

                .price-standard,
                .price-sales {
                    display: block;
                }
            }

            .promotional-message {
                display: inline-block;
            }

            img {
                padding-top: 5px;
                width: 90% !important;
            }

            &.active {
                .product-image {
                    width: 90%;
                    margin-bottom: 0;
                }
                .swatch-list {
                    margin-left: 20px;
                    @include respond($small-breakpoint, $desktop-large-breakpoint) {
                        margin-left: 5px;
                        .slick-prev {
                            left: -20px;
                        }
                        .slick-next {
                            right: -15px;
                        }
                    }
                }
                .product-swatches {
                    margin-top: 0;
                    height: 65px;
                }
            }
        }

        .product-swatches {
            margin: 0 auto;
            position: relative;
            min-height: 20px;
            ul {
                display: none;
                list-style: none outside none;
                margin: 0;
                padding: 0;
                width: 100%;
                @include respond(large-up) {
                    display: block;
                }
                &.swatch-toggle {
                    background: none repeat scroll 0 0 $base-bg;
                    position: absolute;
                    padding-left: 5px;
                }
                &.slick-slider {
                    display: none;
                    @include respond(large-up) {
                        display: block;
                        max-width: 215px;
                    }
                    button {
                        &::before {
                            height: 10px;
                            width: 10px;
                        }
                    }
                    .slick-prev {
                        padding-left: 20px;
                        &::before {
                            top: 1px;
                        }
                    }
                }
            }
            li {
                display: inline-block;
                .swatch {
                    display: block;
                    margin-right: 5px;
                    width: 61px;
                    img {
                        border: 1px solid $base-bg;
                        height: auto;
                        padding: 1px 1px 3px 1px;
                        width: $product-swatch-width;
                        box-sizing: border-box;
                    }
                }
            }
            &.active {
                @include respond($mobile-menu-breakpoint) {
                    display: block;
                }
            }
        }
        .swatch-count {
            &.hidden {
                @include respond($mobile-menu-breakpoint) {
                    display: none;
                }
            }
        }
    }
}

@include respond(large) {
    .html-slot-container img {
        max-width: 100%;
    }
}
