// Slots and Content Assets: Site-Level Styles
// should contain only stylistic rules, i.e. values that will change
// from site to site, such as colors and typography.

.folder-slot {
    background-color: $base-bg;
    h2 {
        color: $accent4-color;
    }
}

.cart-recommendations,
.category-slot,
.product-slot {
    h1 {
        color: $inverted-text-color;
        @include font-thin(58px);
    }
    h2 {
        color: $accent3-color;
        @include font-thin(29px);
        @include font-italic();
    }
    h3 {
        background-color: $base-bg;
        color: $body-text-color-black;
        @include font-light(32px);
        text-transform: uppercase;
    }
    .catlanding-banner {
        overflow: hidden;
        position: relative;
        width: 100%;
        img {
            height: auto;
            width: 100%;
        }
    }
    .category-tile {
        float: left;
        overflow: hidden;
        padding: 0 .15%;
        position: relative;
        width: 100%;
        @include respond(large-up) {
            width: 33%;
        }

        img {
            height: auto;
            width: 100%;
        }
    }
    .cat-banner {
        overflow: hidden;
        position: relative;
        width: 100%;
        img {
            height: auto;
            width: 100%;
        }
        h1 {
            color: $section-heading-color;
            right: 2%;
        }
    }
    .search-result-items {
        .grid-tile {
            box-sizing: border-box;
            box-shadow: none;
            margin: 0;
            padding: 0 1%;
            width: 49%;
            @include respond(large-up) {
                width: 33%;
                box-sizing: border-box;
            }

            .product-tile {
                margin: 0 .15%;
                padding: 1rem 0;
                width: 100%;
                .product-name {
                    @include font-thin(18px);
                    height: auto;
                    margin-top: .5em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    a {
                        color: $accent3-color;
                    }
                }
                .product-pricing {
                    @include font-thin(16px);
                }
                .product-swatches {
                    display: none;
                }
            }
        }
    }
}

@include respond(large) {
    .html-slot-container img {
        max-width: 100%;
    }
}
