//--------------------------------
//  VIEWPORTS
//--------------------------------
$small-breakpoint: 320px;
$medium-breakpoint: 480px;
$large-breakpoint: 768px;
$desktop-breakpoint: 1025px;
$desktop-large-breakpoint: 1150px;
$max-content-breakpoint: 1200px;


//--------------------------------
//  COLORS
//--------------------------------

// Haglofs Colors
$blue-dark: #041e41;
$blue: #003a70;
$orange-light: #ff4338;
$orange: #e10c00;
$pink-light: #ffb9b4;
$grey-light: #b0b0b0;
$grey-light-2: #f7f7f7;
$grey: #777;
$grey-dark: #343434;
$white: #fff;
$tangerine: #ff837b;
$marine-blue: $blue;

// SG Colors
// names taken from http://www.color-blindness.com/color-name-hue/
$black: #000;
$cerulean: #00629b;
$citrus: #84bd00;
$dark-gray: #aaa;
$dim-gray: #666;
$gainsboro: #e0e0e0;
$islamic-green: #019328;
$limeade: #4c891f;
$nero: #1a1a1a;
$night-rider: #333;
$nobel: #999;
$rain-forest: #64772d;
$sangria: #900;
$very-light-gray: #ccc;
$white-smoke: #ededed;
$white: #fff;
$trans: transparent;


//--------------------------------
//  PAGE LAYOUT
//--------------------------------
$content-width-gutters: 10px;
$mobile-menu-breakpoint: $desktop-breakpoint;
$left-nav-width: 230px; // content and search refinement left navs
$account-left-nav-width: 295px;
$header-mobile-height: 72px;
$header-desktop-height: 72px;
$mobile-store-locator-margin: 32px;
$mobile-search-toggle-margin: 13px;

//--------------------------------
//  GLOBAL COMPONENTS
//--------------------------------

// Color Accents
//------------------------
$accent1-color: $citrus; // CTAs, sign-posting, stylistic underlines, headings, icons...
$accent2-color: $grey-light; // secondary icons, less emphatic accents/text...
$accent3-color: $cerulean; // some content headings
$accent4-color: $islamic-green; // some homepage content asset headings

// Headings
//------------------------
$page-heading-color: $blue-dark;
$page-heading-color-prod-count: $grey-light;
$section-heading-color: $blue-dark;
$suggestion-heading-color: $blue-dark;
$search-articles-heading-color: $orange-light;

// Body Text
//------------------------
$body-text-size: 16px;
$body-text-color: $grey-dark;
$body-text-color-lt: $grey;
$body-text-color-drk: $grey-dark;
$body-text-color-black: $nero;
$subtle-text-color: $gainsboro;
$alert-color: $orange-light;
$inverted-text-color: $white; //over a dark background
$body-letter-spacing: normal; // 0.025em;
$header-banner-color: $white;
$breadcrumb-spacer-color: $very-light-gray !default;
$home-body-link: $tangerine;
$footer-text-color: $white;
$footer-text-color2: $white;
$store-locator-link: $blue;
$store-locator-info-color: $grey-light;
$gm-pin-text: $white;
$brand-color: $orange-light;
$brand-color2: $grey;
$contact-us-notices: $grey-light;

// Background Colors
//------------------------
$body-bg: $white;
$base-bg: $white;
$top-menu-bg-color: $blue-dark;
$header-banner-bg: $blue-dark;
$header-bg: $white;
$header-nav-menu-bg: $white;
$header-nav-mobile-bg: $white;
$header-search-background: $grey-light-2;
$mobile-menu-header-bg: $grey-dark;
$custom-navigation-item-color: $grey;
$custom-navigation-item-hover-color: $white;
$custom-navigation-item-bg: $trans;
$custom-navigation-item-hover-bg: $grey;
$footer-bg: $blue-dark;
$footer-bg2: $blue-dark;
$subtle-contrast-bg: $grey-light-2;
$box-bg: $grey-light;
$box-drk-bg: $grey-dark;
$section-header-bg: $white;
$quick-view-btn-bg: $orange-light;
$account-landing-tile-bg: $white;
$account-landing-tile-hover-bg: rgba($white, 0.8);
$cookie-msg-bg: $white;
$pdp-bg: $grey-light-2;
$pdp-light-bg: $white;
$pagination-indicator-color: $blue-dark;
$pagination-indicator-bg: rgba($blue-dark, 0.5);
$pagination-indicator-active-color: $white;
$pagination-indicator-active-bg: $blue-dark;

// Borders & Divider Lines
//------------------------
$border-color: $grey-light;
$border-light-color: rgba($grey-light, 0.25);
$border-light-color-2: rgba($grey-light, 0.5);
$border: 1px solid $border-color;
$border-light: 1px solid $border-light-color;
$border-light-2: 1px solid $border-light-color-2;
$border-light-thick: 2px solid $border-light-color;
$border-light-thick-2: 2px solid $border-light-color-2;
$border-thick: 2px solid $border-color;
$border-brands: 1px solid $border-color;
$border2-color: $very-light-gray;
$border2: 1px solid $border2-color;
$border3-color: $dark-gray;
$border3: 1px solid $border3-color;
$border4-color: $islamic-green;
$border4: 1px solid $border4-color;
$border-top-menu-color: $white;
$border-top-menu: none;
$border-menu-item: 2px solid $blue-dark;
$border-mobile-menu-link: $border-light;
$border-mobile-account-link: 1px solid $white;
$border-footer: 1px solid rgba($white, 0.3);
$border-footer-2: 1px solid $white;
$border-search-swatch: 2px solid $marine-blue;
$border-thumb-pdp: 2px solid $blue;
$border-refinement-mobile: $border;
$border-top-banner: 1px solid $grey-light;

// Links
//------------------------
$link-color: $grey;
$link-hover-color: $grey;
$link-decor: none;
$link-hover-decor: underline;
$link-alt-color: $dim-gray;
$link-alt-hover-color: $citrus;
$link-alt-decor: none;
$link-alt-hover-decor: underline;
$link-paragraph-color: $grey-dark;
$link-main-nav-color: $grey;
$link-main-nav-hover-color: $grey;
$link-main-nav-header-color: $blue-dark;
$link-main-nav-mobile-header-color: $white;
$link-main-nav-sub-color: $grey-dark;
$link-mobile-nav-color: $blue-dark;
$link-header-utility-desktop-color: $white;
$link-header-utility-mobile-color: $blue-dark;
$link-header-utility-hover-color: $white;
$link-header-utility-hover-decor: underline;
$link-search-suggest-color: $grey;
$link-breadcrumb-color: $grey;
$link-breadcrumb-hover-color: $grey;
$link-footer-hover-decor: underline;

// Errors
//------------------------
$error-color: $orange-light;
$error-bg-color: $white;
$error-border: 1px solid $error-color;

// Drop Shadows
//------------------------
$shadow: 0 2px 4px 0 rgba($grey-light, 0.5);
$shadow2: 0 2px 5px 0 $very-light-gray;
$shadow-minicart: -2px 3px 3px 0 rgba(0, 0, 0, 0.3);
$shadow-tile: 0 0 9px 0 $very-light-gray;
$shadow-header: 0 2px 4px rgba($grey-light, 0.5);
$shadow-mobile-nav: 1px 1px 5px rgba($grey-light, 0.5);

// Text Shadows
//------------------------
$text-shadow1: 0 1px 1px rgba(0, 0, 0, 0.75);
$text-shadow-brand-h: none;

// Tooltip
//------------------------
$tooltip-bg: $nero;
$tooltip-color: $white;
$tooltip-shadow: $shadow;
$tooltip-radius: 3px;

// Dialog
//------------------------
$dialog-bg: $base-bg; // white
$dialog-header-bg: $section-header-bg;
$dialog-title-color: $blue-dark;
$dialog-title-texttransform: none;

// Back To Top
//------------------------
$back-to-top-bg: $grey-light;
$back-to-top-icon-fill: $white;
$back-to-top-text-display: none;
$back-to-top-text-color: $grey-light;

//--------------------------------
//  FORMS
//--------------------------------

// Indicator Elements
//------------------------
$required-text-color: $grey-light;
$required-indicator-color: $body-text-color;

// Input Elements
//------------------------
$label-color: $grey-dark;
$input-text-color: $grey;
$input-text-color-dark: $grey-dark;
$input-text-size: 14px;
$input-border-color: $grey-light;
$input-border-width: 1px;
$input-border: $input-border-width solid $input-border-color;
$input-border-radius: 2px;
$input-height: 40px;
$input-padding-horizontal: 10px;
$input-bg: $white;
$input-check-bg: $grey-light url("../images/icons/checkmark.svg") no-repeat center;
$input-radio-bg: $trans url("../images/icons/radio-dot.svg") no-repeat center;
$input-email-alert-letter-spacing: 0.05em;
$input-email-alert-color: $footer-text-color;
$input-email-alert-bg-color: rgba($white, 0.5);
$input-email-alert-border: none;
$textarea-height: 70px;
$select-bg: $input-bg url("../images/icons/drop-down-arrow.svg") no-repeat scroll;
$select-bg2: $grey-light-2;
$select-bg2-image: url("../../images/icons/asics-drop-down-arrow.svg") no-repeat scroll;
$select-search-bg: $grey-light-2 url("../images/svg-icons/plus.svg") no-repeat scroll;
$select-search-bg2: $grey-light-2 url("../images/svg-icons/minus.svg") no-repeat scroll;
$select-arrow-icon-width: 31px;
$radio-border: $input-border;
$radio-border-focus: 1px solid $grey;
$focus-outline-style: none;
$focus-border: 1px solid $grey;
$input-search-color: $grey-dark;
$placeholder-color: $grey;
$form-caption-color: $grey-light;
$shipping-method-selected-color: $grey-dark;


// Global Button Styles
//------------------------
$btn-height: 40px; //including font height and borders
$btn-side-padding: 30px;
$btn-font: $sans-serif-regular-alt;
$btn-font-size: 18px;
$btn-letter-space: 0.05em;
$btn-border-width: 2px;
$btn-border-radius: 2px;
$btn-text-transform: none;
$btn-disabled-opacity: 0.5;

// Primary Button
//------------------------
$btn-color: $white; //text
$btn-bg: $orange-light;
$btn-border-color: $orange-light;
$btn-hover-color: $btn-color; //text
$btn-hover-bg: $orange;
$btn-hover-border-color: $orange;
$btn-disabled-color: $white; // text
$btn-disabled-bg: $orange-light;
$btn-disabled-border-color: $orange-light;

// Primary Alt Button
//------------------------
$btn-alt-color: $white; //text
$btn-alt-bg: $orange-light;
$btn-alt-border-color: $orange-light;
$btn-alt-hover-color: $btn-color; //text
$btn-alt-hover-bg: $orange;
$btn-alt-hover-border-color: $orange;
$btn-alt-disabled-color: $white; // text
$btn-alt-disabled-bg: $orange-light;
$btn-alt-disabled-border-color: $orange-light;

// Secondary Button
//------------------------
$btn2-color: $btn-color; // text
$btn2-bg: $blue-dark;
$btn2-border-color: $blue-dark;
$btn2-hover-color: $btn-color; // text
$btn2-hover-bg: $blue;
$btn2-hover-border-color: $blue;
$btn2-disabled-color: $btn-color; // text
$btn2-disabled-bg: $blue-dark;
$btn2-disabled-border-color: $blue-dark;

// Secondary Button Alt
//------------------------
$btn2-alt-color: $blue-dark; // text
$btn2-alt-bg: $white;
$btn2-alt-border-color: $white;
$btn2-alt-hover-color: $blue-dark; // text
$btn2-alt-hover-bg: $grey-light-2;
$btn2-alt-hover-border-color: $grey-light-2;
$btn2-alt-disabled-color: $blue-dark; // text
$btn2-alt-disabled-bg: $white;
$btn2-alt-disabled-border-color: $white;

// Tertiary Button
//------------------------
$btn3-color: $blue-dark; // text
$btn3-bg: $white;
$btn3-border-color: $blue-dark;
$btn3-hover-color: $white; // text
$btn3-hover-bg: $blue-dark;
$btn3-hover-border-color: $blue-dark;
$btn3-disabled-color: $blue-dark; // text
$btn3-disabled-bg: $white;
$btn3-disabled-border-color: $blue-dark;

// Ghost Button
//------------------------
$btn-ghost-color: $black; //text
$btn-ghost-bg: $white;
$btn-ghost-border-color: $black;
$btn-ghost-hover-color: $black; //text
$btn-ghost-hover-bg: $grey-light;
$btn-ghost-hover-border-color: $black;
$btn-ghost-disabled-color: $black; // text
$btn-ghost-disabled-bg: $grey;
$btn-ghost-disabled-border-color: $black;

// Small Button Variant
//------------------------
$small-btn-height: 40px;
$small-btn-side-padding: 30px;
$small-btn-fontsize: 14px;
$small-btn-letter-spacing: 0.05em;

// Add To Cart Button Variant
//------------------------
$a2c-btn-height: 40px;
$a2c-btn-side-padding: 30px;
$a2c-btn-fontsize: 18px;

// Search Button
//--------------------------------
$search-button-icon-fill: $white;
$search-button-hover-icon-fill: $white;
$search-button-close-icon: url("../images/svg-icons/light-close.svg") no-repeat center center $trans;

// Search Tabs
//--------------------------------
$search-tab-color: $white;
$search-tab-bg: $blue;
$search-tab-border: 1px solid $blue;
$search-tab-selected-color: $blue;
$search-tab-selected-bg: $white;
$search-tab-selected-border: 1px solid $blue;
$brand-refinement-icon-color: $grey-light;

//--------------------------------
//  ICONOGRAPHY
//--------------------------------
$icon-fill: $grey;
$icon-hover-fill: $grey;
$icon-header-fill: $white;
$icon-header-hover-fill: $white;
$icon-social-fill: $white;
$icon-social-hover-fill: rgba($white, 0.6);
$icon-alt-fill: $grey-light;
$icon-alt-logo-fill: $black;
$icon-logo-fill: $black;
$icon-logo-align: baseline;
$icon-mobile-menu-fill: $grey;
$icon-email-signup-fill: $white;
$icon-brand-color: $grey-light;
$icon-brand-selected-color: $grey-light;


//--------------------------------
//  ECOMMERCE ELEMENTS
//--------------------------------

// Mini Cart
//------------------------
$mini-cart-quantity-bg-color: $orange-light;
$mini-cart-quantity-color: $white;

// Refinements
//------------------------
$refinement-header-icon-fill: $blue-dark;
$refinement-header-title-padding: 13px 0 13px;
$refinement-title-color: $blue-dark;
$refinement-value-color: $grey-dark;
$refinement-sub-value-color: $grey-dark;
$refinement-swatch-selected-bg: $grey;
$refinement-swatch-selected-color: $white;
$refinement-swatch-border: $grey;
$refinement-list-offset: -2px;

//  Home Rec. Carousel
//--------------------------------
$hrc-font-size1-desktop: 38px;
$hrc-font-size1-tablet: 32px;
$hrc-font-size1-mobile: 28px;
$hrc-font-size2: 18px;
$hrc-color1: $blue;
//carousel box style/color
$carousel-alternate-button: $dark-gray;
$carousel-button-border: 0;
$carousel-button-height: 32px;
$carousel-button-width: 32px;
//carousel arrow size
$carousel-arrow-height: 15px;
$carousel-arrow-width: 15px;
//position of the carousel arrow
$carousel-arrow-x1: 1px;
$carousel-arrow-y1: -4px;
$carousel-arrow-x2: 0;
$carousel-arrow-y2: -4px;

// Stock
//------------------------
$in-stock-color: $rain-forest;
$out-of-stock-color: $sangria;
$backorder-color: $sangria;

// Rating
//------------------------
$rating-color: $rain-forest;

// Variations
//------------------------
$variation-title-color: $grey-dark;
$variation-active-color: $grey-dark;
$swatch-text-color: $grey-dark;
$swatch-border-color: $border-color;
$swatch-selected-color: $blue-dark;
$swatch-selected-border-color: $white;
$swatch-unselectable-color: $white-smoke;
$swatch-unselectable-border-color: $white;
$swatch-unselectable-hover-color: $white-smoke;
$swatch-unselectable-hover-border-color: $white;

// Product
//------------------------
$product-name-color: $blue-dark;
$product-number-color: $grey;
$product-promotion-color: $orange-light;
$product-badge-bg: $orange-light;
$search-product-name-color: $blue-dark;
$product-detail-bg: $white;
$product-option-link-color: $link-paragraph-color;
$product-swatch-count: $blue-dark;
$product-swatch-width: 80%;

// Product Tile
//------------------------
$product-tile-name: $blue-dark;
$product-tile-price: $grey;
$product-tile-standard-price: $grey-light;
$product-tile-color-qty: $grey;

// Price
//------------------------
$price-standard-color: $grey;
$price-standard-color-second: $grey-light;
$price-tiered-color: $grey-light;
$price-sale-color: $grey;

// PDP Thumb Carousel
//------------------------
$carousel-pdp-thumb-arrow: $grey-light;
$carousel-pdp-thumb-arrow-hover: $grey-dark;
$carousel-pdp-thumb-dots: $grey-light;
$carousel-pdp-thumb-dots-height: 4px;
$carousel-pdp-thumb-dots-width: 4px;
$carousel-pdp-thumb-dots-border: 2px solid $grey-light;
$carousel-pdp-thumb-dots-container-width: 8px;
$carousel-pdp-thumb-dots-container-height: 8px;
$carousel-pdp-swatch-arrow-width: 8px;
$carousel-pdp-swatch-arrow-height: 8px;
$carousel-pdp-swatch-arrow-color: $grey-light;
$carousel-pdp-swatch-arrow-border-width: 1px 1px 0 0;

//  Cart
//------------------------
$th-color: $blue-dark;
$cart-prod-title: $blue-dark;
$cart-prod-promo: $orange-light;
$cart-prod-label: $grey-dark;
$cart-prod-attr: $grey-dark;
$cart-text-link: $marine-blue;
$cart-text-link-dec: underline;
$cart-stock: $grey-dark;
$cart-stock-out: $orange-light;
$cart-sock-notice: $grey;
$cart-price: $grey-dark;
$cart-sale-price: $grey;
$cart-prod-total: $grey-dark;
$cart-qty: $grey;
$cart-continue: $blue-dark;
$cart-totals-table: $grey-dark;
$cart-order-total: $blue-dark;
$cart-promo-text: $blue-dark;
$cart-promo-text-bg: $grey-light-2;
$cart-large-button-height: 45px;
$cart-large-button-width: 300px;
$cart-large-button-padding: 19px 0;

// Checkout
//------------------------
$ch-customer-service: $blue-dark;
$progress-indicator-bg: $grey-light-2;
$progress-indicator-active-color: $blue-dark;
$progress-indicator-active-bg: $progress-indicator-bg;
$progress-indicator-color: $grey-light;
$progress-indicator-divider-color: $white;
$success-color: $islamic-green;
$cart-summary-bg: $grey-light-2;
$checkout-summary-bg: $grey-light-2;
$checkout-summary-header-border: none;
$order-summary-info-txt: 14px;
$order-summary-info-txt-m: 16px;
$order-summary-info-txt-l: 18px;
$order-summary-section-head-color: $blue-dark;
$print-button-color: $blue-dark;
$section-head-color: $blue-dark;
$shipping-method-caption-color: $grey-dark;
$shipping-method-tt-color: $grey-light;
$checkout-button-height: 60px;
$place-order-button-margin: 0;
$place-order-promo-msg-margin: 62px 0 4px;
$secondary-top-padding: 57px;
$address-select-top-padding: 9px;
$address-select-bottom-margin: 25px;
$order-total-saved: $tangerine;

// Slick Carousel Theme
//------------------------
$slick-loader-path: "../lib/slick/";
$slick-arrow-color: $blue-dark;
$slick-arrow-bg-color: $trans;
$slick-arrow-bg-color-hover: $trans;
$slick-darkarrow-color: $white;
$slick-darkarrow-bg-color: $black;
$slick-darkarrow-bg-color-hover: $black;
$slick-dot-color: $white;
$slick-dot-color-hover: $white;
$slick-dot-color-active: $slick-dot-color;
$slick-dot-size: rem(25px);
$slick-opacity-default: 0.75;
$slick-opacity-on-hover: 1;
$slick-opacity-not-active: 0.25;
$slick-cta-bg: $white;

// Flex Box Elements
//------------------------
$flex-button-bg: $marine-blue;
$flex-button-border: $marine-blue;
$flex-button-hover-bg: $marine-blue;
$flex-hover-bg: rgba(176, 176, 176, 0.8);
$flex-small-hover-txt: $white;
$flex-box-sub-head: $black;
$flex-small-font1-desktop: 20px;
$flex-small-font1-tablet: 18px;
$flex-small-font1-mobile: 16px;
$flex-small-font2-desktop: 14px;
$flex-small-font2-mobile: 14px;
$flex-large-font1-desktop: 32px;
$flex-large-font1-tablet: 24px;
$flex-large-font1-mobile: 20px;
$flex-large-font2-desktop: 16px;
$flex-large-font2-mobile: 14px;
$flex-large-bottom: 90px;
$flex-large-content-width: 380px;
$flex-large-content-width-mobile: 350px;
$flex-small-bottom: 60px;
$flex-small-content-width: 250px;
$flex-small-content-width-mobile: 220px;

// ADA Elements
//------------------------
$skip-nav-focus-bg-color: $night-rider;

$swatch-types: black #000, beige #f5f5dc, blue blue, purple purple, red red, brown #783201, green green, grey #8f979d, pink #fe249a, orange orange, white #fff, yellow #ff0, navy navy;

// flag-icon-css

$flag-icon-css-path: "../lib/flag-icon-css/flags";

// Customer Service
//------------------------
$customer-service-main-color: $blue-dark;
$secondary-nav-border-color: $border-color;
$secondary-nav-background-color: $grey-light-2;
$form-background-color: $secondary-nav-background-color;
$qa-border-color: $secondary-nav-border-color;

// Table block
//------------------------
$tableblock-main-color: $orange-light;
$tableblock-main-light-color: $pink-light;
$tableblock-gray-color: $grey-light;
$tableblock-gray-light-color: $grey-light-2;
$tableblock-main-font-color: $blue-dark;

// Templates
//------------------------
$content-main-color: $blue-dark;
$content-seperator-color: $secondary-nav-border-color;
$socialicon-background-color: $blue-dark;

// jQuery UI
//------------------------
$ui-icon-closethick-icon: url("../images/icons/close.svg");
