.custom-content {
    position: relative;
    .homepage-content-main-image {
        display: block;
        line-height: 0;
        height: 100%;
        overflow: hidden;
    }
    img {
        width: 100%;
        height: 100%;
    }
    .photo-credit {
        position: absolute;
        right: 15%;
        bottom: 25px;
    }
}

.hero-content,
.flex-content {
    height: 100%;
    width: 100%;
    top: 0;

    .hero-content-inner,
    .flex-content-inner {
        padding: calculateRem(20px) calculateRem(15px);
        margin: 0 auto;
        box-sizing: border-box;
        width: 100%;

        &.text-left {
            text-align: left;
        }

        &.text-right {
            text-align: right;
        }
    }

    &.background-overlay {
        &::before {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            height: 80%;
            width: 100%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            @include respond(large) {
                height: 100%;
            }
            @include respond(desktop) {
                height: 70%;
            }
        }
    }

    .button {
        margin: $hero-content-mobile-button-margin;

        @include respond(large-up) {
            margin: $hero-content-desktop-button-margin;

            + .button {
                margin: $hero-content-desktop-sibling-button-margin;
            }
        }
    }
}

.hero-content {
    position: absolute;

    .hero-content-inner {

        padding: 4%;

        &.dark-text {
            .hero-header,
            .hero-sub-header {
                color: $hero-dark-text-color;
            }
        }

        &.light-text {
            .hero-header,
            .hero-sub-header {
                color: $hero-light-text-color;
            }
        }

    }

    .button {
        margin: $hero-content-mobile-button-margin;

        @include respond(large-up) {
            margin: $hero-content-desktop-button-margin;

            + .button {
                margin: $hero-content-desktop-sibling-button-margin;
            }
        }
    }
}

.flex-content {
    position: relative;
    @include respond(desktop) {
        position: absolute;
    }
    .flex-content-inner {

        @include respond(desktop) {
            padding: calculateRem(20px);
        }

        &.dark-text {
            .hero-header,
            .hero-sub-header {
                color: $hero-dark-text-color;
            }
        }

        &.light-text {
            .hero-header,
            .hero-sub-header {
                color: $hero-light-text-color;
            }
        }

    }
}

////////////////////////////////////////
//// One ASICS shipping promo modal ////
////////////////////////////////////////
.ui-dialog.one-asics-promo-modal {
    position: fixed;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;

    &::after {
        content: "";
        position: absolute;
        height: 1000vh;
        width: 1000vw;
        transform: translate(-35%, -23%);
        background: rgba(1, 1, 1, 0.3);
        z-index: -1;
    }

    .ui-dialog-content {
        padding: 0;
        overflow: hidden;
    }

    .ui-dialog-title {
        display: none;
    }

    .one-asics-logo {
        width: 250px;
    }

    .hero-cta-buttons {
        padding-top: 0;

        @include respond(medium) {
            float: left;
        }

        .button {
            @include button();
            @include respond(small-down) {
                width: 100%;
            }

            &.b1 {
                @include secondaryButton();
            }
        }
    }

    .hero-header {
        text-align: left;
    }

    .hero-content .hero-sub-header {
        display: flex;
        text-align: left;

        @include respond(medium-down) {
            width: 50%;
        }

        h2 {
            @include font-semibold(14px);
            margin: 0;
            font-weight: bold;
            text-transform: none;
            display: flex;
        }

        p {
            @include font-reg(14px);
            display: flex;
        }
    }
    &.mobile-landscape {
        @include respond(medium-down) {
            top: 2.5vh !important;
        }
        top: 25vh;
        .shipping-methods-slot {
            max-height: 95vh;
            .custom-content {
                max-height: 95vh;
            }
        }
    }
}

////////////////////////////////////////
// END One ASICS shipping promo modal //
////////////////////////////////////////

.flex-box-cta {
    .container,
    .flex-box-square-small-container {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
    &.four-up {
        .container {
            width: 100%;
            margin: 0 auto;
            align-items: stretch;
            @include respond(large-up) {
                max-width: 635px;
            }
            @include respond(desktop) {
                max-width: 1200px;
            }
        }
        .flex-box-square-large,
        .flex-box-square-small-container {
            width: 100%;
            @include respond(large-up) {
                width: 50%;
            }
            img {
                display: block;
                width: 100%;
                &.flex-carousel-holder {
                    display: none;
                    @include respond(desktop) {
                        display: block;
                    }
                }
            }
            .flex-content {
                .flex-content-inner {
                    padding: rem(15px);
                }
            }
            &.flexfirst {
                @include respond(large-down) {
                    order: 1;
                }
            }
            &.flexsecond {
                @include respond(large-down) {
                    order: 2;
                }
            }
        }

        .flex-box-square-small {
            position: relative;
            width: 50%;
            .flex-content-inner {
                h1 {
                    margin: 0;
                    @include font-semibold(16px);
                    line-height: rem(16px);
                    @include respond(desktop) {
                        @include font-semibold(22px);
                        line-height: rem(22px);
                    }
                }
                h1 + .hero-sub-header {
                    margin-top: rem(5px);
                }
                .p {
                    @include font-reg(12px);
                    @include respond(large-up) {
                        @include font-reg(14px);
                    }
                }
            }
            .button {
                margin: 0;
                display: none;
                @include respond(desktop) {
                    display: block;
                }
                &.video {
                    display: block;
                    @include respond(desktop) {
                        display: block;
                    }
                }
            }
        }

        .flex-box-square-large {
            position: relative;
            .flex-content-inner {
                h1 {
                    margin: 0;
                    @include font-semibold(28px);
                    line-height: rem(28px);
                    @include respond(desktop) {
                        @include font-semibold(32px);
                        line-height: rem(32px);
                    }
                }
                h1 + .hero-sub-header {
                    margin-top: rem(5px);
                }
                .p {
                    @include font-reg(16px);
                }
            }
        }
        .button {
            &.primary {
                @include primaryButton();
            }
            &.secondary {
                @include secondaryButton();
            }
            &.secondaryAlt {
                @include secondaryAltButton();
            }
            &.primary-alt {
                @include primaryAltButton();
            }
        }
    }
    &.six-up {
        .container {
            width: 100%;
            align-items: stretch;
            @include respond(large-down) {
                &:nth-child(2n) {
                    flex-direction: column-reverse;
                }
            }
        }
        .flex-box-square-large,
        .flex-box-square-small-container {
            width: 100%;
            @include respond(desktop) {
                width: 50%;
            }
            img {
                display: block;
                width: 100%;
            }
        }

        .flex-box-square-small-container {
            width: 100%;
            img {
                display: block;
                width: 100%;
            }
        }

        .flex-box-square-large {
            position: relative;
            .hero-cta-buttons {
                box-sizing: border-box;
            }
            .flex-content-inner {
                &[class*="-left-pos"],
                &[class*="-center-pos"],
                &[class*="-right-pos"] {
                    @include respond(large-down) {
                        position: relative;
                        text-align: center;
                        right: initial;
                        top: initial;
                        left: initial;
                        transform: translate(0%, 0%);
                    }
                }
            }
        }
        .flex-box-square-small {
            position: relative;
            width: 100%;
            @include respond(desktop) {
                width: 33.33%;
                padding: 2px 1px 0 0;
                &:nth-child(2) {
                    padding-left: 1px;
                    .flex-content {
                        width: calc(100% - 2px);
                    }
                }
                &:nth-child(2n+1) {
                    padding-left: 1px;
                    .flex-content {
                        width: calc(100% - 2px);
                    }
                }
                &:nth-child(3n) {
                    padding-right: 0;
                    padding-left: 1px;
                    .flex-content {
                        height: calc(100% - 2px);
                        width: calc(100% - 1px);
                    }
                }
                &:nth-child(3n+1) {
                    .flex-content {
                        width: calc(100% - 1px);
                    }
                }
                &:nth-child(1) {
                    padding-left: 0;
                    .flex-content {
                        height: calc(100% - 2px);
                        width: calc(100% - 1px);
                    }
                }
            }
            .flex-content {
                position: relative;
                @include respond(desktop) {
                    position: absolute;
                    top: initial;
                    bottom: 0;
                    height: calc(100% - 2px);
                    width: calc(100% - 2px);
                }
                .flex-content-inner {
                    position: relative;
                    @include respond(large-down) {
                        margin: 0;
                        max-width: 100%;
                        width: 100%;
                    }
                    @include respond(desktop) {
                        position: absolute;
                    }
                    &[class*="-left-pos"],
                    &[class*="-center-pos"],
                    &[class*="-right-pos"] {
                        @include respond(large-down) {
                            position: relative;
                            text-align: center;
                            right: initial;
                            top: initial;
                            left: initial;
                            transform: translate(0%, 0%);
                        }
                    }
                }
            }
        }
        .button {
            &.primary {
                @include primaryButton();
            }
            &.secondary {
                @include secondaryButton();
            }
            &.secondaryAlt {
                @include secondaryAltButton();
            }
            &.primary-alt {
                @include primaryAltButton();
            }
        }
    }
    .flex-carousel-container {
        >img {
            display: none;
            @include respond(large-up) {
                display: block;
            }
        }
    }
    .button {
        position: absolute;
        margin: $hero-content-mobile-button-margin;

        @include respond(large-up) {
            margin: $hero-content-desktop-button-margin;

            + .button {
                margin: $hero-content-desktop-sibling-button-margin;
            }
        }
    }
}

.custom-carousel {
    position: relative;

    .slick-arrow {
        @include respond(medium-down) {
            top: $custom-carousel-slick-arrow-top;
            transform: $custom-carousel-slick-arrow-transform;
        }
    }

    .hero-content {
        @include respond(large-up) {
            width: $custom-carousel-hero-content-width;
            max-width: $custom-carousel-hero-content-max-width;
        }
    }
}

.flexcarousel {
    @include respond($large-breakpoint, $max-content-breakpoint) {
        max-height: 300px;
        .product-tile {
            padding: 0 32px;
            box-sizing: border-box;
        }
    }
}

div {
    &[class*="align-top-"],
    &[class*="align-middle-"],
    &[class*="align-bottom-"] {
        position: absolute;
    }
    &[class*="align-top-"] {
        top: 0;
    }
    &[class*="align-middle-"] {
        top: 50%;
        transform: translateY(-50%);
    }
    &[class*="align-bottom-"] {
        bottom: 0;
    }
    &[class*="-left-pos"] {
        text-align: left;
        left: 0;
        >* {
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
    &[class*="-center-pos"] {
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        .width-third,
        .width-twothird {
            margin: 0 auto !important;
        }
        >* {
            justify-content: center;
        }
    }
    &[class*="align-middle-center"] {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &[class*="-right-pos"] {
        text-align: right;
        right: 0;
        >* {
            justify-content: flex-end;
            align-items: flex-end;
        }
    }
}

* {
    &.width-third {
        max-width: 100%;
        width: 100%;
        @include respond(large-up) {
            max-width: 33.33%;
            width: 33.33%;
            display: inline-block;
        }
    }
    &.width-twothird {
        max-width: 100%;
        width: 100%;
        @include respond(large-up) {
            max-width: 66.66%;
            width: 66.66%;
            display: inline-block;
        }
    }
    &.width-full {
        max-width: 100%;
        width: 100%;
    }
}

.hero-content-inner {
    &[class*="-left-pos"],
    &[class*="-center-pos"],
    &[class*="-right-pos"] {
        @include respond(medium-down) {
            text-align: center;
            right: initial;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.standard-button-cta {
    &.alternate-style {
        .hero-content-inner {
            &[class*="-left-pos"],
            &[class*="-center-pos"],
            &[class*="-right-pos"] {
                text-align: center;
                right: initial;
                top: initial;
                left: initial;
                transform: translate(0%, 0%);
            }
        }
    }
}

.six-up {
    .flex-content-inner {
        &[class*="-left-pos"],
        &[class*="-center-pos"],
        &[class*="-right-pos"] {
            @include respond(large-down) {
                >* {
                    justify-content: center;
                }
            }
        }
    }
}
