// Custom Content Variables

// Hero Content Dimensions
//----------------------------
$hero-content-width: 100% !default;

// Hero Content Spacing
//----------------------------
$hero-content-vertical-top-spacing: 10% !default;
$hero-content-vertical-bottom-spacing: 10% !default;

$hero-content-horizontal-left-spacing: 10% !default;
$hero-content-horizontal-left-max-width: 45% !default;
$hero-content-horizontal-right-spacing: 10% !default;
$hero-content-horizontal-right-max-width: 45% !default;

$hero-content-mobile-button-margin: 0 rem(10px) rem(10px) !default;
$hero-content-desktop-button-margin: 0 0 0 !default;
$hero-content-desktop-sibling-button-margin: 0 0 0 rem(25px) !default;

// Hero Content Colors
//----------------------------
$hero-dark-text-color: $night-rider !default;
$hero-light-text-color: $white !default;

// Flex Content Dimensions
//----------------------------
$flex-content-width-large: 270px !default;
$flex-content-width-small: 180px !default;
$flex-content-full-width-large: 50% !default;
$flex-content-full-width-small: 33.33% !default;

// Flex Content Spacing
//----------------------------
$flex-content-vertical-top-spacing: 0 !default;
$flex-content-vertical-bottom-spacing: 80px !default;

$flex-content-horizontal-left-spacing: 0 !default;
$flex-content-horizontal-left-max-width: 0 !default;
$flex-content-horizontal-right-spacing: 0 !default;
$flex-content-horizontal-right-max-width: 0 !default;

$flex-content-mobile-button-margin: 0 rem(10px) rem(10px) !default;
$flex-content-desktop-button-margin: 0 0 0 !default;
$flex-content-desktop-sibling-button-margin: 0 0 0 rem(10px) !default;

// Custom Carousel Styles
//----------------------------
$custom-carousel-slick-arrow-top: 50% !default;
$custom-carousel-slick-arrow-transform: translateY(-50%) !default;
$custom-carousel-hero-content-width: 70% !default;
$custom-carousel-hero-content-max-width: 800px !default;
