// Homepage: Site-Level Styles
// should contain only stylistic rules, i.e. values that will change
// from site to site, such as colors and typography.

/////////////////////////////////////////////
/// Custom Home Page Styles ASICS Brand
/////////////////////////////////////////////
.standard-button-cta {
    .hero-sub-header {
        h2 {
            @include respond(large-up) {
                @include font-reg($hero-sub-header-font-size);
                text-transform: uppercase;
            }
        }
    }
    .hero-cta-buttons {
        .button {
            min-width: 165px;
            &.video {
                .cta-play-button {
                    height: 14px;
                    width: 14px;
                }
            }
        }
    }
    .hero-cta-list {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            @include typo-list();
            margin-bottom: 5px;
            color: $brand-color;

            span {
                font-size: 10px;
                line-height: 1.5;
                height: 15px;
                width: 15px;
                display: inline-block;
                margin-right: 10px;
                background: $brand-color2;
                text-align: center;
                border-radius: 50%;
                vertical-align: text-top;
                color: white;
            }
        }
    }
    .slick-prev,
    .slick-next {
        &::before {
            border-color: $white;
        }
    }
}
.flex-box-cta {
    >h2 {
        color: $hrc-color1;
    }
}
.flex-box-square-large {
    padding: 0;
    .flex-content-inner {
        max-width: $flex-large-content-width-mobile;
        @include respond(large-up) {
            max-width: $flex-large-content-width;
        }
    }
}
.flex-box-square-small {
    padding: 1px 0;
    @include respond(large-up) {
        padding: 1px;
    }
    @include respond(large-down) {
        padding: 0 10px;
    }
    .flex-content-inner {
        max-width: $flex-small-content-width-mobile;
        @include respond(large-up) {
            max-width: $flex-small-content-width;
        }
    }
}
.flex-carousel-container {
    &::after {
        content: "";
        height: calc(100% - 4px);
        width: calc(100% - 4px);
        background-color: $slick-cta-bg;
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.flexcarousel {
    box-sizing: border-box;
    height: 99%;
    padding: 15px;
    z-index: 1;
    @include respond(large-up) {
        padding: 20px;
        width: 99%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: initial;
    }
    @include respond(desktop) {
        padding: 0 20px;
    }
    button {
        top: 50%;
    }
}
.flex-prod {
    text-align: center;
    img {
        @include respond(large-down) {
            height: initial;
            width: initial;
            margin: 0 auto;
        }
    }
    .product-name {
        margin-top: 15px;
        height: auto;
    }
}

.horizontal-carousel {
    .product-tile {
        margin: 0 auto;
    }
}
