////////////////////////////////////////
/// Checkout Custom Styles
///////////////////////////////////////
.pt_checkout {
    .header-banner {
        display: none;
    }

    #main {
        overflow: hidden;
        margin-top: calculateRem(20px);

        @include respond(desktop) {
            margin-top: calculateRem(30px);
        }
    }

    .primary-content {
        width: 100%;
        padding: 0;

        @include respond(desktop) {
            padding-right: 5%;
            width: 71%;
            padding-bottom: 20px;
        }

        > h2 {
            @include typo-cart-header();
            margin-top: 0;
            color: $section-heading-color;
        }
    }

    #secondary {
        padding-left: 0;
        width: 100%;
        margin-bottom: 0;

        @include respond(desktop) {
            width: 29%;
            padding-top: $secondary-top-padding;
            margin-bottom: 50px;
        }

        .secondary-order-submit {
            width: 100%;
            height: 45px;
        }

        .submit-order {
            .form-row {
                margin-top: $place-order-button-margin;
            }
        }
    }

    .contact-number {
        color: $section-heading-color;
        padding: 15px;
        border: $border;

        h3 {
            @include typo-contact-number-primary();
            display: block;
            border: 0;
            padding: 0;
            line-height: 1.25em;
        }

        span {
            @include typo-contact-number-secondary();
            display: block;
            line-height: 1.5em;
        }
    }

    .section-header {
        @include typo-cart-th();
        padding: 15px 0;
        background: none;
        border-bottom: $border;
        color: $th-color;

        @include respond(medium-down) {
            display: none;
        }
    }

    .product-list-item {
        .name {
            @include typo-product-list-item-name();
            color: $cart-prod-title;
            font-style: normal;
        }
    }

    .header-quantity {
        text-align: center;
    }

    .cart-row {
        border-bottom: $border;

        @include respond(medium-down) {
            @include clearfix();
            display: block;
            padding: 10px 0 20px;
        }

        &.last {
            @include respond(large-up) {
                border-bottom: $border;
            }
        }

        td {
            padding: calculateRem(20px) 0;
        }

        .item-image,
        .item-details,
        .item-quantity,
        .item-total {
            @include respond(medium-down) {
                display: block;
                float: right;
                box-sizing: border-box;
                width: 58%;
            }
        }

        .item-image {
            padding-left: 0;
            width: 14%;
            text-align: left;

            @include respond(medium-down) {
                float: left;
                width: 42%;
                padding-top: 20px;
                padding-right: 20px;
                text-align: center;
            }

            .mobile-brand {
                display: block;

                @include respond(large-up) {
                    display: none;
                }
            }
        }

        .item-details {
            padding-left: 20px;

            @include respond(medium-down) {
                padding: 20px 0 5px 0;
                text-align: left;
            }

            @include respond(large-up) {
                width: 35%;
            }

            .branded {
                display: none;

                @include respond(large-up) {
                    display: block;
                }
            }
        }

        .item-quantity {
            @include typo-item-quantity();

            @include respond(large-up) {
                width: 7%;
                text-align: center;
            }

            .label {
                @include respond(medium-down) {
                    display: inline;
                }
            }
        }

        .item-price {
            width: 100%;

            @include respond(medium-down) {
                padding: 0 0 5px 0;
                text-align: left;
            }

            @include respond(desktop) {
                width: 15%;
            }
        }

        .item-total {
            @include respond(large-up) {
                width: 10%;
            }
        }

        .item-stock {
            display: none;
        }

        .item-quantity,
        .item-total {
            @include respond(medium-down) {
                padding: 0 0 8px 0;
                text-align: left;
            }
        }
    }

    .order-summary-footer {
        width: 100%;
        display: none;

        @include respond(desktop) {
            max-width: 300px;
            float: right;
            display: block;
        }

        .cart-coupon-code {
            width: 100%;

            #update-cart {
                display: none;
            }

            input {
                width: 63.5%;
                margin-right: 5px;
            }

            button {
                width: 100px;
                float: right;
                min-height: 40px;
                @include typo-cart-coupon-code();
            }
        }

        .back-to-cart {
            display: none;
        }

        form {
            .form-row {
                > button {
                    width: 100%;
                    height: 45px;

                    @include respond(desktop) {
                        width: calculateRem($cart-large-button-width);
                    }
                }
            }
        }
    }

    .place-order-totals {
        display: none;
    }

    .cart-actions-bottom {
        width: 100%;

        @include respond(desktop) {
            max-width: 300px;
            float: right;
        }

        .cart-action-checkout {
            .pp-button {
                margin-top: calculateRem(15px);

                @include respond(desktop) {
                    margin-top: calculateRem(10px);
                }
            }
        }

        .cart-action-continue-shopping {
            float: right;
            text-align: right;
        }
    }

    .item-list {
        border-top: $border;
        margin-top: 20px;

        @include respond(medium-down) {
            display: block;
            box-sizing: border-box;
            padding: 0 10px;
            border-top: none;
            margin-top: 0;
        }

        tbody {
            @include respond(medium-down) {
                display: block;
            }
        }

        .item-stock {
            @include typo-checkout-item-list-stock();

            .is-in-stock {
                color: $cart-stock;
            }
        }
    }

    .cart-recommendations {
        h2 {
            @include typo-cart-recommendations();
            font-style: normal;
            color: $page-heading-color;
        }
    }

    tfoot {
        tr {
            border-bottom: none;
        }

        .cart-promo {
            position: relative;
            padding: 20px 0 0 0;
            text-align: center;

            > div {
                @include typo-cart-promo();
                width: 100%;
                box-sizing: border-box;
                color: $cart-promo-text;
                padding: 15px 30px;
                background-color: $cart-promo-text-bg;

                @include respond(desktop) {
                    max-width: 300px;
                    float: right;
                }
            }
        }
    }

    ////////////////////////////////////
    /// One ASICS Styles
    ////////////////////////////////////

    .one-asics-shipping-detail {
        display: inline-block;
    }

    .one-asics {
        &__container {
            position: relative;
            padding: 10px 0 20px;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
        }

        &__content {
            @include font-reg(14px, 20px);
            padding: 0 20px;
            margin: 0 auto 20px;
            color: $brand-color;
            text-align: center;

            &--bold {
                @include font-bold(14px, 20px);
                display: block;
            }
        }

        &__logo {
            width: 150px;
            fill: $icon-alt-logo-fill;
        }

        &__actions {
            position: relative;
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
        }

        &__button {
            @include button();
            width: 49%;
            padding: 0 10px;
            @include font-semibold(12px);

            &--ghost {
                @include button("ghost", false, 12px);
            }
        }
    }

    ////////////////////////////////////
    /// Custom Shipping Styles
    ////////////////////////////////////

    .checkout-mini-cart {
        @include clearfix();
        box-sizing: border-box;
        padding: 20px 10px;
        border-bottom: $border;
        background-color: $white;

        .mini-cart-product {
            @include clearfix();
            box-sizing: border-box;
            padding: 20px 0;

            & + .mini-cart-product {
                border-top: $border;
            }

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }
        }

        .mini-cart-image {
            width: 44%;
            display: inline-block;
            float: left;
            box-sizing: border-box;
            padding-right: 20px;
            text-align: center;

            img {
                width: 100%;
            }
        }

        .branded {
            display: inline-block;

            &.asics,
            &.at,
            &.ot {
                margin-top: 10px;
                background-size: contain;
                background-repeat: no-repeat;
            }

            &.asics {
                height: 22px;
                width: 67px;
                background-image: url("../images/icons/logo-asics-gray.svg");
            }

            &.at {
                height: 17px;
                width: 77px;
                background-image: url("../images/icons/logo-asicstiger-grey.svg");
            }

            &.ot {
                height: 27px;
                width: 42px;
                background-image: url("../images/icons/logo-onitsukatiger.svg");
            }
        }

        .availability-threshold {
            display: none;
        }

        .mini-cart-name,
        .mini-cart-attributes,
        .mini-cart-pricing {
            float: right;
            width: 56%;
        }

        .mini-cart-name {

            .line-title,
            a {
                @include typo-checkout-mini-cart-name();
                color: $cart-prod-title;
            }
        }

        .mini-cart-attributes,
        .mini-cart-pricing {
            .label {
                @include typo-checkout-mini-cart-pricing-label();
                line-height: 1.5em;
            }

            .value {
                @include typo-checkout-mini-cart-pricing-value();
                line-height: 1.5em;
            }
        }

        .mini-cart-pricing {
            .mini-cart-price,
            .bonus-product-value {
                @include typo-checkout-mini-cart-price();
                display: block;
                margin-top: 5px;
                color: $cart-prod-title;
            }
        }
    }

    .shipping-address-form,
    .checkout-billing {
        .form-row {
            position: relative;
            margin: 0 0 10px;

            @include respond(large-up) {
                margin: 8px 0 16px;
            }

            label span {
                display: inline-block;
            }

            .form-field-tooltip {
                a {
                    color: $cart-text-link;
                }
            }
        }
    }

    .checkout-billing {
        margin-top: 20px;
    }

    .form-section {
        padding: 25px 0;
        border-bottom: $border;

        h2 {
            @include typo-checkout-form-section-h2();
            margin: 0 0 10px 0;
            color: $section-head-color;
        }

        &:first-child {
            @include respond(medium-down) {
                padding-top: 20px;

                h2 {
                    margin-bottom: 0;
                }
            }
        }

        &.login-section {
            @include font-semibold(14px);

            a {
                @include font-semibold(14px);
                color: $section-head-color;
            }

            .icon {
                margin-top: -3px;
            }
        }

        &.customer-info-section {
            padding-bottom: 0;

            @include respond(large-up) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: baseline;
                padding-bottom: 8px;

                fieldset {
                    width: 100%;
                }
            }
        }

        &.delivery-preference,
        &.delivery-method {
            padding-bottom: 0;
            border-bottom: none;
        }

        &.select-address-section {
            padding-top: $address-select-top-padding;
            padding-bottom: 0;
            .address-select-radio-buttons {
                @include respond(large-up) {
                    margin-top: $address-select-top-padding;
                    margin-bottom: $address-select-bottom-margin;
                    & + fieldset {
                        margin-bottom: 0;
                    }
                }
            }

            .shipping-address-form {
                margin-bottom: 25px;
            }

            @include respond(medium-down) {
                padding-bottom: 0;
                border-bottom: none;
            }
        }

        &.coupon-code-section {
            padding: 29px 0 23px;

            @include respond(medium-down) {
                padding: 15px 0;
                border-top: $border;
            }
        }
    }

    .guest-account-message {
        @include font-size(14px);

        &.mobile-only {
            margin-top: 10px;
        }
    }

    label[for$="_addToEmailList"] {
        @include font-size(12px);
    }

    label[for$="_postal"] {
        ~ .field-wrapper {
            width: 140px;
        }

        ~ .form-caption {
            float: left;
            clear: none;
            line-height: 32px;
            margin-left: 10px;
        }
    }

    .delivery-type-options {
        @include respond(large-up) {
            display: flex;
        }
    }

    .delivery-type-option {
        label {
            float: none;
            width: 100%;
            margin-bottom: 15px;

            @include respond(large-up) {
                margin-bottom: 10px;
                margin-right: 30px;
            }
        }

        input[type="radio"]:checked {
            & + label {
                @include typo-checkout-delivery-type-options-input();
            }
        }
    }

    .shipping-email-address {
        .field-wrapper {
            @include respond(large-up) {
                padding-left: 16px;
            }
        }

        label {
            @include respond(large-up) {
                width: 110px;
            }
        }

        + .form-indent {
            @include respond(large-up) {
                margin-left: 125px;
            }
        }
    }

    .shipping-method-list {
        h2 {
            padding: 0 0 10px;
            margin: 0;

            @include respond(large-up) {
                padding: 25px 0 15px;
            }
        }

        .shipping-methods {
            @include respond(large-up) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }

        label {
            @include typo-checkout-shipping-method-list-input();
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            padding: 20px 0;
            border: $border;
            margin: 0 0 20px;
            text-align: center;
            cursor: pointer;

            @include respond(large-up) {
                width: calc(50% - 15px);
                margin: 0 0 30px 0;
            }

            &::before {
                display: none !important;
            }

            span {
                float: none !important;
                width: 100% !important;
            }
        }

        input[type="radio"]:checked {
            & + label {
                border-color: $shipping-method-selected-color;
                color: $section-head-color;
            }
        }

        .form-caption,
        .tooltip {
            @include typo-checkout-shipping-method-list-caption-tt();
        }

        .tooltip {
            display: none;
        }

        .form-caption {
            display: block;
            margin: 0;
            color: $shipping-method-caption-color;
        }

        .standard-shipping {
            text-decoration: line-through;
        }
    }

    .address-select-radio-buttons {
        padding-bottom: 30px;
        @include respond(large-up) {
            padding-bottom: 0;
        }
        label {
            @include typo-checkout-form-section-h2();
            width: 100%;
            color: $page-heading-color;
        }
        input[type="radio"]:checked {
            & + label {
                @include typo-checkout-form-section-h2();
            }
        }
        .preferred-address {
            display: inline-block;
            list-style: none;
            margin: 10px 0;
            padding-left: 25px;

            li {
                @include font-reg();
            }
        }
    }

    .address-input-toggled {
        display: none;
    }

    .form-row-checkout {
        width: 100%;
        margin-top: 10px !important;
        text-align: right;

        @include respond(large-up) {
            width: auto;
            margin-top: 30px !important;
        }

        button {
            width: 100%;
            height: $checkout-button-height;

            @include respond(medium-up) {
                width: 240px;
            }
        }
    }

    .address-form {
        margin: 20px 0;

        label {
            @include respond(large-up) {
                width: 145px;
            }
        }
    }

    /////////////////////////////////////
    /// Custom Billing Styles
    /////////////////////////////////////
    .coupon-code-section {
        .promo-code-text {
            @include typo-form-label();
            width: 100%;
            margin-bottom: 5px;

            @include respond(large-up) {
                display: inline-block;
                width: auto;
                margin: 8px 40px 0 0;
                vertical-align: top;
            }
        }

        .billing-coupon-code {
            display: inline-block;
            width: 100%;
            margin-left: 0;

            @include respond(large-up) {
                width: auto;
            }

            label {
                display: none;
            }

            input {
                @include respond(large-up) {
                    width: 245px;
                }
            }

            button {
                min-height: 0;
                margin-left: 5px;

                @include respond(large-up) {
                    margin-left: 10px;
                }
            }

            .tooltip {
                @include font-reg(12px);
                display: inline-block;
                margin-left: 10px;
                color: $cart-text-link;

                @include respond(medium-down) {
                    position: absolute;
                    top: -20px;
                    right: 0;
                }
            }

            .form-row,
            .coupon-apply {
                display: inline-block;
                margin: 0;
                position: relative;

                &.label-above {
                    width: calc(100% - 120px);

                    @include respond(large-up) {
                        width: auto;
                    }
                }
            }

            .field-wrapper {
                width: 100%;
            }

            .coupon-apply {
                float: right;
            }

            .coupon-error,
            .redemption {
                display: block;
                margin-bottom: 0;
                line-height: 1em;
            }
        }
    }

    .payment-method-options {
        .form-row {
            @include respond(large-up) {
                display: inline-block;
                width: 32.33%;
            }
        }

        .payment-method-img {
            max-height: 20px;
            margin-right: 5px;
            vertical-align: middle;
        }

        label[for*="klarna"] {
            @include font-size(12px);

            .payment-method-img {
                max-height: 25px;
            }
        }

        .open-invoice-inputs {
            .form-label-text {
                width: 100%;
                margin-bottom: 5px;
                text-align: left;
            }

            .year,
            .month,
            .day {
                float: left;
                width: 100%;
                padding: 0;
                margin-left: 0;

                @include respond(large-up) {
                    width: 150px;
                }

                .field-wrapper {
                    width: 100%;
                    padding-left: 0;

                    .form-row {
                        width: 100%;
                        margin-left: 0;
                        min-height: 60px;

                        select {
                            width: calc(100% + 31px);
                        }
                    }
                }
            }
        }
    }

    .select-address {
        .form-row-button {
            display: none;
        }
    }

    .billing-payment-methods {
        .form-row-button {
            display: none;
        }

        .payment-method-options {
            display: flex;
            flex-wrap: wrap;
            @include clearfix();

            .form-row {
                float: left;
                width: 100%;
                margin-bottom: 25px;

                @include respond(medium-up) {
                    width: auto;
                    margin-bottom: 26px;
                    margin-right: 40px;
                }

                &.selectbox {
                    @include respond(small) {
                        width: calc(33.333% - (20px / 3));
                        margin-right: 10px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }

            .open-invoice-inputs {
                .form-row {
                    width: 100%;
                    margin-bottom: 0;
                }
                .form-label-text {
                    width: 100%;
                    margin-bottom: 5px;
                    text-align: left;
                }

                .open-invoice-dob {
                    float: left;
                    width: 100%;
                }

                .year,
                .month,
                .day {
                    float: left;
                    width: 100%;
                    padding: 0;
                    margin-left: 0;
                    margin-bottom: 8px;

                    @include respond(large-up) {
                        width: 150px;
                        box-sizing: border-box;
                        padding-right: 20px;
                        margin-right: 0;
                        margin-bottom: 0;
                        &:last-child {
                            padding-right: 0;
                        }
                    }

                    .field-wrapper {
                        width: 100%;
                        padding-left: 0;

                        .form-row {
                            width: 100%;
                            margin-left: 0;
                            min-height: 60px;

                            select {
                                width: calc(100% + 31px);
                            }
                        }
                    }
                }
                .gender {
                    .select-style {
                        width: 100%;
                        @include respond(large-up) {
                            width: 150px;
                        }
                    }
                }

                .terms,
                .terms p {
                    margin: 0;
                }

                .klarna-terms {
                    display: inline-block;
                    margin: 10px 0 0;
                }
            }

        }

        .payment-method {
            display: none;

            &.payment-method-expanded {
                display: block;
            }

            &.adyen-method {
                .form-row {
                    &.radio {
                        >.field-wrapper {
                            width: 100%;
                            padding-left: 0;
                        }
                    }
                }

                .logo {
                    margin-top: 15px;
                }
            }

            .field-wrapper {
                @include respond(large-up) {
                    width: 358px;
                    padding-left: 16px;
                }
            }

            .checkbox {
                .field-wrapper {
                    padding-left: 0;
                }
            }
        }

        .form-row {
            margin-bottom: 0;

            @include respond(large-up) {
                margin-bottom: 16px;
            }

            > label {
                margin-bottom: 8px;

                @include respond(large-up) {
                    width: 110px;
                    margin-bottom: 0;
                }
            }
        }

        .month,
        .day,
        .year {
            float: left;
            box-sizing: border-box;
            width: calc(50% - 10px);
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;

            label {
                display: none;
            }

            .field-wrapper {
                width: 100%;
                padding-left: 0;
            }
        }

        .year {
            margin-left: 20px;
        }

        .cvn {
            .field-wrapper {
                width: 126px;
            }

            .form-field-tooltip {
                width: auto;
                margin: 4px 0 0 10px;

                a {
                    display: block;
                }
            }
        }

        .cc-icons {
            position: absolute;
            top: 39px;
            right: 8px;
            z-index: 1;

            @include respond(large-up) {
                top: 7px;
                left: 422px;
                right: auto;
            }

            @include respond(large-up) {
                display: block;
            }

            img {
                display: none;
            }
        }
    }

    .form-row-button {
        margin-left: 0;
        margin: 30px 0;

        button {
            height: $checkout-button-height;
        }
    }
    ////////////////////////////////////////
}

.cart-actions {
    @include clearfix();

    @include respond(desktop) {
        float: right;
        width: 40%;

        &.cart-actions-top {
            float: none;
            width: auto;
        }
    }

    .cart-action-checkout {
        button {
            @include typo-checkout-cart-action-button();
            width: 100%;
            height: 45px;

            @include respond(desktop) {
                width: $cart-large-button-width;
            }

        }

        .pp-button {
            width: 100%;
            border: $border;
            display: block;
            box-sizing: border-box;
            border-radius: .09em;
            position: relative;
            height: 40px;

            @include respond(desktop) {
                width: $cart-large-button-width;
                height: $cart-large-button-height;
            }

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-image: url("../images/pp-button.png");
                height: 50px;
                width: 280px;
            }

            img {
                display: none;
            }
        }
    }
    .cart-action-continue-shopping {
        button {
            @include typo-checkout-cart-action-continue-shopping();
            text-decoration: underline;
            color: $cart-continue;
            margin: 0;
        }
    }
}

.cart-actions-top {
    margin-top: rem(8px);
    padding-bottom: 1em;
    position: relative;

    .cart-action-checkout {
        width: 100%;

        button {
            @include respond(desktop) {
                float: right;
            }
        }

        > a {
            @include respond(medium-down) {
                margin-top: 15px;
            }

            @include respond(desktop) {
                margin-right: 13px;
                float: right;
                margin-top: 0;
            }
        }
    }

    .cart-action-continue-shopping {
        float: none;
        text-align: center;

        @include respond($max-content-breakpoint) {
            float: right;
            text-align: right;
        }
    }

    .cart-shipping {
        @include typo-checkout-cart-shipping();
        margin-bottom: 20px;
        text-align: center;

        a {
            @include typo-checkout-cart-shipping-link();
        }

        @include respond($max-content-breakpoint) {
            margin-bottom: 0;
            text-align: left;
            position: absolute;
            left: 0;
            top: 25%;
            transform: translateY(-50%);
        }
    }
}

.checkout-progress-indicator {
    display: flex;
    list-style: none;
    width: 100%;

    li {
        @include typo-checkout-progress();
        position: relative;
        box-sizing: border-box;
        width: 33.33%;
        padding: 10px 0;
        text-align: center;
        background-color: $progress-indicator-bg;
        color: $progress-indicator-color;

        @include respond(large-up) {
            padding: 18px 0;
        }

        a {
            @include typo-checkout-progress();
            color: $progress-indicator-color;
        }

        &::after {
            content: "";
            height: 100%;
            width: 1px;
            position: absolute;
            right: 0;
            top: 0;
            background-color: $progress-indicator-divider-color;
        }

        &.active {
            color: $progress-indicator-active-color;
            background: $progress-indicator-active-bg;

            a {
                color: $progress-indicator-active-color;
            }
        }

        &:last-child {
            @include typo-checkout-progress();
            color: $progress-indicator-color;

            &::after {
                display: none;
            }
        }
    }
}

.place-order-message {
    @include font-semibold(12px);
    margin: 15px 0 0;
    color: $page-heading-color;

    @include respond(desktop) {
        @include typo-paragraph();
        margin: $place-order-promo-msg-margin;
    }
}

.order-component-block {
    display: none;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 20px;
    border: $border;

    @include respond(desktop) {
        display: block;
    }

    .section-header {
        @include typo-checkout-summary-header();
        display: block;
        line-height: 1em;
        padding: 15px 0;
        border-bottom: $border;
        margin: 0 10px;

        a {
            @include typo-checkout-order-section-header-link();
            float: right;
            color: $cart-text-link;
        }
    }

    &:first-of-type {
        background-color: $checkout-summary-bg;

        .section-header {
            padding: 20px 0;
            border-bottom: $checkout-summary-header-border;
        }
    }

    &.place-order {
        display: block;

        .section-header {
            border-bottom: $border;
        }

        ~ .order-component-block {
            display: block;
        }
    }

    .details {
        @include typo-checkout-summary-details();
        padding: 15px 10px;
        line-height: 21px;

        .minishipments-method {
            padding: 0;
        }
    }

    .checkout-order-totals {
        padding: 0;
        background-color: $checkout-summary-bg;

        .order-shipping {
            a {
                display: none;
            }
        }
    }
}

.extra-submit-button {
    button {
        width: 100%;
    }
}

/////////////////////////////////////////
// Custom Order Confirmation Styles
/////////////////////////////////////////
.pt_order-confirmation {
    .header-banner {
        display: block;
    }

    .confirmation {
        @include clearfix();
    }

    .confirmation-message {
        padding: 0;
        border: 0;
        margin-bottom: 30px;

        h1 {
            @include typo-cart-header();
            line-height: normal;
            margin: 0 0 4px 0;
        }

        .content-asset {
            @include font-reg($order-summary-info-txt);
        }
    }

    .order-confirmation-signup {
        @include typo-product-price-small();

        a {
            display: block;
            margin-top: 4px;
            span {
                color: $section-heading-color;
            }

            .icon {
                margin-top: -3px;
            }
        }
    }

    .confirmation-message,
    .order-confirmation-details {
        box-sizing: border-box;
        width: 100%;

        @include respond(large-up) {
            width: 70.5%;
            padding-right: 50px;
        }
    }

    .order-confirmation-details,
    .order-confirmation-summary {
        @include respond(large-up) {
            float: left;
        }
    }

    .order-confirmation-summary {
        @include respond(large-up) {
            width: 29.5%;
        }
    }

    .continue-shopping-link {
        @include typo-paragraph();
        color: $cart-text-link;
    }

    .order-details {
        margin: 20px 0;

        .order-date {
            margin-bottom: 4px;
        }

        .label {
            @include typo-product-name-small();
            color: $cart-prod-title;
        }

        .value {
            @include typo-item-details-promo();
        }
    }

    .item-list {
        margin-top: 0;

        @include respond(medium-down) {
            border-top: $border;
        }
    }

    .actions {
        a {
            @include button();
            width: 100%;

            @include respond(desktop) {
                width: 300px;
            }

            @include respond(large-down) {
                min-height: 40px;
                padding: 10px;
            }
        }
    }

    .orderdetails {
        button {
            @include respond(large-down) {
                width: 100%;
                min-height: 40px;
                padding: 0;
                margin-bottom: 20px;
            }
        }
    }
}

.order-section {
    @include clearfix();
    border: $border;

    @include respond(large-down) {
        @include full-bleed-width();
        border: 0;
    }

    @include respond(large-up) {
        margin-bottom: 30px;
    }

    .line-items {
        @include respond(medium-down) {
            border-top: $border;
            margin-top: 15px;
        }

        .order-section-head {
            display: none;
            @include respond(large-up) {
                display: flex;
            }
        }
    }

    .order-information,
    .order-shipment-details,
    .line-item {
        padding: 15px 20px;

        @include respond(large-up) {
            padding: 15px;
        }
    }

    .order-information,
    .order-shipment-details {
        @include respond(large-up) {
            display: flex;
        }

        > div {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            @include respond(large-up) {
                margin-bottom: 0;
                flex-grow: 1;
                flex-direction: column;
            }
        }

        .label {
            @include font-reg($order-summary-info-txt-m);
            color: $order-summary-section-head-color;
            padding-bottom: 5px;
            margin-bottom: 20px;
            border-bottom: $border;
        }
    }

    .payment-amount {
        .sub-label {
            @include font-reg($order-summary-info-txt);
            border: 0;
            line-height: rem(21px);
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .value {
            @include font-bold($order-summary-info-txt);
        }
    }

    .order-total {
        color: $order-summary-section-head-color;
    }

    .order-subtotal {
        @include font-reg($order-summary-info-txt);
    }

    .line-item {
        @include respond(medium-down) {
            border-bottom: $border;
            padding: 15px 0;
            margin: 0 20px;

            &:last-child {
                border: none;
                margin-bottom: 20px;
            }
        }

        & + .line-item {
            margin-bottom: 20px;
            border-bottom: $border;
        }

        .line-item-details {
            width: 100%;
            line-height: rem(20px);

            @include respond(large-up) {
                display: flex;
            }

            .product-image {
                float: left;
                width: 40%;

                img {
                    width: 100%;
                    height: auto;
                }

                @include respond(large-up) {
                    width: 17%;
                }
            }

            .product-list-item {
                float: right;
                width: 60%;

                @include respond(large-up) {
                    width: 39%;
                }
            }

            .name {
                a {
                    @include font-reg($order-summary-info-txt-m);
                    color: $order-summary-section-head-color;
                }
            }

            .sku {
                display: none;
            }

            >.label {
                display: none;
            }

            .label {
                @include font-reg($order-summary-info-txt);
            }

            .value {
                @include font-bold($order-summary-info-txt);
            }

            .name,
            .attribute {
                width: 100%;
                padding-left: 15px;
                box-sizing: border-box;
                @include respond(large-up) {
                    width: auto;
                    padding-left: 20px;
                }
            }
        }

        .line-item-quantity {
            @include font-reg($order-summary-info-txt);
            float: right;
            width: 60%;
            padding-left: 15px;
            box-sizing: border-box;
            margin-bottom: 15px;

            .label {
                @include font-reg($order-summary-info-txt);
                display: inline-block;
            }

            @include respond(large-up) {
                @include font-bold($order-summary-info-txt);
                width: 22%;
                padding-left: 0;
                margin-bottom: 0;

                .label {
                    display: none;
                }
            }
        }

        .line-item-price {
            @include font-bold($order-summary-info-txt-m);
            float: right;
            width: 60%;
            padding-left: 15px;
            box-sizing: border-box;

            .label {
                @include font-bold($order-summary-info-txt);
                display: inline-block;
            }

            @include respond(large-up) {
                width: 22%;
                text-align: right;
                padding-left: 0;

                .label {
                    display: none;
                }
            }
        }
    }

    .payment-type,
    .payment-amount,
    .mini-address-name,
    .mini-address-location,
    .order-detail-summary,
    .shipping-status,
    .shipping-method,
    .trackingnumber,
    .address {
        @include font-reg($order-summary-info-txt);
        line-height: rem(21px);

        .sub-label {
            @include font-bold($order-summary-info-txt);
        }
    }
}
.order-section-head {
    padding: 15px;
    margin: 0;
    background-color: $checkout-summary-bg;
    @include respond(large-up) {
        display: flex;
    }
    h1,
    h2 {
        margin: 0;
        @include font-bold($order-summary-info-txt-l);
        display: inline-block;
        color: $order-summary-section-head-color;
        line-height: 1em;
    }
    .order-date {
        @include font-reg($order-summary-info-txt);
        @include respond(large-up) {
            margin-left: auto;
        }
    }
    .section-col {
        @include font-bold($order-summary-info-txt-l);
        color: $order-summary-section-head-color;
        width: 100%;
        &:first-child {
            @include respond(large-up) {
                width: 56%;
            }
        }
        &:nth-child(2) {
            @include respond(large-up) {
                width: 22%;
            }
        }
        &:nth-child(3) {
            @include respond(large-up) {
                width: 22%;
                text-align: right;
            }
        }
    }
}

.delivery-method {
    clear: both;
    display: none;
}
.delivery-method-expanded {
    display: block;
}

.open-invoice-inputs {
    display: none;
}

/////////////////////////////////////
/// Custom Ship To UPS Styles
/////////////////////////////////////
#shipping-ups-container {
    .ups-locator {
        @include clearfix();

        #postal-code-action-link {
            @include font-size($body-text-size);
            display: inline-block;
            overflow: visible;
            position: relative;
            margin-top: 10px;
            margin-bottom: 20px;
            color: $link-paragraph-color;

            &::after {
                content: "";
                position: absolute;
                right: -20px;
                top: 2px;
                height: 10px;
                width: 15px;
                background: url("../images/icons/drop-down-arrow.svg") no-repeat scroll;
                background-position: center;
            }
        }

        .search-form-fields {
            .address-field {
                width: 48%;
                display: inline-block;

                label {
                    width: 100%;
                    margin-top: 0;
                }

                @include respond(large-up) {
                    width: 250px;
                    margin-right: 5px;
                    margin-bottom: 0;
                }
            }

            .distance-select {
                width: 48%;
                display: inline-block;
                vertical-align: bottom;
                float: right;

                label {
                    float: none;
                    width: 100%;
                    margin-top: 0;
                }

                @include respond(large-up) {
                    width: 150px;
                    margin-right: 5px;
                    margin-bottom: 0;
                    float: none;
                }
            }

            .locator-submit {
                display: inline;

                button {
                    @include font-size(14px);
                    width: 100%;
                    height: 40px;
                    min-height: 0;
                    padding: 0 20px;

                    @include respond(large-up) {
                        width: auto;
                    }
                }
            }
        }

        .stores-header {
            @include font-size(16px);
        }
    }

    .store-locator {
        #map-canvas {
            height: 320px;
            margin-bottom: 0;
            width: 100%;
            display: block;

            @include respond(large-up) {
                width: 48%;
                height: 345px;
                margin-bottom: 10px;
            }
        }

        .stores-wrapper {
            width: 100%;

            @include respond(large-up) {
                width: 48%;
                max-height: 345px;
            }

            .store {
                padding-bottom: 20px;
                margin-bottom: 20px;
                width: 100%;

                &:first-child {
                    padding-top: 20px;
                    border-top: $border;
                }
                &:last-child {
                    border-bottom: $border;
                }

                .store-info-main {
                    position: relative;
                    padding-left: 40px;

                    label {
                        font-size: 0;
                        width: auto;
                        margin: 0;
                        position: absolute;
                        left: 5px;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    .storename {
                        width: 90%;
                        margin-bottom: 0;
                        box-sizing: border-box;

                        a {
                            @include font-bold(12px);
                            color: $body-text-color-drk;
                        }
                    }

                    .store-info-container {
                        position: relative;
                        width: 90%;
                        padding: 0;
                        box-sizing: border-box;

                        .address1,
                        .cityStateZip {
                            @include font-reg(12px);
                            color: $body-text-color;
                        }

                        .storecountry {
                            display: none;
                        }

                        .phone {
                            display: none;
                        }

                        .tooltip {
                            display: block;
                            bottom: 0;
                            color: $link-paragraph-color;
                        }

                        .tooltip-content {
                            p,
                            span {
                                display: block;
                                width: 100%;
                                @include font-reg(12px);
                            }

                            p {
                                text-transform: capitalize;
                            }
                        }
                    }
                }
                .distance {
                    display: none;
                }
            }
        }
    }
}
