.shippingaddress {
    .select-address {
        width: 100%;
        margin-left: 0;
    }
    .edit-address {
        margin-top: 0.5em;
    }
}

.formactions {
    margin-top: 20px;
    text-align: right;
}

//override stacked columns below 768 - we need multi ship to show as 3 columns
@include respond(medium-down) {
    .checkoutmultishipping table.item-list {
        .item-details,
        .item-availability,
        .item-dashboard {
            display: table-cell;
        }
        .item-image {
            width: auto;
        }
        .item-details {
            width: 25%;
        }
    }
}

//hide multiship product image below 480
@include respond(small-down) {
    .checkoutmultishipping table.item-list {
        .item-image {
            //need to hide this cell without display none, so the col span on this table's' thead will still work...
            width: 0;
            padding: 0;
            img {
                display: none;
            }
        }
        .item-details {
            width: 50%;
            padding-left: 0;
        }
    }
}

.item-list .multi-shipment-row {
    border-bottom: none;
}

.minishipments-method {
    padding-top: 10px;
}

.multishipprogress {
    div,
    .step-3 {
        display: inline;
        padding: 1em;
    }
    .step-4 {
        padding-right: 0;
    }
}

.pt_checkout #cart-table .cart-row .shipment-label {
    @include font-bold(22px);
    margin-top: 35px;
}
