@include respond(medium-down) {
    .pt_cart #secondary {
        display: none;
    }
}

.hit-results-header {
    @include typo-cart-header();
    margin: 20px 0;

    @include respond(large-up) {
        margin: 20px 0 25px;
    }
}

#cart-items-form-wrap {
    float: left;
    width: 100%;

    @include respond(large-up) {
        width: 55%;
    }

    @include respond(desktop) {
        width: 65%;
    }
}

#cart-table {
    width: 100%;

    thead {
        display: none;

        @include respond(large-up) {
            display: table-header-group;
        }
    }

    .header-total-price {
        text-align: right;
    }

    .item-delivery-options {
        .form-row {
            margin: rem(8px) 0;
        }

        .instore-delivery {
            .selected-store-address,
            .selected-store-availability,
            .form-row {
                margin-left: rem(24px);
                @include respond(large-up) {
                    margin-left: 0;
                }
            }
        }

        @include respond(large-up) {
            width: rem(140px);
        }
    }

    .item-quantity input {
        padding-right: 0;
    }

    .price-promotion {
        word-spacing: 1em;

        .price-sales {
            color: $price-sale-color;
        }

        .price-standard {
            @include font-semibold(12px);
            text-decoration: line-through;

            @include respond(large-up) {
                @include font-semibold(14px);
            }
        }

        @include respond(large) {
            span {
                display: block;
            }
        }
    }

    .item-total {
        word-wrap: break-word;

        @include respond(desktop) {
            text-align: right;
        }
    }

    .price-adjusted-total {
        margin: .42em 0 0;
    }

    .gift-cert-delivery {
        color: $price-sale-color;
    }

    .bonus-item-details-text {
        width: 100%;
        display: inline-block;

        @include respond(large-up) {
            width: auto;
        }
    }

    .bonus-item-actions {
        width: 100%;
        margin-top: 15px;
        display: inline-block;

        @include respond(large-up) {
            width: auto;
            float: right;
            margin-top: 0;
        }
    }
}

.cart-footer {
    @include clearfix();
    margin: 0 0 .83em;
}

.cart-coupon-code {
    input {
        margin-bottom: rem(8px);
        width: 35%;

        @include respond(large-up) {
            width: 45%;
        }
    }

    .error {
        padding-top: 0.4em;
    }

    button {
        padding: 0 10px;
        margin-left: .27em;
    }

    // to allow both the Apply and Update Cart buttons to fit on one line at 320
    @include respond(small-down) {
        input {
            float: left;
            width: 44%;
        }

        button {
            float: left;
            margin: 0;
            padding: rem(5.5px) 0;
            width: 22%;

            // Update Cart button
            &.simple {
                width: 32%;
                padding: rem(5.5px) 0;
            }
        }
    }
}

.cart-order-totals {
    margin: rem(16px) 0;

    @include respond(large-up) {
        margin-top: 0;
        width: 40%;
    }
}

.order-totals-table {
    .order-subtotals > div,
    .order-total {
        display: flex;
        justify-content: space-between;

        div {
            @include typo-checkout-summary-details();
            padding: 5px 10px;
            color: $cart-order-total;
        }
    }

    .order-subtotals {
        padding: 10px 0;
    }

    .order-subtotal {
        @include font-bold;
    }

    .order-total {
        @include font-bold(16px);

        border-top: $border;
        padding: 0;
        margin: 0 10px;
        color: $cart-order-total;

        div {
            @include typo-checkout-summary-total();
            padding: 15px 0;
        }
    }
}

.order-value {
    white-space: nowrap;
}

.cart-action-checkout {
    button {
        width: 100%; //checkout buttons
    }

    @include respond(large-up) {
        .cart-actions-top & {
            float: right;
            button {
                width: auto;
            }
        }
    }
}

.cart-action-continue-shopping {
    float: right;
    button.button-text {
        @include font-reg(14px);
        line-height: 3.25em;
        margin-right: 1em;
    }
}

.cart-recommendations {
    clear: both;
    margin-top: rem(16px);
    .product-listing {
        @include clearfix();
        margin: rem(16px) 0;
        background-color: $base-bg;
        h2 {
            padding: rem(16px) rem(8px) rem(2px);
            background-color: $section-header-bg;
        }
        .search-result-items {
            margin-top: 1em;
        }
    }
}

.cart-empty {
    @include clearfix();
    margin-top: rem(64px);
    h1 {
        text-align: center;
    }
    .cart-action-continue-shopping {
        float: none;
        text-align: center;
        margin-bottom: rem(64px);
    }
    .product-listing {
        @include clearfix();
        background-color: $box-bg;
        padding: rem(16px) 0;
        h2 {
            margin-left: rem(21px);
        }
        .search-result-items {
            margin-top: 1em;
        }
    }
}

.promo-adjustment {
    color: $price-sale-color;
}

ul.product-availability-list {
    margin: 0;
    padding: 0;
    width: 5em;
    //for IE
    width: max-content;
    li {
        list-style: none outside none;
    }
    .on-order {
        color: $out-of-stock-color;
        font-size: 0.9em;
    }
}

.account-welcome {
    .welcome-message {
        font-size: 1.2em;
        @include font-italic();
    }
    .not-user {
        margin: .83em 0;
    }
}

#password-reset {
    white-space: nowrap;
}

////////////////////////////////////////
/// Cart Custom Styles
///////////////////////////////////////
.cart-row {
    border-bottom: $border;

    td {
        padding: calculateRem(20px) 0;
    }

    .branded {
        margin-top: 12px;

        &.asics,
        &.at,
        &.ot {
            margin-bottom: 10px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &.asics {
            height: 22px;
            width: 67px;
            background-image: url("../images/icons/logo-asics-gray.svg");
        }

        &.at {
            height: 17px;
            width: 77px;
            background-image: url("../images/icons/logo-asicstiger-grey.svg");
        }

        &.ot {
            height: 27px;
            width: 42px;
            background-image: url("../images/icons/logo-onitsukatiger.svg");
        }

        &.mobile-brand {
            display: none;
            margin: 0 auto;
        }
    }

    .item-details {
        @include respond(large-down) {
            .branded {
                display: none;
            }
        }

        > div {
            line-height: 1.5em;
        }

        .name {
            .no-link {
                @include typo-cart-th();
                background: none;
                color: $th-color;
            }
            a {
                @include typo-product-name-small();
                color: $cart-prod-title;
            }
        }

        .promo {
            @include typo-item-details-promo();
            color: $cart-prod-promo;
        }

        .sku {
            display: none;
        }

        .label {
            @include font-semibold(12px);
            color: $cart-prod-label;
            line-height: 1em;

            @include respond(large-up) {
                @include font-semibold(14px);
            }
        }

        .value {
            @include font-reg(12px);
            color: $cart-prod-attr;
            line-height: 1em;

            @include respond(large-up) {
                @include font-reg(14px);
            }
        }

        .item-edit-details,
        .bonusproducts {
            a {
                text-decoration: $cart-text-link-dec;
                color: $cart-text-link;
                @include font-reg(12px);
            }
        }
    }

    .item-quantity {
        .label {
            @include font-semibold(12px);
            display: block;
            margin-bottom: 5px;

            @include respond(large-up) {
                display: none;
            }
        }
    }

    .item-price {
        .price-sales {
            @include typo-item-price-sales();
            color: $cart-price;
        }

        .label {
            @include typo-item-price-label();
            display: none;
            color: $cart-price;
        }
    }

    .item-total {
        @include font-semibold(12px);
        color: $cart-prod-total;

        @include respond(large-up) {
            @include font-semibold(14px);
            text-align: right;
        }

        .label {
            @include font-bold(14px);
            display: none;
            color: $cart-prod-total;
        }

        .price-unadjusted {
            @include typo-item-total();
            display: inline-block;
            margin-right: 10px;
            color: $cart-sale-price;
            text-decoration: line-through;
        }

        .price-adjusted-total {
            @include typo-item-total();
            display: inline-block;
            color: $cart-prod-total;
        }
    }

    .item-details,
    .item-quantity-details {
        margin-top: calculateRem(12px);

        button {
            @include font-reg(12px);
            color: $cart-text-link;
            text-decoration: $cart-text-link-dec;
            line-height: 1.5em;
        }

        .item-user-actions {
            a {
                &.add-to-wishlist {
                    display: none;
                }
            }
        }
    }
}

.pt_cart {
    .header-banner {
        display: none;
    }

    .primary-content {
        margin-top: 20px;

        @include respond(large-up) {
            margin-top: 30px;
        }
    }

    .section-header {
        @include typo-cart-th();
        padding: 15px 0;
        background: none;
        border-bottom: $border;
        border-top: $border;
        color: $th-color;

        @include respond(large-down) {
            display: none;
        }
    }

    .product-list-item {
        .name {
            @include font-reg(14px);
            color: $cart-prod-title;
            font-style: normal;
        }
    }

    #cart-table {
        @include respond(large-up) {
            border-top: $border;
        }

        thead {
            display: none;

            @include respond(desktop) {
                display: table-header-group;
            }
        }
    }

    .cart-row {
        border-bottom: $border;

        @include respond(large-down) {
            @include clearfix();
            display: block;
        }

        td {
            padding: calculateRem(20px) 0;
        }

        .item-image,
        .item-details,
        .item-price,
        .item-quantity,
        .item-total {
            @include respond(large-down) {
                display: block;
                float: right;
                box-sizing: border-box;
                width: 58%;
            }
        }

        .item-image {
            padding-left: 0;
            width: 18%;
            text-align: left;

            @include respond(large-down) {
                float: left;
                width: 42%;
                padding-top: 20px;
                padding-right: 25px;

                img {
                    width: 100%;
                }

                .mobile-brand {
                    display: block;
                }
            }
            /* IE fix for large product image */
            img {
                width: 100%;
            }
        }

        .item-details {
            padding-left: 25px;

            @include respond(large-down) {
                padding: 20px 0 0;
                text-align: left;
            }

            @include respond(desktop) {
                width: 48%;
            }
        }

        .item-quantity {

            @include respond(desktop) {
                width: 12%;
            }

            .select-style {
                max-width: 72px;
            }
        }

        .item-price {
            @include respond(large-down) {
                padding: 0 0 20px 0;
                text-align: left;
            }

            @include respond(desktop) {
                width: 12%;
            }
        }

        .item-total {
            @include respond(desktop) {
                width: 10%;
            }
        }

        .item-quantity-details {
            .product-availability-list {
                @include font-reg(12px);

                .is-in-stock {
                    color: $cart-stock;
                    font-weight: normal;
                }

                .not-available {
                    color: $cart-stock-out;
                }

                .availability-threshold {
                    @include font-reg(12px);
                    line-height: 2em;
                    color: $cart-sock-notice;
                }
            }
        }

        .item-quantity,
        .item-total {
            @include respond(large-down) {
                padding: 0 0 20px 0;
                text-align: left;
            }
        }
    }

    .rowcoupons {
        .item-image,
        .item-details,
        .item-price,
        .item-quantity,
        .item-total {
            @include respond(large-down) {
                display: block;
                float: right;
                box-sizing: border-box;
                padding: 0 0 20px 0;
                width: 58%;
            }
        }
    }

    .cart-footer {
        float: left;
        width: calc(100% - 20px);
        padding: 0 10px 10px;
        border: $border;
        background: $cart-summary-bg;

        @include respond(large-up) {
            float: right;
            width: 36%;
        }

        @include respond(desktop) {
            width: 27%;
        }

        .order-summary-header {
            @include typo-cart-summary-header();
            border-bottom: $border;
            color: $page-heading-color;
            margin-bottom: 18px;
            padding: 17px 0 15px;
            text-transform: uppercase;
        }

        .cart-coupon-code {
            @include clearfix();
            margin-bottom: 15px;
            width: 100%;

            #update-cart {
                display: none;
            }

            .coupon-code-header {
                @include typo-cart-summary-header();
                margin-bottom: 8px;
            }

            input {
                width: 65%;

                @include respond(large-up) {
                    width: 67%;
                }
            }

            button {
                float: right;
                min-height: 41px;
                width: 34%;

                @include respond(large-up) {
                    width: 30%;
                }
            }
        }

        .cart-order-totals {
            width: 100%;
            margin: 0 0 calculateRem(10px);

            .order-totals-table {
                margin: 0 -10px;
            }

            .order-total {
                border-bottom: $border;

                @include respond(medium-down) {
                    border-top: none;
                }
            }
        }

        .cart-action-continue-shopping {
            button.button-text {
                @include font-reg(14px);
                line-height: 3.25em;
                margin-right: 1em;
                text-decoration: none;
            }
        }
    }

    .cart-actions-bottom {
        width: 100%;

        .cart-action-checkout {
            .pp-button {
                margin-top: calculateRem(15px);

                @include respond(large-up) {
                    margin-top: calculateRem(10px);
                }
            }
        }

        .cart-action-continue-shopping {
            text-align: right;
            width: 100%;
        }
    }

    .cart-recommendations {
        h2 {
            @include font-bold(28px);
            font-style: normal;
            color: $page-heading-color;

            @include respond(large-up) {
                @include font-semibold(24px);
            }
        }

        .latest-carousel {
            display: none;
            padding-top: 50px;

            @include respond(large-up) {
                display: block;
            }

            .product-tile .branded {
                background-size: contain;
                background-repeat: no-repeat;

                &.asics {
                    height: 22px;
                    width: 67px;
                    margin: 10px auto;
                    background-image: url("../images/icons/logo-asics-gray.svg");
                }

                &.at {
                    height: 17px;
                    width: 77px;
                    margin: 10px auto;
                    background-image: url("../images/icons/logo-asicstiger-grey.svg");
                }

                &.ot {
                    height: 27px;
                    width: 42px;
                    margin: 10px auto;
                    background-image: url("../images/icons/logo-onitsukatiger.svg");
                }
            }
        }
    }

    tfoot {
        tr {
            border-bottom: none;
        }
        .cart-promo {
            position: relative;
            padding: 20px 0 0 0;

            > div {
                @include font-bold(14px);
                width: 100%;
                box-sizing: border-box;
                padding: 15px 30px;
                text-align: center;
                background-color: $cart-promo-text-bg;
                color: $cart-promo-text;

                @include respond(large-up) {
                    float: right;
                }
            }
        }
    }
}

.cart-actions {
    @include respond(large-up) {
        width: 40%;

        &.cart-actions-top {
            width: auto;

            @include respond(large-up) {
                display: none;
            }
        }
    }

    .cart-action-checkout {
        button {
            @include font-reg(18px);
            width: 100%;
            height: 45px;

            @include respond(large-up) {
                width: 100% !important;
            }

        }

        .pp-button {
            width: 100%;
            border: $border;
            display: block;
            box-sizing: border-box;
            border-radius: .09em;
            position: relative;
            height: 40px;

            @include respond(large-up) {
                width: 100% !important;
                height: calculateRem($cart-large-button-height);
                display: inline-block !important;
            }

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background: url("../images/pp-button.png") no-repeat center center $white;
                height: 50px;
                width: 100% !important;
            }

            img {
                display: none;
            }
        }
    }

    .cart-action-continue-shopping {
        button {
            @include font-reg(14px);
            color: $cart-continue;
            margin: 0;
            text-decoration: none;
            width: 100%;
        }
    }
}

.cart-actions-top {
    margin-top: rem(8px);
    padding-bottom: 1em;
    position: relative;

    .cart-action-checkout {
        width: 100%;

        @include respond(large-up) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
        }

        @include respond($max-content-breakpoint) {
            display: block;
        }

        button {
            @include respond(large-up) {
                float: right;
                margin-top: 0;
            }

        }

        > a {
            @include respond(large-up) {
                margin-right: 13px;
            }

            @include respond(medium-down) {
                margin-top: 15px;
            }

            @include respond(desktop) {
                float: right;
            }
        }
    }

    .cart-action-continue-shopping {
        text-align: center;

        @include respond($max-content-breakpoint) {
            text-align: right;
        }
    }
    .cart-shipping {
        @include font-size(14px);
        margin-bottom: 20px;
        text-align: center;

        a {
            @include font-size(12px);
        }

        @include respond($max-content-breakpoint) {
            margin-bottom: 0;
            text-align: left;
            position: absolute;
            left: 0;
            top: 25%;
            transform: translateY(-50%);
        }
    }
}

.cart-promo-approaching {
    @include font-reg(14px);
    width: 100%;
    padding: 13px 0;
    color: $cart-promo-text;
    text-align: left;
}

.bonus-row {
    .item-total {
        .label {
            display: none;
        }
    }
}
.rowcoupons {
    .item-details {
        .name {
            @include font-semibold(12px);

            @include respond(large-up) {
                @include font-semibold(14px);
            }
        }

        .label,
        .value {
            @include font-reg(12px);

            @include respond(large-up) {
                @include font-reg(14px);
            }
        }
    }

    .item-total {
        @include font-semibold(12px);

        @include respond(large-up) {
            @include font-semibold(14px);
        }
    }
}

#bonus-product-dialog {
    .bonus-product-list {
        .product-col-1,
        .product-col-2 {
            float: left;
            border: 0;
        }
        .promotion {
            @include typo-flex-small-head();
            border-top: 0;
            color: $page-heading-color;
            margin-bottom: 15px;
        }
    }
}
