.menu-category {
    margin: 0;
    padding: 0;

    @include respond($mobile-menu-breakpoint) {
        display: flex;
        height: 100%;
        align-items: center;
    }

    ul {
        padding: 0;
    }

    li {
        list-style: none;
    }

    a {
        display: block;
        position: relative;
        width: 100%;
        padding: 13px 20px;
        border-bottom: $border-mobile-menu-link;
        color: $link-main-nav-color;

        @include respond($mobile-menu-breakpoint) {
            width: auto;
            padding: 0;
            border-bottom: none;
        }
    }

    .cta-arrow {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        fill: $icon-mobile-menu-fill;

        @include respond($mobile-menu-breakpoint) {
            display: none;
        }

        &.left {
            right: auto;
            left: 20px;
            transform: rotateY(180deg) translateY(-50%);
        }
    }

    .icon:not(.cta-arrow) {
        margin-right: 10px;

        @include respond($small-breakpoint, $mobile-menu-breakpoint) {
            display: none;
        }
    }
}

.level-1 {
    > li {
        // override background-color for small viewport
        background-color: $trans;

        @include respond($mobile-menu-breakpoint) {
            display: flex;
            height: 100%;
            align-items: center;

            &:hover {
                > a {
                    background: $custom-navigation-item-hover-bg;
                    color: $custom-navigation-item-hover-color;

                    .icon {
                        fill: $icon-header-hover-fill;
                    }
                }
            }
        }

        &:first-child {
            border: none;
        }

        a {
            display: block;

            @include respond($small-breakpoint, $mobile-menu-breakpoint) {
                display: none;

                &.show-menu-item {
                    display: block;
                }
            }
        }

        > a {
            @include typo-main-nav-link();
            color: $link-main-nav-color;

            @include respond($mobile-menu-breakpoint) {
                display: flex;
                height: 100%;
                padding: 25px 15px;
                align-items: center;
            }
        }
    }
}

.level-2 {
    > ul {
        padding-bottom: .5em;
        padding-left: 2.1rem;
    }

    .level-1 > .active & {
        display: block;
    }

    @include respond($mobile-menu-breakpoint) {
        display: none;
        position: absolute;
        top: $header-desktop-height;
        left: 0;
        z-index: 99;
        width: 100%;
        padding: 0;
        background-color: $header-nav-menu-bg;
        color: $body-text-color;
        box-shadow: $shadow;

        .level-1 li:hover & {
            display: block;
        }

        a {
            color: $link-main-nav-color;

            &:hover {
                text-decoration: underline;
            }
        }

        .banner {
            width: 28.8%;
        }
    }

    .banner {
        display: none;

        img {
            vertical-align: top;
        }

        @include respond($mobile-menu-breakpoint) {
            display: block;
        }
    }
}

.menu-columns {
    @include respond(large-down) {
        padding-left: 0 !important;
    }

    @include respond($mobile-menu-breakpoint) {
        display: flex;
        max-width: $max-content-breakpoint;
        padding: 25px $content-width-gutters;
        margin: auto;
    }
}

.menu-vertical {
    > li {
        > a {
            @include typo-main-navigation-header-link();
        }
    }

    @include respond($mobile-menu-breakpoint) {
        width: calc(17.8% - 25px);
        padding-right: 10px !important;
        margin-right: 25px;

        > li {
            &:not(.menu-category-tile) {
                margin-top: 25px;

                &:first-child {
                    margin-top: 0;
                }
            }

            > a {
                color: $link-main-nav-header-color;
            }
        }
    }
}

.level-3 {
    a {
        @include typo-main-navigation-sub-link();

        @include respond($mobile-menu-breakpoint) {
            color: $link-main-nav-sub-color;
        }
    }
}

.header-search {
    .search-button {
        height: 33px;
    }
    input[type="text"] {
        @include respond($mobile-menu-breakpoint) {
            height: 31px;
        }
    }
}
