.bonus-product-list {
    .product-primary-image {
        box-sizing: border-box;
        padding-right: 10px;
        &.with-thumbs {
            display: block;
        }
    }
    .bonus-product-item {
        @include clearfix();
        border-bottom: $border;
        padding-top: 0;
        .product-col-1,
        .product-col-2 {
            padding-top: 0;
            @include respond(medium-down) {
                float: left;
                clear: none;
            }
        }
        &+ .bonus-product-item {
            padding-top: rem(50px);
        }
    }
    .product-add-to-cart {
        padding-top: rem(25px);
        padding-bottom: rem(45px);
        .inventory {
            width: auto;
        }
    }
    .product-name {
        float: none;
        margin: 0 0 rem(32px) 0;
        padding: 0;
    }
    .quantity-error {
        color: red;
        text-transform: inherit;
    }
    .bonus-product-list-footer {
        @include clearfix();
        padding-top: 1em;
        padding-bottom: 1em;
        .add-to-cart-bonus {
            float: right;
            width: 45%;
        }
    }
    .selected-bonus-item {
        margin: 1em 0;
        position: relative;
        .item-name {
            @include font-bold(14px);
            color: $cart-prod-title;
            text-transform: none;
            @include respond(large-up) {
                @include font-bold(16px);
            }
        }
        .display-name {
            @include font-reg(12px);
            color: $cart-prod-label;
            line-height: 1em;
            @include respond(large-up) {
                @include font-reg(14px);
            }
        }
        .display-value {
            @include font-bold(12px);
            color: $cart-prod-attr;
            line-height: 1em;
            @include respond(large-up) {
                @include font-bold(14px);
            }
        }
        .remove-link {
            @include font-reg(12px);
            color: $cart-text-link;
            text-decoration: $cart-text-link-dec;
            line-height: 1.5em;
        }
    }
}

.bonus-discount-container {
    .promo-details {
        display: none;
        &.visible {
            display: block;
        }
    }
}

.bonus-product-summary {
    h2 {
        @include font-size(18px);
        text-transform: none;
    }
}

.bonus-product-dialog {
    .ui-dialog-title {
        display: none;
    }
    .promotion {
        @include font-size(18px);
        .tooltip {
            display: none;
        }
    }
}
