/* Global Overwrites */
.pt_product-details {
    #main {
        max-width: 100%;
        padding: 0;

        @include respond(large-up) {
            background: $pdp-bg;
        }
    }

    .breadcrumb {
        @include content-width();
    }

    .primary-content {
        padding: 0;
    }
}
/* Top Level Containers */
.pdp-top {
    @include respond(large-up) {
        @include content-width();
        display: flex;
        flex-wrap: wrap;
    }
}

.pdp-bottom {
    @include clearfix();
    background: $pdp-bg;
    margin-top: 40px;
    overflow: hidden;

    @include respond(large-up) {
        background: $product-detail-bg;
    }

    .product-info {
        @include content-width();
    }
}

.top-mobile-product-container {
    padding: 12px 10px 0;

    @include respond(large-up) {
        display: none;
    }
}

#product-nav-container {
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 160px;

    div {
        float: left;
        text-align: center;
        width: 77px;
    }

    img {
        max-height: 100%;
        max-width: 80%;
    }

    span {
        display: block;
        height: 65px;
    }

    .divided span {
        border-right: $border;
        padding-right: 5px;
    }

    @include respond(medium-down) {
        bottom: 0;
        width: 100%;

        div {
            width: 60px;

            &.product-next {
                float: right;
            }
        }

        .divided span {
            border: 0;
        }
    }
}

.main-image {
    display: block;
}

.primary-image {
    max-width: 100%;
}

.product-thumbnails {
    .product-thumbnails-container {
        padding: 0 22px;
        box-sizing: border-box;

        @include respond(large-up) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 40px;
        }

        .slick-slide {
            padding: 0;

            &:nth-child(odd),
            &:nth-child(even) {
                @include respond(large-up) {
                    padding: 0 rem(5px);
                }
                @include respond(desktop) {
                    padding: 0 rem(10px);
                }
            }
        }

        .slick-prev {
            @include respond(large-up) {
                left: 0;
            }
        }

        .slick-next {
            @include respond(large-up) {
                right: 0;
            }
        }

        button {
            border: 0;
            top: 50%;

            &::before {
                border-color: $carousel-pdp-thumb-arrow;
            }

            &:hover {
                &::before {
                    border-color: $carousel-pdp-thumb-arrow-hover;
                }
            }
        }

        .slick-dots {
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            width: auto;
            height: 20px;

            li {
                width: $carousel-pdp-thumb-dots-container-width;
                height: $carousel-pdp-thumb-dots-container-height;
                margin: 0 rem(3px);

                button {
                    &::before {
                        border: $carousel-pdp-thumb-dots-border;
                        background-color: $carousel-pdp-thumb-dots;
                        width: $carousel-pdp-thumb-dots-width;
                        height: $carousel-pdp-thumb-dots-height;
                        opacity: 0.3;
                    }
                }

                &.slick-active {
                    button {
                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    // thumbnail
    .thumb {
        @include respond(large-up) {
            box-sizing: border-box;
            width: 65px;
            border: $border;
            margin: 4.5px;
        }

        @include respond(desktop) {
            width: 80px;
        }

        a {
            @include respond(large-up) {
                display: block;
                padding: 5px 4px 0;
                margin: 0 1px;
            }
        }

        &.selected {
            a {
                @include respond(large-up) {
                    border-bottom: $border-thumb-pdp;
                    margin-bottom: 1px;
                }
            }
        }

        ~ .thumb:not(.slick-slide) {
            display: none;

            @include respond(large-up) {
                display: block;
            }
        }
    }

    // thumbnail image
    img {
        box-sizing: border-box;
        cursor: pointer;
        max-width: 100%;
        height: auto;
        display: block;
        vertical-align: top;
        margin: 0 auto 2px;
    }

    h2 {
        margin: 1rem 0 .3rem;
    }
}

.rating {
    color: $rating-color;

    .product-info & {
        font-size: 2em;
    }
}

.product-variations,
.product-options {
    .attribute {
        clear: both;
        margin: 0;
        padding: 0;
        position: relative;

        h3,
        .label {
            @include typo-product-attr-title();
            color: $variation-title-color;
        }

        .value {
            width: 100%;
        }

        .selected-value {
            @include typo-product-attr-value();
            border: 0 none;
            color: $variation-active-color;
        }

        .size-chart-link {
            clear: both;
            float: none;

            a {
                border-color: $base-bg !important;
                padding: 0;
            }
        }
    }

    .swatches {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -9px 0 0;

        li {
            &:hover,
            &.selected {
                a {
                    color: $swatch-selected-color;
                    border-color: $swatch-selected-border-color;
                }
            }

            &.unselectable,
            &.outofstock {
                position: relative;

                a {
                    color: $swatch-unselectable-color;
                    border-color: $swatch-unselectable-border-color;
                    opacity: 0.8;
                }

                &:hover a {
                    color: $swatch-unselectable-hover-color;
                    border-color: $swatch-unselectable-hover-border-color;
                    text-decoration: none;
                    cursor: default;
                }
            }

            a {
                color: $swatch-text-color;
                border-color: $swatch-border-color;
                border-style: solid;
                border-width: 1px 1px 3px;
                display: block;
                margin: 0 .5rem .5rem 0;
                padding: 1px;
                text-align: center;
                white-space: nowrap;
            }
        }
    }

    .color,
    .size {
        box-sizing: border-box;
        padding: 0;

        li {
            box-sizing: border-box;
            border: $border;
            margin: 0 9px 9px 0;

            a {
                border: none;
                margin: 0 1px;
            }

            &.selected {
                a {
                    border-bottom: $border-thumb-pdp;
                    margin-bottom: 1px;
                }
            }
        }
    }

    .color {
        li {
            width: 52px;

            @include respond(large-up) {
                width: 61px;
            }

            &.unselectable,
            &.outofstock {
                &::after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: -13px;
                    left: 50%;
                    transform: rotateZ(57deg);
                    height: 61px;
                    border-left: $border;

                    @include respond(large-up) {
                        top: -16px;
                        left: 50%;
                        transform: rotateZ(58deg);
                        height: 70px;
                    }
                }

                a {
                    opacity: 0.25;
                }
            }

            a {
                line-height: 0;
                padding: 5px 5px 8px;
            }

            img {
                width: 100%;
            }

            &.selected {
                a {
                    padding: 5px;
                }
            }
        }
    }

    .size {
        li {
            width: 42px;

            @include respond(large-up) {
                width: 41px;
            }

            &.unselectable {
                &::after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: -8px;
                    left: 50%;
                    transform: rotateZ(45deg);
                    height: 55px;
                    border-left: $border;
                }
            }

            a {
                line-height: 33px;
                padding: 0;
                border-top: 3px solid $white;
                border-bottom: 3px solid $white;
            }
        }
    }
}

.product-options {
    .label {
        @include line-height(24px);
        width: 80%;
        margin: 0 0 .3rem 0;
    }
}

.product-variations {
    ul {
        li.attribute {
            &:first-child {
                .label {
                    width: 75%;
                    word-wrap: break-word;
                }
            }
        }
    }
    .label {
        @include line-height(24px);
        display: inline-block;
        margin: 0 0 .3rem 0;
    }
}

#product-notify-content {
    ul {
        li.attribute {
            &:first-child {
                width: 100%;
            }
        }
    }
}

.product-set .product-add-to-cart {
    display: block;
}

.pdp-main {
    @include clearfix();
    @include font-thin;
    margin: 0;

    @include respond(large-up) {
        padding-top: rem(20px);
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    label {
        padding: 0;
        text-align: left;
        text-transform: uppercase;
        width: auto;
    }

    .product-col-1,
    .product-col-2 {
        box-sizing: border-box;
        background: $pdp-light-bg;

        @include respond(large-up) {
            border: $border;
        }
    }

    .product-col-1 {
        @include respond(large-up) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: calc(97.6% - 343px);
            padding: 20px 20px 36px;
        }

        @include respond(desktop) {
            width: 64.6%;
            padding: 20px 45px 36px;
        }
    }

    .product-col-2 {
        padding: 0 10px;

        @include respond(large-up) {
            width: 343px;
            padding: 25px;
            margin-left: 2.4%;
        }

        @include respond(desktop) {
            width: 33%;
        }

        .product-name {
            display: none;

            @include respond(large-up) {
                display: block;
            }
        }

        .price-standard {
            padding-right: rem(5px);
        }
    }

    .product-primary-image {
        max-width: 100%;
        position: relative;
        text-align: center;
        &.with-thumbs {
            display: none;
            @include respond(large-up) {
                display: block;
            }
        }
    }
    .product-badge {
        width: 55px;
        z-index: 8;
        img {
            width: 100%;
        }
     }



    .product-info {
        // Height for PDP Tabs
        @include respond(large-up) {
            min-height: 25em;
            padding: 48px 0;
        }

        ul {
            @include font-size(13px);
            list-style: square;
            padding: 0 5em;

            @include respond(large-up) {
                padding-bottom: 1em;
                padding-top: 1em;
            }
        }
    }

    .product-name {
        @include typo-product-name();
        color: $product-name-color;
        margin: 0;
        padding-bottom: rem(9px);
    }

    .product-number {
        @include typo-product-number();
        color: $product-number-color;
        position: absolute;
        right: 0;
        top: rem(13px);
    }

    .product-price {
        float: left;
        width: 54%;
        @include typo-product-price();
        margin-bottom: rem(8px);
        color: $price-standard-color;

        .price-standard {
            color: $price-standard-color;
            text-decoration: line-through;
        }
        .price-standard + .price-sales {
            color: $price-sale-color;
        }
        del {
            &.price-standard {
                color: $price-standard-color-second;
            }
        }
        .price-tiered {
            color: $price-tiered-color;
        }
    }

    .product-review {
        @include clearfix();
        float: right;
        width: 46%;
        text-align: right;
        margin-bottom: rem(8px);
    }

    .product-main-attributes {
        .attribute {
            padding: .2em 0;
        }

        .label {
            padding: 0;
        }
    }

    .product-add-to-cart {
        margin: 0;
        padding: 0;
        overflow: hidden;

        .inventory {
            float: left;
            white-space: nowrap;

            label {
                display: inline;
                float: none;
                text-align: right;
            }

            input {
                @include typo-input-text();
                text-align: center;
                color: $input-text-color;
                height: rem(40px);
                width: rem(40px);
                border-color: $input-border-color;
                @include line-height(40px);
            }

            .quantity-button {
                @include font-size(14px);
                @include line-height(40px);
                height: rem(40px);
                width: rem(20px);
                border-color: $input-border-color;

                &.decrease {
                    @include line-height(40px);
                }
            }
        }

        button {
            float: right;
            font-weight: $font-wt-bold;
            height: rem(40px);
            white-space: nowrap;
            width: calc(100% - 87px);
        }
    }

    .availability-web {
        padding-bottom: 0;

        .label {
            @include typo-product-attr-title();
            margin-bottom: .3rem;
            color: $variation-title-color;
            text-transform: none;
            display: inline-block;
            line-height: 2em;
            margin-top: 0;
        }

        .availability-msg {
            display: inline-block;

            p {
                @include typo-product-attr-value();
                border: 0 none;
                color: $variation-active-color;
            }
        }

        .availability-novariation {
            @include typo-product-attr-value();
            display: inline-block;
            color: $error-color;
        }
    }

    .product-bottom-help-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 6px;

        h3 {
            @include font-reg(12px);
            margin-top: 0;
            color: $brand-color;

            a {
                text-transform: none;
            }
        }

        a {
            @include typo-link();
            display: inline-flex;
        }
    }

    .recommendations {
        @include clearfix();
        @include content-width();
        clear: left;
        padding: 2em 0;

        h2 {
            font-size: 2em;
            @include font-italic();
            font-weight: $font-wt-regular;
            margin-left: 14px;
        }

        #carousel-recommendations {
            margin: auto;
            position: relative;
        }

        li {
            width: 250px;

            img {
                margin: auto;
            }
        }

        .product-tile {
            padding: 0 2em;
        }
        .product-price {
            text-align: center;
            width: 100%;
            > span {
                color: $product-tile-price;
                display: block;
                width: 100%;
            }
        }
        .product-name {
            font-size: 1em;
            margin: .2em 0 0;
            padding-bottom: 0;
            width: 100%;
            a {
                color: $body-text-color;
            }
        }
        .product-tile:hover .recommendation-tooltip {
            display: block !important;
        }

        .recommendation-tooltip {
            background: none repeat scroll 0 0 $base-bg;
            border: $border2;
            left: 50%;
            position: absolute;
            text-align: left;
            top: 50%;
            width: 300px;
            z-index: 100;
        }
    }

    .promotion {
        @include typo-product-promo();
        overflow: hidden;
        padding-bottom: rem(15px);
        clear: both;
        .promotion-callout {
            color: $product-promotion-color;
        }
        a {
            text-transform: none;
        }
    }

    .product-set-list {
        margin: 0 0 0 6px;

        .product-set-item {
            clear: both;
            margin: 1em 0;
            overflow: hidden;
            padding: 1em 0 0;
        }

        .product-set-image {
            float: left;
            width: 22%;
        }

        .product-set-details {
            float: left;
            width: 78%;
        }

        .attribute {
            h3,
            .label {
                width: 25%;
            }
        }

        .product-name {
            float: none;
            font-size: 1.3em;
            margin: 0;
            width: auto;
        }

        .block-add-to-cart {
            background: none repeat scroll 0 0 $box-bg;
            clear: both;
            overflow: hidden;
            padding: .5em 0;

            .inventory {
                float: left;
                margin-left: 22%;
                width: 20%;
            }

            label {
                padding: .7em 0;
                text-align: left;
                width: 40%;
            }

            .input-text {
                width: 35px;
            }

            .product-price {
                float: left;
                @include typo-product-price();
            }

            button {
                float: right;
                font-size: .9em;
                margin: 3px 5px 0 0;
                padding-left: 1em;
                padding-right: 1em;
            }
        }
    }

    @include respond(medium-down) {
        .promotion .promotion-title {
            font-size: 86%;
        }

        .attribute {
            span.value {
                padding-top: 5px;
            }
        }

        .product-add-to-cart {
            .product-price {
                @include typo-product-price();
                width: 100%;
            }
        }

        .product-set-list {
            .product-set-image img {
                max-width: 90%;
            }

            .block-add-to-cart {
                .inventory {
                    margin: 0;
                    width: 23%;
                }

                .product-price {
                    @include typo-product-price();
                    width: 44%;
                }

                button {
                    font-size: .7em;
                }
            }
        }

        .product-review-links {
            margin-left: 6%;
        }

        .prSnippetTitle,
        .prSnippetRatingUnclickable {
            float: left;
        }
    }

    @include respond(large) {
        .product-set-list .block-add-to-cart button {
            font-size: .9em;
            margin-top: 3px;
        }
    }

    .product-variation-container {
        position: relative;
        padding-top: rem(9px);

        @include respond(large-up) {
            border-top: $border-light;
        }
    }

    .select-style {
        margin-bottom: rem(5px);
    }

    .product-mobile-change-position {
        @include clearfix();
    }

    .product-short-description {
        padding-bottom: rem(17px);
        clear: both;
        .product-short-description-small {
            overflow: hidden;
            max-height: rem(54px);
        }
        .product-short-description-full {
            display: none;
        }
    }

    .stock-notification-container {
        line-height: 12px;

        a {
            display: inline-block;
            color: $product-option-link-color;
        }
    }

    .size-chart-link {
        display: inline-block;
    }

    &#pdpMainNotify {
        padding: 0;
        margin: 0;

        @include respond(large-up) {
            display: flex;
        }

        #product-notify-content {
            .color {
                padding: 0;
                li {
                    width: 16.66%;
                }
            }
        }

        .variant-dropdown {
            width: 50%;
            display: inline-block;
        }

        .product-col-1,
        .product-detail {
            width: 100%;
        }

        .product-col-1 {
            @include respond(large-up) {
                width: 36.81%;
                padding-right: rem(45px);
                box-sizing: border-box;
            }
        }

        .product-detail {
            @include respond(large-up) {
                width: 63.18%;
                padding: rem(15px) rem(50px) 0;
                box-sizing: border-box;
            }
        }

        .product-primary-image {
            display: block;
        }

        #stock-notification {
            position: relative;
            padding: rem(15px) 0;

            #stock-notification-email-input {
                width: calc(100% - 170px);
            }

            #stock-notification-button {
                float: right;
            }

            #stock-notification-email-input-error {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }
}

.js .pdp-main .recommendations .product-tile .recommendation-tooltip {
    display: none !important;
}

// Tabs using just CSS, no javascript required unless tab content height exceeds minimum
.tabs {
    position: relative;
    text-align: center;
}

.tab {
    padding: 20px 0;
    border-bottom: $border;

    @include respond(large-up) {
        display: inline-block;
        float: none;
        padding: 0;
        border-bottom: none;
    }

    &:last-child {
        border-bottom: none;
    }

    &.active {
        .tab-label {
            .icon {
                transform: rotate(270deg);
            }
        }

        .tab-content {
            display: block;
        }
    }

    .tab-switch {
        display: none;
        &:checked {
            + .tab-label {
                @include respond(large-up) {
                    background: $trans;
                    border-bottom-color: $dialog-title-color;
                    color: $dialog-title-color;
                    transition: all 0.35s;
                    z-index: 1;
                }

                + .tab-content {
                    opacity: 1;
                    transition: all 0.35s;
                    z-index: 2;
                }
            }
        }
    }

    .tab-label {
        @include typo-dialog-title();
        border-bottom: 0;
        color: $dialog-title-color;
        display: block;
        font-weight: $font-wt-semibold;
        line-height: 1.6em;
        margin-bottom: 0;
        margin-right: 18px;
        position: relative;
        text-align: left;
        text-transform: none;
        top: 0;
        margin-top: 0;
        transition: all 0.25s;

        &::before {
            content: none !important;
        }

        @include respond(large-up) {
            padding: 0 1.25rem;
            border-bottom: 2px solid $border-color;
            text-align: center;
            cursor: pointer;

            &:hover {
                top: -0.25rem;
                transition: top 0.25s;
            }
        }

        .icon {
            fill: $dialog-title-color;
            float: right;
            margin-top: 10px;
            transform: rotate(90deg);

            @include respond(large-up) {
                display: none;
            }
        }
    }

    .tab-content {
        @include clearfix();
        display: none;
        padding: 1em 0;
        text-align: left;
        z-index: 1;

        @include respond(large-up) {
            display: block;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 84px;
            transition: all 0.35s;
            width: 100%;
        }

        ul {
            list-style: disc;
            margin: 0;
            padding: 0 0 0 15px;
        }

        .heading {
            @include typo-sub-heading-2();
            color: $dialog-title-color;
            margin-bottom: 15px;
            margin-top: 10px;

            @include respond(large-up) {
                margin-top: 0;
            }
        }

        .centered {
            text-align: left;

            @include respond(large-up) {
                text-align: center;
            }
        }

        .tab-left {
            @include typo-paragraph();
            border-top: $border-light-thick;
            border-right: $border-light-thick;
            padding: 70px 5% 70px 0;
            width: 100%;
            float: left;

            @include respond(large-up) {
                width: 45%;
            }

            &.first {
                border-top: 0;
                margin-top: 0;
                padding-top: 0;
            }

            &.tab-clear-left {
                clear: left;
            }
        }
        .product-care-text {
            border-top: none !important;
        }
        .tab-right {
            @include typo-paragraph();
            float: right;
            clear: right;
            margin-top: 15px;
            padding: 0;
            width: 100%;

            @include respond(large-up) {
                //border-left: $border-light-thick;
                margin-top: 0;
                padding: 0 0 0 5%;
                width: calc(43% - 2px);
            }

            &.first {
                padding-top: 0;
                margin-top: 0;
            }
        }

        .activities {
            @include typo-sub-heading-2();
            text-align: center;
            float: left;
            width: 50%;

            @include respond(large-up) {
                width: 25%;
            }

            img {
                height: 49px;
                width: 100%;
            }
        }

        .sustainability-icons {
            margin-top: 20px;
            text-align: center;

            img {
                display: inline-block;
                margin-right: 10px;
            }
        }

        .responsibility-msg {
            @include clearfix();
            margin-top: 20px;

            img {
                float: left;
                margin: 1em 1em 1em 0;
            }

            p {
                float: left;
                width: 100%;

                @include respond(large-up) {
                    width: 80%;
                }
            }
        }

        .tab-features {
            @include clearfix();
            margin: 0;
            padding: 0;
            list-style: none;
            width: 100%;

            li {
                clear: left;
                float: left;
                margin: 0 0 2% 0;
                width: 100%;

                @include respond(large-up) {
                    margin: 0 2% 2% 0;
                    width: 48%;

                    &:nth-of-type(2n) {
                        clear: none;
                        margin-right: 0;
                    }
                }
            }
        }

        .tab-recommended {
            border-bottom: $border-light-thick;
            border-top: $border-light-thick;
            float: left;
            margin-top: 20px;
            padding: 20px 0 0 0;
            width: 100%;

            @include respond(large-up) {
                border-bottom: 0;
                margin-top: 10px;
                padding: 25px 5% 0 0;
            }

            &:first {
                margin-top: 0;
                padding-top: 0;
            }
        }
    }
}

.js button.add-all-to-cart {
    display: inherit;
}

@include respond(medium-down) {
    .pt_product-details {
        .primary-content {
            position: relative;
            padding-bottom: 68px;
        }
        .breadcrumb .last {
            display: none;
        }
    }
}

.cart-popup-dialog {
    z-index: 9 !important;
    width: 100% !important;
    max-width: 100% !important;
    line-height: normal;
    border-radius: 0 !important;

    .ui-dialog-title {
        display: none;
    }

    .ui-dialog-titlebar {
        box-sizing: border-box;
        top: 12px;
        right: 10px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .ui-dialog-titlebar-close {
        top: 0;
        right: 0;
    }
}

.add-to-bag-confirmation-global {
    width: 100%;
    margin: 0 auto;

    @include respond(large-up) {
        display: flex;
        max-width: 1025px;
    }

    .product-list-item {
        .name {
            a {
                @include typo-product-name-small();
                color: $product-name-color;

                &:focus {
                    outline: none;
                }
            }
        }
        .sku {
            display: none;
        }
    }

    .label {
        @include typo-product-attr-title();
        color: $variation-title-color;
    }

    .value {
        @include typo-product-attr-value();
        color: $variation-active-color;
    }

    h2 {
        @include typo-product-name();
        margin: 0 0 25px 0;
        text-align: center;
        color: $page-heading-color;
    }

    .price-sales,
    .price-standard {
        @include typo-product-price();
        color: $cart-price;
    }

    .price-promotion {
        .price-sales {
            color: $price-sale-color;
        }

        .price-standard {
            text-decoration: line-through;
            color: $price-standard-color-second;
        }
    }

    .confirmation-checkout,
    .confirmation-view-cart {
        display: block;
    }

    .confirmation-checkout {
        max-width: 320px;
        margin: 25px auto 0;
        color: $btn-color;

        @include respond(large-up) {
            max-width: 285px;
            margin: 10px auto 0;
        }
    }

    .confirmation-view-cart {
        @include typo-paragraph();
        @include font-reg();
        margin: 12px 0 0;
    }

    .mini-cart-slot {
        display: none;
        padding: rem(10px) 0;

        @include respond(large-up) {
            display: block;
        }
    }
}

.add-to-bag-confirmation-global-subttotal {
    @include typo-footer-large-header();
    display: none;
    color: $cart-price;

    @include respond(large-up) {
        display: inline;
    }
}

.add-to-bag-confirmation-global-left,
.add-to-bag-confirmation-global-right {
    box-sizing: border-box;
    width: 100%;

    @include respond(large-up) {
        width: 50%;
    }
}

.add-to-bag-confirmation-global-left {
    @include clearfix();
    max-width: 320px;
    padding: 30px 25px 0;
    margin: 0 auto;
    text-align: center;


    @include respond(large-up) {
        max-width: none;
        padding: 0 10px 0 0;
        margin: 0;
        text-align: left;
    }
}
.add-to-bag-confirmation-global-right {
    text-align: center;
    padding: 0 14px 20px;

    @include respond(large-up) {
        padding: 0 0 0 rem(49px);
        border-left: $border;
        border-top: 0;
    }

    h2 {
        display: none;

        @include respond(large-up) {
            display: block;
        }
    }
}

.add-to-bag-confirmation-left-image {
    display: none;
    text-align: center;

    @include respond(large-up) {
        display: block;
        float: left;
        width: rem(120px);
        padding-right: rem(19px);
    }

    img {
        max-width: 100%;
    }
}

.add-to-bag-confirmation-left-product-data {
    text-align: left;
    line-height: 20px;

    @include respond(large-up) {
        width: calc(100% - 139px);
        float: left;
        line-height: 24px;
    }
}

.pdp-out-of-stock-notification {
    max-width: 98%;
    .ui-dialog-title {
        border-bottom: $border-light;
    }
}

.reviews {
    @include content-width();
}

/////////////////////////////////////////////
/// PDP Quickview
/////////////////////////////////////////////
.ui-dialog.Quickview {
    /* Hide the dialog box title */
    .ui-dialog-titlebar {
        .ui-dialog-title {
            display: none;
        }
    }
    .pdp-main {
        .product-col-1 {
            padding-right: 10%;
        }
    }
    .product-short-description {
        .product-text-hover {
            color: $body-text-color-lt;
        }
    }
    .product-short-description-small {
        @include typo-paragraph();
    }
    .product-add-to-cart {
        width: 100%;
    }
    .product-bottom-help-links {
        span {
            color: $brand-color;
        }
        a {
            color: $body-text-color-lt;
        }
    }
}

.product-awards {
    margin-top: 20px;
    li {
        float: left;
        margin-right: 15%;
        width: 15%;
        img {
            width: 100%;
        }
    }
}

.product-details-link {
    display: block;
    margin-bottom: 10px;
}

#QuickViewDialog {
    .product-col-1 {
        @include respond(large-up) {
            justify-content: start;
        }
        @include respond(desktop) {
            padding: 45px 45px 36px;
        }
    }
}
