.js {
    .ui-dialog {
        max-width: 93%;
        @include respond(medium-up) {
            max-width: 98%;
        }
        .ui-dialog-titlebar-close {
            z-index: 1;
        }
    }
    .ui-dialog-content {
        .product-col-1 {
            width: 100%;
            @include respond(medium-up) {
                width: 62.6%;
            }
            .product-image {
                max-width: 100%;
                outline: 0;
            }
        }
        .product-col-2 {
            width: 100%;
            @include respond(medium-up) {
                width: 34.5%;
            }
        }
        .pdp-main {
            padding-top: 0;
            .product-set-list {
                border: $border;
                height: 500px;
                overflow: auto;
                .product-set-item {
                    margin: 1em 0;
                }
                .product-set-image {
                    width: 25%;
                }
                .product-set-details {
                    width: 75%;
                }
                .product-name {
                    margin: 0;
                }
                .block-add-to-cart .price {
                    font-size: 1.5em;
                    padding: 0.4em 0 0;
                    width: 130px;
                }
            }
        }
        .bonus-product-list {
            .product-col-1 {
                width: 42%;
            }
            .product-thumbnails,
            .product-number,
            .inventory {
                display: none;
            }
            .product-col-2 {
                width: 45%;
                button {
                    width: 100%;
                }
            }
        }
    }
    .zoomPad {
        position: relative;
        float: left;
        z-index: 99;
        cursor: crosshair;
        width: 100%;
    }
    .zoomPreload {
        opacity: 0.8;
        color: $body-text-color-drk;
        @include font-thin(12px);
        text-decoration: none;
        border: $border2;
        background-color: $base-bg;
        padding: 8px;
        text-align: center;
        background-image: url("../images/zoomloader.gif");
        background-repeat: no-repeat;
        background-position: 43px 30px;
        z-index: 110;
        width: 90px;
        height: 43px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .zoomPup {
        overflow: hidden;
        background-color: $base-bg;
        opacity: 0.6;
        z-index: 120;
        position: absolute;
        border: $border2;
        z-index: 101;
        cursor: crosshair;
    }
    .zoomOverlay {
        position: absolute;
        left: 0;
        top: 0;
        background: $base-bg;
        z-index: 5000;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 101;
    }
    .zoomWindow {
        position: absolute;
        left: 110%;
        top: 40px;
        background: $base-bg;
        z-index: 6000;
        height: auto;
        z-index: 10000;
        z-index: 110;
    }
    .zoomWrapper {
        position: relative;
        border: $border3;
        z-index: 110;
    }
    .zoomWrapperTitle {
        display: block;
        background: lighten($box-drk-bg, 50%);
        color: $base-bg;
        height: 18px;
        line-height: 18px;
        width: 100%;
        overflow: hidden;
        text-align: center;
        @include font-size(10px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 120;
        opacity: 0.6;
    }
    .zoomWrapperImage {
        display: block;
        position: relative;
        overflow: hidden;
        z-index: 110;
        img {
            border: 0;
            display: block;
            position: absolute;
            z-index: 101;
        }
    }
    .zoomIframe {
        z-index: -1;
        opacity: 0.8;
        position: absolute;
        display: block;
    }
}

.quick-view-dialog {
    background: $pdp-bg;

    .ui-dialog-title {
        display: none;
    }

    .ui-dialog-titlebar-close {
        top: -15px;
        right: -15px;
    }
}

.quickview-nav {
    .quickview-next {
        float: right;
    }
}

@include respond(large-down) {
    #quickviewbutton {
        display: none !important;
    }
}
