.pt_countryselector {
    .primary-content {
        h1 {
            text-align: left;
        }

        .content-asset {
            display: inline-block;
            h2 {
                padding-bottom: 0;
                margin-bottom: 5px;
            }
        }
    }
}
